@import 'colors.scss';
.acland {

    h,
    .h {
        &1 {
            color: $cor-perfil;
            //font-size: 3.125rem!important;
            font-size: var(--font-size-1) !important;
            //line-height: var(--font-size-1);
        }

        &2 {
            color: $cor-perfil;
            //font-size: 2.5rem!important;
            font-size: var(--font-size-2) !important;
            //line-height: var(--font-size-2);
        }

        &3 {
            color: $cor-perfil;
            //font-size: 2.1875rem!important;
            font-size: var(--font-size-3) !important;
            //line-height: var(--font-size-3);
        }

        &4 {
            color: $cor-perfil;
            //font-size: 1.75rem!important;
            font-size: var(--font-size-4) !important;
            //line-height: var(--font-size-4);
        }

        &5 {
            color: $cor-perfil;
            //font-size: 1.5rem!important;
            font-size: var(--font-size-5) !important;
            //line-height: var(--font-size-5);
        }

        &6 {
            color: $cor-perfil;
            //font-size: 1rem!important;
            font-size: var(--font-size-6) !important;
            //line-height: var(--font-size-6);
        }
    }

    p {
        color: $verdee;
        //font-size: 1rem!important;
        font-size: var(--font-size-base) !important;
        //line-height: var(--font-size-base);
    }

    .small {
        color: $verdee;
        //font-size: .875rem!important;
        font-size: var(--font-size-small) !important;
        //line-height: var(--font-size-small);
    }

}