.comp_cards {
    padding: 100px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

    * {
        transition: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
    }

    .cartao {
        border: solid 1px var(--cinza-500);
        padding: 1.5rem 2rem !important;
        border-radius: 0.5rem !important;
        max-width: 100%;
        flex: 0 0 30% !important;
        min-width: 312px;

        @media (max-width:992px) {
            flex: 0 0 50% !important;
        }


        

        &:hover {
            border-color: var(--turq);
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            svg{
                fill: var(--turq);
            }
        }


        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-inline: auto;
            margin-bottom: 30px;
            flex-wrap: nowrap;
            width: 80%;
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--verdee);
            padding: .75rem;
            border-radius: 8px;
            width: 75px;
            height: 75px;
            flex: 0 0 75px !important;
            margin-inline: auto !important;

            svg,
            img {
                width: 80%;
                filter: brightness(10) saturate(0%) contrast(200%);
            }
        }


        .infos {
            flex: 0 0 70% !important;

            h2 {
                color: var(--turq) !important;
                font-weight: 700;
                font-size: 35px !important;
                line-height: 35px !important;
                margin-bottom: 0!important;
            }

            h2,
            p {
                margin-bottom: 0px !important;
            }

        }

    }
}