@font-face {
    font-family: "Sicoob sans";
    src: url('SicoobSansVariable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 75% 150%;
    font-style: normal;
}

@font-face {
    font-family: "Sicoob script";
    src: url('SicoobScriptVariable.woff2') format('woff2-variations');
    font-display: swap;
    font-weight: 100 1000;
    font-stretch: 75% 150%;
    font-style: normal;
}

