@charset "UTF-8";
:root {
  --turq-200: #00E0CA;
  --turq-300: #00CCB8;
  --turq: #00ae9d;
  --turq-500: #00A091;
  --turq-600: #009285;
  --verdee-200: #005566;
  --verdee-300: #004452;
  --verdee: #003641;
  --verdee-500: #002A33;
  --verdee-600: #001E24;
  --verdem-200: #92D421;
  --verdem-300: #86C21E;
  --verdem: #7DB61C;
  --verdem-500: #73A81A;
  --verdem-600: #679617;
  --verdec-200: #EAF500;
  --verdec-300: #D7E000;
  --verdec: #C9D200;
  --verdec-500: #B9C200;
  --verdec-600: #A6AD00;
  --roxo-200: #5956B3;
  --roxo-300: #4E4CA9;
  --roxo: #49479D;
  --roxo-500: #41408C;
  --roxo-600: #3B397E;
  --branco: #FFFFFF;
  --cinza-200: #F2F2F2;
  --cinza-300: #E9E9E9;
  --cinza-400: #D1D1D1;
  --cinza-500: #B4B4B4;
  --cinza-600: #9d9d9d;
  --cinza-700: #6e6e6e;
  --cinza-800: #5E5E5E;
  --cinza-900: #333;
  --preto: #000;
  --gradient-turq: radial-gradient(at 0% 100%, var(--turq-200) 0px, transparent 50%), radial-gradient(at 80% 100%, var(--turq-300) 0px, transparent 50%), radial-gradient(at 0% 0%, var(--turq-200) 0px, transparent 50%);
  --gradient-turq-line: linear-gradient(to right, var(--turq), var(--turq-600));
  --gradient-verdee: radial-gradient(at 0% 100%, hsla(190,79%,19%,1) 0px, transparent 50%),radial-gradient(at 80% 100%, hsla(190,79%,19%,1) 0px, transparent 50%),radial-gradient(at 0% 0%, hsla(190,79%,19%,1) 0px, transparent 50%);
  --gradient-verdee-line: linear-gradient(to right, var(--verdee), var(--verdee-600));
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
  --size-0:0rem;
  --size-1:0.25rem;
  --size-2:0.5rem;
  --size-3:1rem;
  --size-4:1.5rem;
  --size-5:3rem;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.15,1240,18,1.2,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* font-size -2: 12.10px → 12.50px */
  --font-size-minor: clamp(0.76rem, 0.75rem + 0.04vw, 0.78rem);
  /* font-size -1: 13.91px → 15.00px */
  --font-size-small: clamp(0.87rem, 0.85rem + 0.12vw, 0.94rem);
  /* font-size 0: 16.00px → 18.00px */
  --font-size-base: clamp(1.00rem, 0.96rem + 0.22vw, 1.13rem);
  /* font-size 1: 18.40px → 21.60px */
  --font-size-6: clamp(1.15rem, 1.08rem + 0.35vw, 1.35rem);
  /* font-size 2: 21.16px → 25.92px */
  --font-size-5: clamp(1.32rem, 1.22rem + 0.52vw, 1.62rem);
  /* font-size 3: 24.33px → 31.10px */
  --font-size-4: clamp(1.52rem, 1.37rem + 0.74vw, 1.94rem);
  /* font-size 4: 27.98px → 37.32px */
  --font-size-3: clamp(1.75rem, 1.55rem + 1.02vw, 2.33rem);
  /* font-size 5: 32.18px → 44.79px */
  --font-size-2: clamp(2.01rem, 1.74rem + 1.37vw, 2.80rem);
  /* font-size 6: 37.01px → 53.75px */
  --font-size-1: clamp(2.31rem, 1.95rem + 1.82vw, 3.36rem);
  --font-sans: "Sicoob sans", "Asap", sans-serif;
  --font-script: "Sicoob script", "Pacifico", cursive;
  --transparente: rgba(0, 0, 0, 0);
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
}

body.para-voce {
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
}
body.para-empresa {
  --cor-perfil-200: var(--verdee-200);
  --cor-perfil-300: var(--verdee-300);
  --cor-perfil: var(--verdee);
  --cor-perfil-500: var(--verdee-500);
  --cor-perfil-600: var(--verdee-600);
}
body.para-agronegocio {
  --cor-perfil-200: var(--verdem-200);
  --cor-perfil-300: var(--verdem-300);
  --cor-perfil: var(--verdem);
  --cor-perfil-500: var(--verdem-500);
  --cor-perfil-600: var(--verdem-600);
}/*# sourceMappingURL=root.css.map */