@import 'root.scss';
@import 'colors.scss';

/* 
--------------------------------
Accordions
https://www.sicoob.com.br/web/sicoobcentralscrs/desenrola-brasil
https://www.sicoob.com.br/web/relacaocooperados/governanca-corporativa

https://www.cssportal.com/css-cubic-bezier-generator/
--------------------------------
*/


/* 
--------------------------------
GERAIS
--------------------------------
*/


html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: 'Sicoob sans', 'Asap', sans-serif;
  font-family: var(--font-sans)!important;
}

.escrita, .script, .cursive, .cursiva, .pacifico{
  font-family: var(--font-script)!important;
}



@import 'liferay.scss';
@import 'fonte-sicoob.scss';

@import 'utilities.scss';
@import 'btn.scss';
@import 'acland.scss';
@import 'card.scss';
@import 'accordion.scss';
@import 'tabs.scss';