@import 'fonte-sicoob.scss';
@import 'root.scss';
@import 'colors.scss';

/* 
--------------------------------
GERAIS
--------------------------------
*/


html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: var(--font-sans)!important;
  color: var(--verdee);
}

.escrita, .script, .cursive, .cursiva, .pacifico{
  font-family: var(--font-script)!important;
  font-weight: 700;
}


@import 'liferay.scss';


@import 'acland.scss';

@import 'btn.scss';
@import 'card.scss';
@import 'accordion.scss';
@import 'tabs.scss';

@import 'utilities.scss';