@charset "UTF-8";
@import 'fonte/fonte-sicoob.css';
:root {
  --turq-200: #00E0CA;
  --turq-300: #00CCB8;
  --turq: #00ae9d;
  --turq-500: #00A091;
  --turq-600: #009285;
  --verdee-200: #005566;
  --verdee-300: #004452;
  --verdee: #003641;
  --verdee-500: #002A33;
  --verdee-600: #001E24;
  --verdem-200: #92D421;
  --verdem-300: #86C21E;
  --verdem: #7DB61C;
  --verdem-500: #73A81A;
  --verdem-600: #679617;
  --verdec-200: #EAF500;
  --verdec-300: #D7E000;
  --verdec: #C9D200;
  --verdec-500: #B9C200;
  --verdec-600: #A6AD00;
  --roxo-200: #5956B3;
  --roxo-300: #4E4CA9;
  --roxo: #49479D;
  --roxo-500: #41408C;
  --roxo-600: #3B397E;
  --branco: #FFFFFF;
  --cinza-200: #F2F2F2;
  --cinza-300: #E9E9E9;
  --cinza-400: #D1D1D1;
  --cinza-500: #B4B4B4;
  --cinza-600: #9d9d9d;
  --cinza-700: #6e6e6e;
  --cinza-800: #5E5E5E;
  --cinza-900: #333;
  --preto: #000;
  --transparente: rgba(0, 0, 0, 0);
  --gradient-turq: radial-gradient(at 0% 100%, var(--turq-200) 0px, transparent 50%), radial-gradient(at 80% 100%, var(--turq-300) 0px, transparent 50%), radial-gradient(at 0% 0%, var(--turq-200) 0px, transparent 50%);
  --gradient-turq-line: linear-gradient(to right, var(--turq), var(--turq-600));
  --gradient-verdee: radial-gradient(at 0% 100%, hsla(190, 79%, 19%, 1) 0px, transparent 50%), radial-gradient(at 80% 100%, hsla(190, 79%, 19%, 1) 0px, transparent 50%), radial-gradient(at 0% 0%, hsla(190, 79%, 19%, 1) 0px, transparent 50%);
  --gradient-verdee-line: linear-gradient(to right, var(--verdee), var(--verdee-600));
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
  --cor-apoio-200: var(--verdee-200);
  --cor-apoio-300: var(--verdee-300);
  --cor-apoio: var(--verdee);
  --cor-apoio-500: var(--verdee-500);
  --cor-apoio-600: var(--verdee-600);
  --cor-destaque-200: var(--verdec-200);
  --cor-destaque-300: var(--verdec-300);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-500);
  --cor-destaque-600: var(--verdec-600);
  --cor-base-200: var(--cinza-200);
  --cor-base-300: var(--cinza-300);
  --cor-base: var(--branco);
  --cor-base-500: var(--cinza-500);
  --cor-base-600: var(--cinza-600);
  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.15,1240,18,1.2,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* font-size -2: 12.10px → 12.50px */
  --font-size-minor: clamp(0.76rem, 0.75rem + 0.04vw, 0.78rem);
  /* font-size -1: 13.91px → 15.00px */
  --font-size-small: clamp(0.87rem, 0.85rem + 0.12vw, 0.94rem);
  /* font-size 0: 16.00px → 18.00px */
  --font-size-base: clamp(1.00rem, 0.96rem + 0.22vw, 1.13rem);
  /* font-size 1: 18.40px → 21.60px */
  --font-size-6: clamp(1.15rem, 1.08rem + 0.35vw, 1.35rem);
  /* font-size 2: 21.16px → 25.92px */
  --font-size-5: clamp(1.32rem, 1.22rem + 0.52vw, 1.62rem);
  /* font-size 3: 24.33px → 31.10px */
  --font-size-4: clamp(1.52rem, 1.37rem + 0.74vw, 1.94rem);
  /* font-size 4: 27.98px → 37.32px */
  --font-size-3: clamp(1.75rem, 1.55rem + 1.02vw, 2.33rem);
  /* font-size 5: 32.18px → 44.79px */
  --font-size-2: clamp(2.01rem, 1.74rem + 1.37vw, 2.80rem);
  /* font-size 6: 37.01px → 53.75px */
  --font-size-1: clamp(2.31rem, 1.95rem + 1.82vw, 3.36rem);
  --font-sans: "Sicoob sans", "Asap", sans-serif;
  --font-script: "Sicoob script", "Pacifico", cursive;
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
}

body, body.para-voce,
body .para-voce,
body .tema-turq {
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
  --cor-apoio-200: var(--verdee-200);
  --cor-apoio-300: var(--verdee-300);
  --cor-apoio: var(--verdee);
  --cor-apoio-500: var(--verdee-500);
  --cor-apoio-600: var(--verdee-600);
  --cor-destaque-200: var(--verdec-200);
  --cor-destaque-300: var(--verdec-300);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-500);
  --cor-destaque-600: var(--verdec-600);
  --cor-base-200: var(--cinza-200);
  --cor-base-300: var(--cinza-300);
  --cor-base: var(--branco);
  --cor-base-500: var(--cinza-500);
  --cor-base-600: var(--cinza-600);
}
body.para-empresa,
body .para-empresa,
body .tema-verdee {
  --cor-perfil-200: var(--verdee-200);
  --cor-perfil-300: var(--verdee-300);
  --cor-perfil: var(--verdee);
  --cor-perfil-500: var(--verdee-500);
  --cor-perfil-600: var(--verdee-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body.para-agronegocio,
body .para-agronegocio,
body .tema-verdem {
  --cor-perfil-200: var(--verdem-200);
  --cor-perfil-300: var(--verdem-300);
  --cor-perfil: var(--verdem);
  --cor-perfil-500: var(--verdem-500);
  --cor-perfil-600: var(--verdem-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body .tema-verdec {
  --cor-perfil-200: var(--verdec-200);
  --cor-perfil-300: var(--verdec-300);
  --cor-perfil: var(--verdec);
  --cor-perfil-500: var(--verdec-500);
  --cor-perfil-600: var(--verdec-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body .tema-dark {
  --cor-perfil-200: var(--turq-600);
  --cor-perfil-300: var(--turq-500);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-300);
  --cor-perfil-600: var(--turq-200);
  --cor-apoio-200: var(--cinza-600);
  --cor-apoio-300: var(--cinza-500);
  --cor-apoio: var(--branco);
  --cor-apoio-500: var(--cinza-300);
  --cor-apoio-600: var(--cinza-200);
  --cor-destaque-200: var(--verdec-600);
  --cor-destaque-300: var(--verdec-500);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-300);
  --cor-destaque-600: var(--verdec-200);
  --cor-base-200: var(--verdee-600);
  --cor-base-300: var(--verdee-500);
  --cor-base: var(--verdee);
  --cor-base-500: var(--verdee-300);
  --cor-base-600: var(--verdee-200);
}

/* 
--------------------------------
GERAIS
--------------------------------
*/
html {
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  font-family: var(--font-sans) !important;
  color: var(--cor-apoio);
  background: var(--cor-base);
}

.escrita, .script, .cursive, .cursiva, .pacifico {
  font-family: var(--font-script) !important;
  font-weight: 700;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body #content,
#content,
.portlet-column {
  padding: 0 !important;
}

.acland .portlet-column-content.empty {
  padding: 0 !important;
}

h1,
.h1 {
  color: var(--cor-perfil);
}
h2,
.h2 {
  color: var(--cor-perfil);
}
h3,
.h3 {
  color: var(--cor-perfil);
}
h4,
.h4 {
  color: var(--cor-perfil);
}
h5,
.h5 {
  color: var(--cor-perfil);
}
h6,
.h6 {
  color: var(--cor-perfil);
}

a {
  color: var(--cor-perfil);
}
a:hover {
  color: var(--cor-perfil-600);
}
a:focus {
  box-shadow: none !important;
}

.whatsapp.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  animation: all 1s ease-in-out;
}
.whatsapp.wpp img {
  width: 70px;
  height: auto;
}
.whatsapp.wpp:hover {
  transform: scale(0.95, 0.95);
}
.whatsapp.wpp .btn:focus {
  transform: scale(0.9, 0.9);
  box-shadow: none !important;
}

.acland h1,
.acland .h1 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-1) !important;
}
.acland h2,
.acland .h2 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-2) !important;
}
.acland h3,
.acland .h3 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-3) !important;
}
.acland h4,
.acland .h4 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-4) !important;
}
.acland h5,
.acland .h5 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-5) !important;
}
.acland h6,
.acland .h6 {
  color: var(--cor-perfil);
  font-weight: bold;
  font-size: var(--font-size-6) !important;
}
.acland p {
  color: var(--cor-apoio);
  font-size: var(--font-size-base) !important;
}
.acland .small {
  color: var(--cor-apoio);
  font-size: var(--font-size-small) !important;
}

/* BOTÕES */
.btn {
  --btn-bg: var(--cor-perfil);
  --btn-bg-hover: var(--cor-perfil-500);
  --btn-text: var(--cor-base);
  --btn-text-hover: var(--cor-base-300);
  outline: var(--size-0) !important;
  transition: var(--transition-2);
}
.btn-primary {
  border-color: var(--btn-bg) !important;
  background-color: var(--btn-bg) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
  font-weight: bold;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover {
  background-color: var(--btn-bg-hover) !important;
  border-color: var(--btn-bg-hover) !important;
  color: var(--btn-text-hover) !important;
  fill: var(--btn-text-hover) !important;
}
.btn-primary:focus-visible {
  outline: 0px !important;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  background-color: var(--btn-bg-hover);
  border-color: var(--btn-bg-hover);
  color: var(--btn-text-hover) !important;
  fill: var(--btn-text-hover) !important;
  box-shadow: none !important;
}
.btn-secondary {
  --btn-text:var(--cor-perfil);
  border-color: var(--btn-bg) !important;
  background-color: var(--transparente) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
  font-weight: bold;
  padding: 0.3rem 1rem;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle, .btn-secondary:hover {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
  color: var(--btn-text-hover) !important;
  fill: var(--btn-text-hover) !important;
}
.btn-secondary:focus-visible {
  outline: 0px !important;
}
.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  background-color: var(--btn-bg);
  border-color: var(--btn-bg);
  box-shadow: none !important;
}
.btn-click {
  transition: var(--transition-2);
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
}
.btn-click-shadow {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-click-img {
  box-shadow: none !important;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
}
.btn-click-img:hover {
  transform: translateX(2px) translateY(2px);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.btn-click-img:active {
  transform: translateX(4px) translateY(4px);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.btn-bg-perfil {
  --btn-bg: var(--cor-perfil);
  --btn-bg-hover: var(--cor-perfil-500);
}
.btn-bg-apoio {
  --btn-bg: var(--corapoio);
  --btn-bg-hover: var(--cor-apoio-500);
}
.btn-bg-base {
  --btn-bg: var(--cor-base);
  --btn-bg-hover: var(--cor-base-500);
}
.btn-bg-verdee {
  --btn-bg: var(--verdee);
  --btn-bg-hover: var(--verdee-500);
}
.btn-bg-verdee {
  --btn-bg: var(--verdee);
  --btn-bg-hover: var(--verdee-500);
}
.btn-bg-verdem {
  --btn-bg: var(--verdem);
  --btn-bg-hover: var(--verdem-500);
}
.btn-bg-verdec {
  --btn-bg: var(--verdec);
  --btn-bg-hover: var(--verdec-500);
}
.btn-bg-roxo {
  --btn-bg: var(--roxo);
  --btn-bg-hover: var(--roxo-500);
}
.btn-bg-preto {
  --btn-bg: var(--preto);
  --btn-bg-hover: var(--preto-500);
}
.btn-bg-branco {
  --btn-bg: var(--branco);
  --btn-bg-hover: var(--cinza-300);
}
.btn-bg-h-perfil {
  --btn-bg-hover: var(--cor-perfil-500);
}
.btn-bg-h-apoio {
  --btn-bg-hover: var(--cor-apoio-500);
}
.btn-bg-h-base {
  --btn-bg-hover: var(--cor-base-500);
}
.btn-bg-h-verdee {
  --btn-bg-hover: var(--verdee-500);
}
.btn-bg-h-verdee {
  --btn-bg-hover: var(--verdee-500);
}
.btn-bg-h-verdem {
  --btn-bg-hover: var(--verdem-500);
}
.btn-bg-h-verdec {
  --btn-bg-hover: var(--verdec-500);
}
.btn-bg-h-roxo {
  --btn-bg-hover: var(--roxo-500);
}
.btn-bg-h-preto {
  --btn-bg-hover: var(--preto-500);
}
.btn-bg-h-branco {
  --btn-bg-hover: var(--branco-300);
}
.btn-text-perfil {
  --btn-text: var(--cor-perfil);
  --btn-text-hover: var(--cor-perfil-300);
}
.btn-text-apoio {
  --btn-text: var(--cor-apoio);
  --btn-text-hover: var(--cor-apoio-300);
}
.btn-text-base {
  --btn-text: var(--cor-base);
  --btn-text-hover: var(--cor-base-300);
}
.btn-text-turq {
  --btn-text: var(--turq);
  --btn-text-hover: var(--turq-300);
}
.btn-text-verdee {
  --btn-text: var(--verdee);
  --btn-text-hover: var(--verdee-300);
}
.btn-text-verdem {
  --btn-text: var(--verdem);
  --btn-text-hover: var(--verdem-300);
}
.btn-text-verdec {
  --btn-text: var(--verdec);
  --btn-text-hover: var(--verdec-300);
}
.btn-text-roxo {
  --btn-text: var(--roxo);
  --btn-text-hover: var(--roxo-300);
}
.btn-text-preto {
  --btn-text: var(--preto);
  --btn-text-hover: var(--preto-300);
}
.btn-text-branco {
  --btn-text: var(--branco);
  --btn-text-hover: var(--cinza-200);
}
.btn-text-h-perfil {
  --btn-text-hover: var(--cor-perfil-300);
}
.btn-text-h-apoio {
  --btn-text-hover: var(--cor-apoio-300);
}
.btn-text-h-base {
  --btn-text-hover: var(--cor-base-300);
}
.btn-text-h-turq {
  --btn-text-hover: var(--turq-300);
}
.btn-text-h-verdee {
  --btn-text-hover: var(--verdee-300);
}
.btn-text-h-verdem {
  --btn-text-hover: var(--verdem-300);
}
.btn-text-h-verdec {
  --btn-text-hover: var(--verdec-300);
}
.btn-text-h-roxo {
  --btn-text-hover: var(--roxo-300);
}
.btn-text-h-preto {
  --btn-text-hover: var(--preto-300);
}
.btn-text-h-branco {
  --btn-text-hover: var(--cinza-200);
}

.acland .btn {
  padding: 0.375em 1em;
  border-radius: var(--size-2) !important;
  font-size: var(--font-size-base);
}

.acland-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.acland-cards * {
  transition: var(--transition-2);
}
.acland .card-link {
  border: solid 1px var(--cinza-400);
  padding: 1.5rem 2rem !important;
  border-radius: 0.5rem !important;
  max-width: 100%;
  flex: 0 0 30% !important;
  flex-direction: column;
  min-width: 312px;
  box-shadow: var(--box-shadow-1);
}
@media (max-width: 992px) {
  .acland .card-link {
    flex: 0 0 50% !important;
  }
}
.acland .card-link:hover {
  border-color: var(--cor-perfil);
  box-shadow: var(--box-shadow-2);
  transform: translateY(-2px);
  text-decoration: none !important;
  color: inherit;
}
.acland .card-link .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.acland .card-link .btn svg {
  fill: var(--cor-perfil);
  transition: none;
}
.acland .card-link .btn:hover svg {
  fill: var(--branco);
}
.acland .card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  width: 80%;
}
.acland .card-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--verdee);
  padding: 0.75rem;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  flex: 0 0 75px !important;
  margin-inline: auto !important;
}
.acland .card-logo svg,
.acland .card-logo img {
  max-width: 80%;
  max-height: 80%;
  filter: brightness(10) saturate(0%) contrast(200%);
}
.acland .card-info {
  flex: 0 0 70% !important;
}
.acland .card-title {
  color: var(--cor-perfil) !important;
  font-weight: 700;
  font-size: 35px !important;
  line-height: 35px !important;
  margin-bottom: 0 !important;
}
.acland .card-title, .acland .card-text {
  margin-bottom: 0px !important;
}

.acland.accordion .card,
.acland .accordion .card {
  margin-bottom: 1rem !important;
  background: transparent;
  border-radius: var(--size-2) !important;
  border: var(--size-0) !important;
}
.acland.accordion .card .card-header,
.acland .accordion .card .card-header {
  border: 0 !important;
  background: var(--cor-perfil) !important;
  border-radius: 0.5rem !important;
  padding: 0 !important;
  transition: var(--transition-1);
}
.acland.accordion .card .card-header:hover,
.acland .accordion .card .card-header:hover {
  background: var(--cor-perfil-500) !important;
}
.acland.accordion .card .btn,
.acland .accordion .card .btn {
  font-size: var(--font-size-base);
  width: 100%;
  color: var(--branco);
  text-decoration: none !important;
  outline: var(--size-0) !important;
  box-shadow: none !important;
  position: relative;
  padding: 1rem 2.25rem 1rem 1.25rem !important;
}
.acland.accordion .card .btn:after, .acland.accordion .card .btn:before,
.acland .accordion .card .btn:after,
.acland .accordion .card .btn:before {
  --minus-size: 16px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1,8.39v-2.78h12v2.78H1Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
  width: var(--minus-size);
  height: var(--minus-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.acland.accordion .card .btn.collapsed:after,
.acland .accordion .card .btn.collapsed:after {
  rotate: -90deg;
}
.acland.accordion .card .btn.collapsed:before,
.acland .accordion .card .btn.collapsed:before {
  rotate: -180deg;
}
.acland.accordion .card p,
.acland .accordion .card p {
  color: var(--cor-apoio);
}
.acland.accordion-line .card,
.acland .accordion-line .card {
  border: 2px solid var(--cor-perfil) !important;
}
.acland.accordion-line .card .card-header,
.acland .accordion-line .card .card-header {
  background: transparent !important;
}
.acland.accordion-line .card .card-header:hover,
.acland .accordion-line .card .card-header:hover {
  background: transparent !important;
}
.acland.accordion-line .card .btn,
.acland .accordion-line .card .btn {
  color: var(--verdee) !important;
}
.acland.accordion-line .card .btn:after, .acland.accordion-line .card .btn:before,
.acland .accordion-line .card .btn:after,
.acland .accordion-line .card .btn:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1,8.39v-2.78h12v2.78H1Z' fill='%23003641'/%3E%3C/svg%3E");
}

.acland .box {
  border-radius: var(--size-2);
  padding: var(--size-4);
  margin-bottom: var(--size-3);
  border: 1px solid var(--cor-perfil);
  background: var(--transparente);
}
.acland .box-bg {
  border-radius: var(--size-2);
  padding: var(--size-4);
  margin-bottom: var(--size-3);
  background: var(--cor-base);
  border: 1px solid var(--cor-base);
}

.iconlist {
  --iconlist-size: var(--size-5);
}
.iconlist-item {
  display: flex;
  place-items: center;
  margin-bottom: var(--size-4);
}
.iconlist-item:nth-last-child(1) {
  margin-bottom: var(--size-0);
}
.iconlist-icon {
  flex: 0 0 var(--iconlist-size);
  margin-right: var(--size-3);
}
.iconlist-icon svg {
  width: 100%;
  max-height: var(--iconlist-size);
  margin: auto;
}
.iconlist-text * {
  margin: 0px !important;
}

/* COR DAS FONTES */
.c-perfil {
  color: var(--cor-perfil) !important;
}
.c-perfil-200 {
  color: var(--cor-perfil-200) !important;
}
.c-perfil-300 {
  color: var(--cor-perfil-300) !important;
}
.c-perfil-500 {
  color: var(--cor-perfil-500) !important;
}
.c-perfil-600 {
  color: var(--cor-perfil-600) !important;
}
.c-apoio {
  color: var(--cor-apoio) !important;
}
.c-apoio-200 {
  color: var(--cor-apoio-200) !important;
}
.c-apoio-300 {
  color: var(--cor-apoio-300) !important;
}
.c-apoio-500 {
  color: var(--cor-apoio-500) !important;
}
.c-apoio-600 {
  color: var(--cor-apoio-600) !important;
}
.c-destaque {
  color: var(--cor-destaque) !important;
}
.c-destaque-200 {
  color: var(--cor-destaque-200) !important;
}
.c-destaque-300 {
  color: var(--cor-destaque-300) !important;
}
.c-destaque-500 {
  color: var(--cor-destaque-500) !important;
}
.c-destaque-600 {
  color: var(--cor-destaque-600) !important;
}
.c-base {
  color: var(--cor-base) !important;
}
.c-base-200 {
  color: var(--cor-base-200) !important;
}
.c-base-300 {
  color: var(--cor-base-300) !important;
}
.c-base-500 {
  color: var(--cor-base-500) !important;
}
.c-base-600 {
  color: var(--cor-base-600) !important;
}
.c-turq {
  color: var(--turq) !important;
}
.c-turq-200 {
  color: var(--turq-200) !important;
}
.c-turq-300 {
  color: var(--turq-300) !important;
}
.c-turq-500 {
  color: var(--turq-500) !important;
}
.c-turq-600 {
  color: var(--turq-600) !important;
}
.c-verdee {
  color: var(--verdee) !important;
}
.c-verdee-200 {
  color: var(--verdee-200) !important;
}
.c-verdee-300 {
  color: var(--verdee-300) !important;
}
.c-verdee-500 {
  color: var(--verdee-500) !important;
}
.c-verdee-600 {
  color: var(--verdee-600) !important;
}
.c-verdem {
  color: var(--verdem) !important;
}
.c-verdem-200 {
  color: var(--verdem-200) !important;
}
.c-verdem-300 {
  color: var(--verdem-300) !important;
}
.c-verdem-500 {
  color: var(--verdem-500) !important;
}
.c-verdem-600 {
  color: var(--verdem-600) !important;
}
.c-verdec {
  color: var(--verdec) !important;
}
.c-verdec-200 {
  color: var(--verdec-200) !important;
}
.c-verdec-300 {
  color: var(--verdec-300) !important;
}
.c-verdec-500 {
  color: var(--verdec-500) !important;
}
.c-verdec-600 {
  color: var(--verdec-600) !important;
}
.c-roxo {
  color: var(--roxo) !important;
}
.c-roxo-200 {
  color: var(--roxo-200) !important;
}
.c-roxo-300 {
  color: var(--roxo-300) !important;
}
.c-roxo-500 {
  color: var(--roxo-500) !important;
}
.c-roxo-600 {
  color: var(--roxo-600) !important;
}
.c-cinza-200 {
  color: var(--cinza-200) !important;
}
.c-cinza-300 {
  color: var(--cinza-300) !important;
}
.c-cinza-400 {
  color: var(--cinza-400) !important;
}
.c-cinza-500 {
  color: var(--cinza-500) !important;
}
.c-cinza-600 {
  color: var(--cinza-600) !important;
}
.c-cinza-700 {
  color: var(--cinza-700) !important;
}
.c-cinza-800 {
  color: var(--cinza-800) !important;
}
.c-cinza-900 {
  color: var(--cinza-900) !important;
}
.c-branco {
  color: var(--branco) !important;
}
.c-preto {
  color: var(--preto) !important;
}

/* COR DOS FUNDOS */
.bg-perfil {
  background-color: var(--cor-perfil) !important;
}
.bg-perfil-200 {
  background-color: var(--cor-perfil-200) !important;
}
.bg-perfil-300 {
  background-color: var(--cor-perfil-300) !important;
}
.bg-perfil-500 {
  background-color: var(--cor-perfil-500) !important;
}
.bg-perfil-600 {
  background-color: var(--cor-perfil-600) !important;
}
.bg-apoio {
  background-color: var(--cor-apoio) !important;
}
.bg-apoio-200 {
  background-color: var(--cor-apoio-200) !important;
}
.bg-apoio-300 {
  background-color: var(--cor-apoio-300) !important;
}
.bg-apoio-500 {
  background-color: var(--cor-apoio-500) !important;
}
.bg-apoio-600 {
  background-color: var(--cor-apoio-600) !important;
}
.bg-destaque {
  background-color: var(--cor-destaque) !important;
}
.bg-destaque-200 {
  background-color: var(--cor-destaque-200) !important;
}
.bg-destaque-300 {
  background-color: var(--cor-destaque-300) !important;
}
.bg-destaque-500 {
  background-color: var(--cor-destaque-500) !important;
}
.bg-destaque-600 {
  background-color: var(--cor-destaque-600) !important;
}
.bg-base {
  background-color: var(--cor-base) !important;
}
.bg-base-200 {
  background-color: var(--cor-base-200) !important;
}
.bg-base-300 {
  background-color: var(--cor-base-300) !important;
}
.bg-base-500 {
  background-color: var(--cor-base-500) !important;
}
.bg-base-600 {
  background-color: var(--cor-base-600) !important;
}
.bg-turq {
  background-color: var(--turq) !important;
}
.bg-turq-200 {
  background-color: var(--turq-200) !important;
}
.bg-turq-300 {
  background-color: var(--turq-300) !important;
}
.bg-turq-500 {
  background-color: var(--turq-500) !important;
}
.bg-turq-600 {
  background-color: var(--turq-600) !important;
}
.bg-verdee {
  background-color: var(--verdee) !important;
}
.bg-verdee-200 {
  background-color: var(--verdee-200) !important;
}
.bg-verdee-300 {
  background-color: var(--verdee-300) !important;
}
.bg-verdee-500 {
  background-color: var(--verdee-500) !important;
}
.bg-verdee-600 {
  background-color: var(--verdee-600) !important;
}
.bg-verdem {
  background-color: var(--verdem) !important;
}
.bg-verdem-200 {
  background-color: var(--verdem-200) !important;
}
.bg-verdem-300 {
  background-color: var(--verdem-300) !important;
}
.bg-verdem-500 {
  background-color: var(--verdem-500) !important;
}
.bg-verdem-600 {
  background-color: var(--verdem-600) !important;
}
.bg-verdec {
  background-color: var(--verdec) !important;
}
.bg-verdec-200 {
  background-color: var(--verdec-200) !important;
}
.bg-verdec-300 {
  background-color: var(--verdec-300) !important;
}
.bg-verdec-500 {
  background-color: var(--verdec-500) !important;
}
.bg-verdec-600 {
  background-color: var(--verdec-600) !important;
}
.bg-roxo {
  background-color: var(--roxo) !important;
}
.bg-roxo-200 {
  background-color: var(--roxo-200) !important;
}
.bg-roxo-300 {
  background-color: var(--roxo-300) !important;
}
.bg-roxo-500 {
  background-color: var(--roxo-500) !important;
}
.bg-roxo-600 {
  background-color: var(--roxo-600) !important;
}
.bg-cinza-200 {
  background-color: var(--cinza-200) !important;
}
.bg-cinza-300 {
  background-color: var(--cinza-300) !important;
}
.bg-cinza-400 {
  background-color: var(--cinza-400) !important;
}
.bg-cinza-500 {
  background-color: var(--cinza-500) !important;
}
.bg-cinza-600 {
  background-color: var(--cinza-600) !important;
}
.bg-cinza-700 {
  background-color: var(--cinza-700) !important;
}
.bg-cinza-800 {
  background-color: var(--cinza-800) !important;
}
.bg-cinza-900 {
  background-color: var(--cinza-900) !important;
}
.bg-branco {
  background-color: var(--branco) !important;
}
.bg-preto {
  background-color: var(--preto) !important;
}
.bg-gradient-turq {
  background-color: var(--turq);
  background-image: var(--gradient-turq);
}
.bg-gradient-turq-line {
  background-color: var(--turq);
  background-image: var(--gradient-turq-line);
}
.bg-gradient-verdee {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee);
}
.bg-gradient-verdee-line {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee-line);
}

/* COR, PESO E RADIUS DA BORDA */
.border-perfil {
  border-color: var(--cor-perfil) !important;
}
.border-perfil-200 {
  border-color: var(--cor-perfil-200) !important;
}
.border-perfil-300 {
  border-color: var(--cor-perfil-300) !important;
}
.border-perfil-500 {
  border-color: var(--cor-perfil-500) !important;
}
.border-perfil-600 {
  border-color: var(--cor-perfil-600) !important;
}
.border-apoio {
  border-color: var(--cor-apoio) !important;
}
.border-apoio-200 {
  border-color: var(--cor-apoio-200) !important;
}
.border-apoio-300 {
  border-color: var(--cor-apoio-300) !important;
}
.border-apoio-500 {
  border-color: var(--cor-apoio-500) !important;
}
.border-apoio-600 {
  border-color: var(--cor-apoio-600) !important;
}
.border-destaque {
  border-color: var(--cor-destaque) !important;
}
.border-destaque-200 {
  border-color: var(--cor-destaque-200) !important;
}
.border-destaque-300 {
  border-color: var(--cor-destaque-300) !important;
}
.border-destaque-500 {
  border-color: var(--cor-destaque-500) !important;
}
.border-destaque-600 {
  border-color: var(--cor-destaque-600) !important;
}
.border-base {
  border-color: var(--cor-base) !important;
}
.border-base-200 {
  border-color: var(--cor-base-200) !important;
}
.border-base-300 {
  border-color: var(--cor-base-300) !important;
}
.border-base-500 {
  border-color: var(--cor-base-500) !important;
}
.border-base-600 {
  border-color: var(--cor-base-600) !important;
}
.border-turq {
  border-color: var(--turq) !important;
}
.border-turq-200 {
  border-color: var(--turq-200) !important;
}
.border-turq-300 {
  border-color: var(--turq-300) !important;
}
.border-turq-500 {
  border-color: var(--turq-500) !important;
}
.border-turq-600 {
  border-color: var(--turq-600) !important;
}
.border-verdee {
  border-color: var(--verdee) !important;
}
.border-verdee-200 {
  border-color: var(--verdee-200) !important;
}
.border-verdee-300 {
  border-color: var(--verdee-300) !important;
}
.border-verdee-500 {
  border-color: var(--verdee-500) !important;
}
.border-verdee-600 {
  border-color: var(--verdee-600) !important;
}
.border-verdem {
  border-color: var(--verdem) !important;
}
.border-verdem-200 {
  border-color: var(--verdem-200) !important;
}
.border-verdem-300 {
  border-color: var(--verdem-300) !important;
}
.border-verdem-500 {
  border-color: var(--verdem-500) !important;
}
.border-verdem-600 {
  border-color: var(--verdem-600) !important;
}
.border-verdec {
  border-color: var(--verdec) !important;
}
.border-verdec-200 {
  border-color: var(--verdec-200) !important;
}
.border-verdec-300 {
  border-color: var(--verdec-300) !important;
}
.border-verdec-500 {
  border-color: var(--verdec-500) !important;
}
.border-verdec-600 {
  border-color: var(--verdec-600) !important;
}
.border-roxo {
  border-color: var(--roxo) !important;
}
.border-roxo-200 {
  border-color: var(--roxo-200) !important;
}
.border-roxo-300 {
  border-color: var(--roxo-300) !important;
}
.border-roxo-500 {
  border-color: var(--roxo-500) !important;
}
.border-roxo-600 {
  border-color: var(--roxo-600) !important;
}
.border-cinza-200 {
  border-color: var(--cinza-200) !important;
}
.border-cinza-300 {
  border-color: var(--cinza-300) !important;
}
.border-cinza-400 {
  border-color: var(--cinza-400) !important;
}
.border-cinza-500 {
  border-color: var(--cinza-500) !important;
}
.border-cinza-600 {
  border-color: var(--cinza-600) !important;
}
.border-cinza-700 {
  border-color: var(--cinza-700) !important;
}
.border-cinza-800 {
  border-color: var(--cinza-800) !important;
}
.border-cinza-900 {
  border-color: var(--cinza-900) !important;
}
.border-branco {
  border-color: var(--branco) !important;
}
.border-preto {
  border-color: var(--preto) !important;
}
.border-1 {
  border-style: solid !important;
  border-width: 1px !important;
}
.border-2 {
  border-style: solid !important;
  border-width: 2px !important;
}
.border-3 {
  border-style: solid !important;
  border-width: 3px !important;
}
.border-4 {
  border-style: solid !important;
  border-width: 4px !important;
}
.border-5 {
  border-style: solid !important;
  border-width: 5px !important;
}
.border-radius-0 {
  border-radius: 0rem !important;
}
.border-radius-1 {
  border-radius: var(--size-1) !important;
}
.border-radius-2 {
  border-radius: var(--size-2) !important;
}
.border-radius-3 {
  border-radius: var(--size-3) !important;
}
.border-radius-4 {
  border-radius: var(--size-4) !important;
}
.border-radius-4 {
  border-radius: var(--size-5) !important;
}
.border-radius-025 {
  border-radius: 0.25rem !important;
}
.border-radius-05 {
  border-radius: 0.5rem !important;
}
.border-radius-075 {
  border-radius: 0.75rem !important;
}
.border-radius-10 {
  border-radius: 1rem !important;
}
.border-radius-15 {
  border-radius: 1.5rem !important;
}
.border-radius-20 {
  border-radius: 2rem !important;
}
.border-radius-25 {
  border-radius: 2.5rem !important;
}
.border-radius-round {
  border-radius: 100rem !important;
}

/* PESO DAS FONTES */
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-bold {
  font-weight: 700 !important;
}

/* TAMANHO DAS FONTES */
.fs-1 {
  font-size: var(--font-size-1) !important;
  line-height: calc(0.5rem + var(--font-size-1));
}
.fs-2 {
  font-size: var(--font-size-2) !important;
  line-height: calc(0.5rem + var(--font-size-2));
}
.fs-3 {
  font-size: var(--font-size-3) !important;
  line-height: calc(0.5rem + var(--font-size-3));
}
.fs-4 {
  font-size: var(--font-size-4) !important;
  line-height: calc(0.5rem + var(--font-size-4));
}
.fs-5 {
  font-size: var(--font-size-5) !important;
  line-height: calc(0.5rem + var(--font-size-5));
}
.fs-6 {
  font-size: var(--font-size-6) !important;
  line-height: calc(0.5rem + var(--font-size-6));
}
.fs-base {
  font-size: var(--font-size-base) !important;
  line-height: calc(0.3rem + var(--font-size-base));
}
.fs-small {
  font-size: var(--font-size-small) !important;
  line-height: calc(0.3rem + var(--font-size-small));
}
.fs-08 {
  font-size: 0.8rem !important;
}
.fs-100 {
  font-size: 1rem !important;
}
.fs-125 {
  font-size: 1.25rem !important;
}
.fs-150 {
  font-size: 1.5rem !important;
}
.fs-175 {
  font-size: 1.75rem !important;
}
.fs-200 {
  font-size: 2rem !important;
}
.fs-225 {
  font-size: 2.25rem !important;
}
.fs-250 {
  font-size: 2.5rem !important;
}
.fs-275 {
  font-size: 2.75rem !important;
}
.fs-300 {
  font-size: 3rem !important;
}
.fs-400 {
  font-size: 4rem !important;
}
.fs-500 {
  font-size: 5rem !important;
}

/* ALINHAMENTO */
.center-s {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.center-v {
  display: flex !important;
  align-items: center !important;
}
.center-h {
  display: flex !important;
  justify-content: center !important;
}

.place-center {
  place-content: center;
}

/* FILL */
.fill-perfil {
  fill: var(--cor-perfil) !important;
}
.fill-perfil-200 {
  fill: var(--cor-perfil-200) !important;
}
.fill-perfil-300 {
  fill: var(--cor-perfil-300) !important;
}
.fill-perfil-500 {
  fill: var(--cor-perfil-500) !important;
}
.fill-perfil-600 {
  fill: var(--cor-perfil-600) !important;
}
.fill-apoio {
  fill: var(--cor-apoio) !important;
}
.fill-apoio-200 {
  fill: var(--cor-apoio-200) !important;
}
.fill-apoio-300 {
  fill: var(--cor-apoio-300) !important;
}
.fill-apoio-500 {
  fill: var(--cor-apoio-500) !important;
}
.fill-apoio-600 {
  fill: var(--cor-apoio-600) !important;
}
.fill-destaque {
  fill: var(--cor-destaque) !important;
}
.fill-destaque-200 {
  fill: var(--cor-destaque-200) !important;
}
.fill-destaque-300 {
  fill: var(--cor-destaque-300) !important;
}
.fill-destaque-500 {
  fill: var(--cor-destaque-500) !important;
}
.fill-destaque-600 {
  fill: var(--cor-destaque-600) !important;
}
.fill-base {
  fill: var(--cor-base) !important;
}
.fill-base-200 {
  fill: var(--cor-base-200) !important;
}
.fill-base-300 {
  fill: var(--cor-base-300) !important;
}
.fill-base-500 {
  fill: var(--cor-base-500) !important;
}
.fill-base-600 {
  fill: var(--cor-base-600) !important;
}
.fill-turq {
  fill: var(--turq) !important;
}
.fill-turq-200 {
  fill: var(--turq-200) !important;
}
.fill-turq-300 {
  fill: var(--turq-300) !important;
}
.fill-turq-500 {
  fill: var(--turq-500) !important;
}
.fill-turq-600 {
  fill: var(--turq-600) !important;
}
.fill-verdee {
  fill: var(--verdee) !important;
}
.fill-verdee-200 {
  fill: var(--verdee-200) !important;
}
.fill-verdee-300 {
  fill: var(--verdee-300) !important;
}
.fill-verdee-500 {
  fill: var(--verdee-500) !important;
}
.fill-verdee-600 {
  fill: var(--verdee-600) !important;
}
.fill-verdem {
  fill: var(--verdem) !important;
}
.fill-verdem-200 {
  fill: var(--verdem-200) !important;
}
.fill-verdem-300 {
  fill: var(--verdem-300) !important;
}
.fill-verdem-500 {
  fill: var(--verdem-500) !important;
}
.fill-verdem-600 {
  fill: var(--verdem-600) !important;
}
.fill-verdec {
  fill: var(--verdec) !important;
}
.fill-verdec-200 {
  fill: var(--verdec-200) !important;
}
.fill-verdec-300 {
  fill: var(--verdec-300) !important;
}
.fill-verdec-500 {
  fill: var(--verdec-500) !important;
}
.fill-verdec-600 {
  fill: var(--verdec-600) !important;
}
.fill-roxo {
  fill: var(--roxo) !important;
}
.fill-roxo-200 {
  fill: var(--roxo-200) !important;
}
.fill-roxo-300 {
  fill: var(--roxo-300) !important;
}
.fill-roxo-500 {
  fill: var(--roxo-500) !important;
}
.fill-roxo-600 {
  fill: var(--roxo-600) !important;
}
.fill-cinza-200 {
  fill: var(--cinza-200) !important;
}
.fill-cinza-300 {
  fill: var(--cinza-300) !important;
}
.fill-cinza-400 {
  fill: var(--cinza-400) !important;
}
.fill-cinza-500 {
  fill: var(--cinza-500) !important;
}
.fill-cinza-600 {
  fill: var(--cinza-600) !important;
}
.fill-cinza-700 {
  fill: var(--cinza-700) !important;
}
.fill-cinza-800 {
  fill: var(--cinza-800) !important;
}
.fill-cinza-900 {
  fill: var(--cinza-900) !important;
}
.fill-branco {
  fill: var(--branco) !important;
}
.fill-preto {
  fill: var(--preto) !important;
}

/* WIDTH */
.w-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }
}

/* HEIGTH */
.h {
  /* viewport */
  /* dinamic viewport */
}
.h-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}
.h-100 {
  height: 100%;
}
.hv-100 {
  height: 100vh;
}
.hdv-100 {
  height: 100dvh;
}

/* GAP */
.gap-0 {
  gap: var(--size-0) !important;
}
.gap-1 {
  gap: var(--size-1) !important;
}
.gap-2 {
  gap: var(--size-2) !important;
}
.gap-3 {
  gap: var(--size-3) !important;
}
.gap-4 {
  gap: var(--size-4) !important;
}
.gap-5 {
  gap: var(--size-5) !important;
}

/* BOX SHADOW */
.box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}
.box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}
.box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}
.box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}

/* TRANSITION */
.transition-1 {
  transition: var(--transition-1);
}
.transition-2 {
  transition: var(--box-shadow-2);
}

/* OPACITY */
.opacity-0 {
  opacity: 0;
}
.opacity-025 {
  opacity: 0.25;
}
.opacity-05 {
  opacity: 0.5;
}
.opacity-075 {
  opacity: 0.75;
}
.opacity-1 {
  opacity: 1;
}

.text-balance {
  text-wrap: balance;
}
.text-pretty {
  text-wrap: pretty;
}

.nowrap {
  white-space: nowrap;
}

.bg-mais {
  --plus-size: 24px;
  position: absolute;
  background-size: var(--plus-size) var(--plus-size);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23000000" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.turq {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2300ae9d" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdee {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23003641" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdem {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%237DB61C" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdec {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23C9D200" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.roxo {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2349479D" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.branco {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23FFFFFF" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}/*# sourceMappingURL=sicoob-styles.css.map */