.acland{

  .box{
  
    border-radius: $size-2;
    padding: $size-4;
    margin-bottom: $size-3;
    border: 1px solid $primary;
    background: $transparente;
    
  
    &-bg{
      border-radius: $size-2;
      padding: $size-4;
      margin-bottom: $size-3;
      background: $light;
      border: 1px solid $light;
    }
  }
  

}