/* BOTÕES */
@import "../essencial/variaveis.scss";

.btn {
  --btn-bg: #{ $primary-action };
  --btn-text: #{ $text-highlight-low };
  --btn-bg-hover: #{ $primary-default };
  --btn-text-hover: #{ $text-highlight-low };
  --btn-bg-active: #{ $primary-darkest };
  --btn-text-active: #{ $text-highlight-low };
  --btn-focus: #{ $primary-action };

  outline: $size-0 !important;
  transition: $transition-2;

  &:focus {
    box-shadow: none !important;
  }


  &-primary,
  &-default {
    // padding: 0.725em 1em;

    border-color: var(--btn-bg) !important;
    background-color: var(--btn-bg) !important;
    color: var(--btn-text) !important;
    fill: var(--btn-text) !important;
    font-weight: bold;

    &:hover {
      background-color: var(--btn-bg-hover) !important;
      border-color: var(--btn-bg-hover) !important;
      color: var(--btn-text-hover) !important;
      fill: var(--btn-text-hover) !important;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle {
      background-color: var(--btn-bg-active) !important;
      border-color: var(--btn-bg-active) !important;
      color: var(--btn-text-active) !important;
      fill: var(--btn-text-active) !important;
    }

    &:focus-visible,
    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      box-shadow: 0px 0px $size-2 0px var(--btn-focus);
      box-shadow: 0px 0px $size-2 0px color-mix(in srgb, var(--btn-focus) 80%, transparent);
      outline: 0px !important;
    }

  }

  &-secondary {
    // padding: 0.725em 1em;

    border-color: var(--btn-bg) !important;
    background-color: $transparente !important;
    color: var(--btn-bg) !important;
    fill: var(--btn-bg) !important;
    font-weight: bold;


    &:hover {
      background-color: var(--btn-bg) !important;
      border-color: var(--btn-bg) !important;
      color: var(--btn-text) !important;
      fill: var(--btn-text) !important;
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle {
      background-color: var(--btn-bg-hover) !important;
      border-color: var(--btn-bg-hover) !important;
      color: var(--btn-text-hover) !important;
      fill: var(--btn-text-hover) !important;
    }

    &:focus-visible,
    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      box-shadow: 0px 0px $size-2 0px var(--btn-focus);
      box-shadow: 0px 0px $size-2 0px color-mix(in srgb, var(--btn-focus) 80%, transparent);
      outline: 0px !important;
    }
  }

  &.btn-light,
  &.btn-branco {
    --btn-bg: #{ $background-low };
    --btn-text: #{ $support-1-medium };
    --btn-bg-hover: #{ $stroke-low };
    --btn-text-hover: #{ $support-1-medium };
    --btn-bg-active: #{ $text-default-low };
    --btn-text-active: #{ $text-highlight-low };
    --btn-focus: #{ $background-low };
  }

  &.btn-dark,
  &.btn-verdee {
    --btn-bg: #{ $support-1-medium };
    --btn-text: #{ $text-highlight-low };
    --btn-bg-hover: #{ $text-highlight-medium };
    --btn-text-hover: #{ $text-highlight-low };
    --btn-bg-active: #{ $tertiary-default };
    --btn-text-active: #{ $text-highlight-low };
    --btn-focus: #{ $support-1-medium };
  }

  &.btn-verdec {
    --btn-bg: #{ $brand-supplementary };
    --btn-text: #{ $support-1-medium };
    --btn-bg-hover: #{ $support-6-medium };
    --btn-text-hover: #{ $support-1-medium };
    --btn-bg-active: #{ $support-6-high };
    --btn-text-active: #{ $text-highlight-low };
    --btn-focus: #{ $brand-supplementary };
  }

  &.btn-verdem {
    
    --btn-bg: #{ $brand-complementary };
    --btn-text: #{ $support-1-medium };
    --btn-bg-hover: #{ $support-5-medium };
    --btn-text-hover: #{ $support-1-medium };
    --btn-bg-active: #{ $support-5-high };
    --btn-text-active: #{ $text-highlight-low };
    --btn-focus: #{ $brand-complementary };
  }

  &.btn-roxo {
    --btn-bg: #{ $secondary-default };
    --btn-text: #{ $text-highlight-low };
    --btn-bg-hover: #{ $secondary-active };
    --btn-text-hover: #{ $text-highlight-low };
    --btn-bg-active: #{ $support-7-high };
    --btn-text-active: #{ $text-highlight-low };
    --btn-focus: #{ $secondary-default };
  }
  

  &-click {
    transition: $transition-2;

    &:hover {
      transform: translateX(2px) translateY(2px);
    }

    &:active {
      transform: translateX(4px) translateY(4px);
    }


    &-shadow {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateX(2px) translateY(2px);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      }
    }

    &-img {
      box-shadow: none !important;
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));

      &:hover {
        transform: translateX(2px) translateY(2px);
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
      }
    }
  }

  &-bg {

    &-perfil {
      --btn-bg: $primary;
      --btn-bg-hover: $cor-perfil-500;
    }

    &-apoio {
      --btn-bg: $dark;
      --btn-bg-hover: $cor-apoio-500;

    }

    &-base {
      --btn-bg: $light;
      --btn-bg-hover: $cor-base-500;
    }

    &-verdee {
      --btn-bg: $dark;
      --btn-bg-hover: $verdee-500;
    }

    &-verdem {
      --btn-bg: $verdem;
      --btn-bg-hover: $verdem-500;
    }

    &-verdec {
      --btn-bg: $verdec;
      --btn-bg-hover: $verdec-300;
    }

    &-roxo {
      --btn-bg: $roxo;
      --btn-bg-hover: $roxo-300;
    }

    &-preto {
      --btn-bg: $cinza-900;
      --btn-bg-hover: $preto;
    }

    &-branco {
      --btn-bg: $light;
      --btn-bg-hover: $cinza-300;
    }

    &-h {
      &-perfil {
        --btn-bg-hover: $primary;
      }

      &-apoio {
        --btn-bg-hover: $dark;
      }

      &-base {
        --btn-bg-hover: $light;
      }

      &-turq {
        --btn-bg-hover: $primary;
      }

      &-verdee {
        --btn-bg-hover: $dark;
      }

      &-verdem {
        --btn-bg-hover: $verdem;
      }

      &-verdec {
        --btn-bg-hover: $verdec;
      }

      &-roxo {
        --btn-bg-hover: $roxo;
      }

      &-preto {
        --btn-bg-hover: $preto;
      }

      &-branco {
        --btn-bg-hover: $light;
      }
    }
  }

  &-text {

    &-perfil {
      --btn-text: $primary;
      --btn-text-hover: $cor-perfil-300;
    }

    &-apoio {
      --btn-text: $dark;
      --btn-text-hover: $cor-apoio-500;
    }

    &-base {
      --btn-text: $light;
      --btn-text-hover: $cor-base-300;
    }

    &-turq {
      --btn-text: $primary;
      --btn-text-hover: $turq-300;
    }

    &-verdee {
      --btn-text: $dark;
      --btn-text-hover: $verdee-500;
    }

    &-verdem {
      --btn-text: $verdem;
      --btn-text-hover: $verdem-300;
    }

    &-verdec {
      --btn-text: $verdec;
      --btn-text-hover: $verdec-300;
    }

    &-roxo {
      --btn-text: $roxo;
      --btn-text-hover: $roxo-300;
    }

    &-preto {
      --btn-text: $cinza-900;
      --btn-text-hover: $preto;
    }

    &-branco {
      --btn-text: $light;
      --btn-text-hover: $cinza-200;
    }

    &-h {
      &-perfil {
        --btn-text-hover: $primary;
      }

      &-apoio {
        --btn-text-hover: $dark;
      }

      &-base {
        --btn-text-hover: $light;
      }

      &-turq {
        --btn-text-hover: $primary;
      }

      &-verdee {
        --btn-text-hover: $dark;
      }

      &-verdem {
        --btn-text-hover: $verdem;
      }

      &-verdec {
        --btn-text-hover: $verdec;
      }

      &-roxo {
        --btn-text-hover: $roxo;
      }

      &-preto {
        --btn-text-hover: $preto;
      }

      &-branco {
        --btn-text-hover: $light;
      }
    }

  }

}

.acland {
  .btn {
    padding: 0.65em 1em;
    border-radius: $size-2;
    font-size: $font-size-base;

    @media (max-width: 768px) {
      padding: 0.725em 1em;
    }
    
  }
}