@import "../essencial/variaveis.scss";

.acland {

    &-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        gap: $size-3;

        * {
            transition: $transition-2;
        }
    }

    .card {
      
      height: 100%;
      border-radius: $size-3;
      overflow: hidden;
      border: 1px solid $stroke-medium;
      box-shadow: $box-shadow-2;
      transition: $transition-1;
      // margin: 0;
      
      &[class*="card-size"] {
        --card-width: 100%;
        width: var(--card-width);
        flex: 0 0 var(--card-width)!important;
      }

      &-size{

        &-lg{
          --card-width: 360px;
        }
        &-md{
          --card-width: 320px;
        }
        &-sm{
          --card-width: 290px;
        }
        &-xs{
          --card-width: 235px;
        }
      }

  
      &:hover {
        border-color: $turq;
      }
  
      &-img-top {
        aspect-ratio: 13 / 8;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      &-top {
  
        display: flex;
        place-items: center;
        width: 100%;
  
        &.flex-column {
          .card-top-icon {
            margin-right: 0;
            margin-bottom: $size-3;
          }
        }
  
        &-icon {
          --icon-size: 48px;
  
          &-big {
            --icon-size: 80px;
          }
  
          &-normal {
            --icon-size: 42px;
          }
  
          &-small {
            --icon-size: 32px;
          }
  
  
  
          flex: 0 0 var(--icon-size);
          margin-right: $size-3;
  
          svg,
          img {
            width: 100%;
            max-height: var(--icon-size);
            margin: auto;
          }
        }
  
        &-title {
          --title-lines: 2;
          --font-size: #{ $font-size-5 };
          --title-size: calc(var(--font-size) * var(--title-lines) * 1.1);
  
  
          &-big {
            --font-size: #{ $font-size-3 };
          }
  
          &-normal {
            --font-size: #{ $font-size-5 };
          }
  
          &-small {
            --font-size: #{ $font-size-6 };
          }
  
          &-1 {
            --title-lines: 1;
          }
  
          &-2 {
            --title-lines: 2;
          }
  
          &-3 {
            --title-lines: 3;
          }
  
          &-xl {
            @media (min-width:1200px) {
              &-big {
                --font-size: #{ $font-size-3 };
              }
  
              &-normal {
                --font-size: #{ $font-size-5 };
              }
  
              &-small {
                --font-size: #{ $font-size-6 };
              }
  
              &-1 {
                --title-lines: 1;
              }
  
              &-2 {
                --title-lines: 2;
              }
  
              &-3 {
                --title-lines: 3;
              }
            }
          }
  
          &-lg {
            @media (min-width:992px) {
              &-big {
                --font-size: #{ $font-size-3 };
              }
  
              &-normal {
                --font-size: #{ $font-size-5 };
              }
  
              &-small {
                --font-size: #{ $font-size-6 };
              }
  
              &-1 {
                --title-lines: 1;
              }
  
              &-2 {
                --title-lines: 2;
              }
  
              &-3 {
                --title-lines: 3;
              }
            }
          }
  
          &-md {
            @media (min-width:767px) {
              &-big {
                --font-size: #{ $font-size-3 };
              }
  
              &-normal {
                --font-size: #{ $font-size-5 };
              }
  
              &-small {
                --font-size: #{ $font-size-6 };
              }
  
              &-1 {
                --title-lines: 1;
              }
  
              &-2 {
                --title-lines: 2;
              }
  
              &-3 {
                --title-lines: 3;
              }
            }
          }
  
          &-sm {
            @media (min-width:567px) {
              &-big {
                --font-size: #{ $font-size-3 };
              }
  
              &-normal {
                --font-size: #{ $font-size-5 };
              }
  
              &-small {
                --font-size: #{ $font-size-6 };
              }
  
              &-1 {
                --title-lines: 1;
              }
  
              &-2 {
                --title-lines: 2;
              }
  
              &-3 {
                --title-lines: 3;
              }
            }
          }
  
          display: flex;
          place-items: center;
          height: var(--title-size);
          min-height: var(--title-size);
  
          * {
            margin: 0px !important;
            font-size: var(--font-size) !important;
          }
        }
      }
  
      &-description {
        --description-size: 81px;
  
        &-long {
          --description-size: 161px;
        }
  
        &-fit {
          height: fit-content !important;
        }
  
        height: var(--description-size);
        min-height: var(--description-size);
      }
  
      &-footer{
        padding: var(--size-3);
        height: auto !important;
      }
      &-footer,
      &-header {
        background: transparent;
        border: 0px !important;
      }
  
      &-link {
        border: solid 1px $cinza-400;
        padding: 1.5rem 2rem !important;
        border-radius: 0.5rem !important;
        max-width: 100%;
        flex: 0 0 30% !important;
        flex-direction: column;
        min-width: 312px;
        box-shadow: $box-shadow-1;
  
        @media (max-width:992px) {
          flex: 0 0 50% !important;
        }
  
        &:hover {
          border-color: $cor-perfil;
          box-shadow: $box-shadow-2;
          transform: translateY(-2px);
          text-decoration: none !important;
          color: inherit;
        }
  
        .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
  
          svg {
            fill: $cor-perfil;
            transition: none;
          }
  
          &:hover {
            svg {
              fill: $branco;
            }
          }
        }
  
        &-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          margin-inline: auto;
          margin-bottom: 30px;
          flex-wrap: nowrap;
          width: 90%;
        }
  
        &-logo {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $verdee;
          padding: .75rem;
          border-radius: 8px;
          width: 75px;
          height: 75px;
          flex: 0 0 75px !important;
          margin-inline: auto !important;
  
          svg,
          img {
            max-width: 80%;
            max-height: 80%;
            filter: brightness(10) saturate(0%) contrast(200%);
          }
        }
  
        &-info {
          flex: 0 0 70% !important;
        }
  
        &-title {
          color: $cor-perfil !important;
          font-weight: 700;
          font-size: 35px !important;
          line-height: 35px !important;
          margin-bottom: 0 !important;
        }
  
        &-title,
        &-text {
          margin-bottom: 0px !important;
        }
      }
  
    }

}