.acland.accordion .card,
.acland .accordion .card {
  margin-bottom: var(--size-3) !important;
  background: transparent;
  border-radius: var(--size-2) !important;
  border: var(--size-0) !important;
  box-shadow: none;
}
.acland.accordion .card .card-header,
.acland .accordion .card .card-header {
  border: 0 !important;
  background: var(--cor-perfil) !important;
  border-radius: 0.5rem !important;
  padding: 0 !important;
  transition: var(--transition-1);
}
.acland.accordion .card .card-header:hover,
.acland .accordion .card .card-header:hover {
  background: var(--cor-perfil-500) !important;
}
.acland.accordion .card .card-header .btn-link,
.acland .accordion .card .card-header .btn-link {
  font-size: var(--font-size-base);
  width: 100%;
  color: var(--branco) !important;
  text-align: left;
  text-decoration: none !important;
  outline: var(--size-0) !important;
  box-shadow: none !important;
  position: relative;
  padding: 1rem 2.25rem 1rem 1.25rem !important;
}
.acland.accordion .card .card-header .btn-link:hover, .acland.accordion .card .card-header .btn-link:focus,
.acland .accordion .card .card-header .btn-link:hover,
.acland .accordion .card .card-header .btn-link:focus {
  color: var(--branco);
}
.acland.accordion .card .card-header .btn-link:after, .acland.accordion .card .card-header .btn-link:before,
.acland .accordion .card .card-header .btn-link:after,
.acland .accordion .card .card-header .btn-link:before {
  --minus-size: 16px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1,8.39v-2.78h12v2.78H1Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 1rem;
  top: 50%;
  translate: 0 -50%;
  width: var(--minus-size);
  height: var(--minus-size);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.acland.accordion .card .card-header .btn-link.collapsed:after,
.acland .accordion .card .card-header .btn-link.collapsed:after {
  rotate: -90deg;
}
.acland.accordion .card .card-header .btn-link.collapsed:before,
.acland .accordion .card .card-header .btn-link.collapsed:before {
  rotate: -180deg;
}
.acland.accordion .card p,
.acland .accordion .card p {
  color: var(--cor-apoio);
}

.accordion-line .card {
  border: 2px solid var(--cor-perfil) !important;
}
.accordion-line .card .card-header {
  background: transparent !important;
}
.accordion-line .card .card-header:hover {
  background: transparent !important;
}
.accordion-line .card .card-header .btn-link {
  color: var(--verdee) !important;
}
.accordion-line .card .card-header .btn-link:after, .accordion-line .card .card-header .btn-link:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M1,8.39v-2.78h12v2.78H1Z' fill='%23003641'/%3E%3C/svg%3E");
}

.accordion-dark .card {
  border: 1px solid var(--turq-300) !important;
  background: linear-gradient(230deg, var(--color-surface-support-1-medium) -10%, var(--color-function-tertiary-darkest) 70%);
}
.accordion-dark .card .card-header {
  background: transparent !important;
}
.accordion-dark .card .card-header:hover {
  background: transparent !important;
}
.accordion-dark .card .card-header .btn-link {
  color: var(--turq-300) !important;
  border: 0 !important;
}
.accordion-dark .card .card-body {
  background: transparent !important;
  color: var(--branco) !important;
}
.accordion-dark .card .card-body:hover {
  background: transparent !important;
}
.accordion-dark .card .card-body p {
  color: var(--branco) !important;
}/*# sourceMappingURL=accordion.css.map */