@import "../essencial/variaveis.scss";

.acland{

  .box{
  
    border-radius: $size-2;
    padding: $size-4;
    margin-bottom: $size-3;
    border: 1px solid $cor-perfil;
    background: $transparente;
    
  
    &-bg{
      border-radius: $size-2;
      padding: $size-4;
      margin-bottom: $size-3;
      background: $cor-base;
      border: 1px solid $cor-base;
    }
  }
  

}