@charset "UTF-8";
/* BOTÕES */
.btn {
  --btn-bg: var(--color-function-primary-action);
  --btn-text: var(--color-surface-text-highlight-low);
  --btn-bg-hover: var(--color-function-primary-default);
  --btn-text-hover: var(--color-surface-text-highlight-low);
  --btn-bg-active: var(--color-function-primary-darkest);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-function-primary-action);
  outline: var(--size-0) !important;
  transition: var(--transition-2);
}
.btn:focus {
  box-shadow: none !important;
}
.btn-primary, .btn-default {
  padding: 0.725em 1em;
  border-color: var(--btn-bg) !important;
  background-color: var(--btn-bg) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
  font-weight: bold;
}
.btn-primary:hover, .btn-default:hover {
  background-color: var(--btn-bg-hover) !important;
  border-color: var(--btn-bg-hover) !important;
  color: var(--btn-text-hover) !important;
  fill: var(--btn-text-hover) !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show > .btn-default.dropdown-toggle {
  background-color: var(--btn-bg-active) !important;
  border-color: var(--btn-bg-active) !important;
  color: var(--btn-text-active) !important;
  fill: var(--btn-text-active) !important;
}
.btn-primary:focus-visible, .btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-default:focus-visible, .btn-default.focus, .btn-default:focus, .btn-default:not(:disabled):not(.disabled).active:focus, .btn-default:not(:disabled):not(.disabled):active:focus, .show > .btn-default.dropdown-toggle:focus {
  box-shadow: 0px 0px var(--size-2) 0px var(--btn-focus);
  box-shadow: 0px 0px var(--size-2) 0px color-mix(in srgb, var(--btn-focus) 80%, transparent);
  outline: 0px !important;
}
.btn-secondary {
  padding: 0.725em 1em;
  border-color: var(--btn-bg) !important;
  background-color: var(--transparente) !important;
  color: var(--btn-bg) !important;
  fill: var(--btn-bg) !important;
  font-weight: bold;
}
.btn-secondary:hover {
  background-color: var(--btn-bg) !important;
  border-color: var(--btn-bg) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: var(--btn-bg-hover) !important;
  border-color: var(--btn-bg-hover) !important;
  color: var(--btn-text-hover) !important;
  fill: var(--btn-text-hover) !important;
}
.btn-secondary:focus-visible, .btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0px 0px var(--size-2) 0px var(--btn-focus);
  box-shadow: 0px 0px var(--size-2) 0px color-mix(in srgb, var(--btn-focus) 80%, transparent);
  outline: 0px !important;
}
.btn.btn-light, .btn.btn-branco {
  --btn-bg: var(--color-surface-background-low);
  --btn-text: var(--color-surface-support-1-medium);
  --btn-bg-hover: var(--color-surface-stroke-low);
  --btn-text-hover: var(--color-surface-support-1-medium);
  --btn-bg-active: var(--color-surface-text-default-low);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-surface-background-low);
}
.btn.btn-dark, .btn.btn-verdee {
  --btn-bg: var(--color-surface-support-1-medium);
  --btn-text: var(--color-surface-text-highlight-low);
  --btn-bg-hover: var(--color-surface-text-highlight-medium);
  --btn-text-hover: var(--color-surface-text-highlight-low);
  --btn-bg-active: var(--color-function-tertiary-default);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-surface-support-1-medium);
}
.btn.btn-verdec {
  --btn-bg: var(--color-brand-complementary);
  --btn-text: var(--color-surface-support-1-medium);
  --btn-bg-hover: var(--color-surface-support-5-medium);
  --btn-text-hover: var(--color-surface-support-1-medium);
  --btn-bg-active: var(--color-surface-support-5-high);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-brand-complementary);
}
.btn.btn-verdem {
  --btn-bg: var(--color-brand-supplementary);
  --btn-text: var(--color-surface-support-1-medium);
  --btn-bg-hover: var(--color-surface-support-6-medium);
  --btn-text-hover: var(--color-surface-support-1-medium);
  --btn-bg-active: var(--color-surface-support-6-high);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-brand-supplementary);
}
.btn.btn-roxo {
  --btn-bg: var(--color-function-secondary-default);
  --btn-text: var(--color-surface-text-highlight-low);
  --btn-bg-hover: var(--color-function-secondary-active);
  --btn-text-hover: var(--color-surface-text-highlight-low);
  --btn-bg-active: var(--color-surface-support-7-high);
  --btn-text-active: var(--color-surface-text-highlight-low);
  --btn-focus: var(--color-function-secondary-default);
}
.btn-click {
  transition: var(--transition-2);
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
}
.btn-click-shadow {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-click-img {
  box-shadow: none !important;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
}
.btn-click-img:hover {
  transform: translateX(2px) translateY(2px);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.btn-click-img:active {
  transform: translateX(4px) translateY(4px);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.btn-bg-perfil {
  --btn-bg: var(--cor-perfil);
  --btn-bg-hover: var(--cor-perfil-500);
}
.btn-bg-apoio {
  --btn-bg: var(--corapoio);
  --btn-bg-hover: var(--cor-apoio-500);
}
.btn-bg-base {
  --btn-bg: var(--cor-base);
  --btn-bg-hover: var(--cor-base-500);
}
.btn-bg-verdee {
  --btn-bg: var(--verdee);
  --btn-bg-hover: var(--verdee-500);
}
.btn-bg-verdem {
  --btn-bg: var(--verdem);
  --btn-bg-hover: var(--verdem-500);
}
.btn-bg-verdec {
  --btn-bg: var(--verdec);
  --btn-bg-hover: var(--verdec-300);
}
.btn-bg-roxo {
  --btn-bg: var(--roxo);
  --btn-bg-hover: var(--roxo-300);
}
.btn-bg-preto {
  --btn-bg: var(--cinza-900);
  --btn-bg-hover: var(--preto);
}
.btn-bg-branco {
  --btn-bg: var(--branco);
  --btn-bg-hover: var(--cinza-300);
}
.btn-bg-h-perfil {
  --btn-bg-hover: var(--cor-perfil);
}
.btn-bg-h-apoio {
  --btn-bg-hover: var(--cor-apoio);
}
.btn-bg-h-base {
  --btn-bg-hover: var(--cor-base);
}
.btn-bg-h-turq {
  --btn-bg-hover: var(--turq);
}
.btn-bg-h-verdee {
  --btn-bg-hover: var(--verdee);
}
.btn-bg-h-verdem {
  --btn-bg-hover: var(--verdem);
}
.btn-bg-h-verdec {
  --btn-bg-hover: var(--verdec);
}
.btn-bg-h-roxo {
  --btn-bg-hover: var(--roxo);
}
.btn-bg-h-preto {
  --btn-bg-hover: var(--preto);
}
.btn-bg-h-branco {
  --btn-bg-hover: var(--branco);
}
.btn-text-perfil {
  --btn-text: var(--cor-perfil);
  --btn-text-hover: var(--cor-perfil-300);
}
.btn-text-apoio {
  --btn-text: var(--cor-apoio);
  --btn-text-hover: var(--cor-apoio-500);
}
.btn-text-base {
  --btn-text: var(--cor-base);
  --btn-text-hover: var(--cor-base-300);
}
.btn-text-turq {
  --btn-text: var(--turq);
  --btn-text-hover: var(--turq-300);
}
.btn-text-verdee {
  --btn-text: var(--verdee);
  --btn-text-hover: var(--verdee-500);
}
.btn-text-verdem {
  --btn-text: var(--verdem);
  --btn-text-hover: var(--verdem-300);
}
.btn-text-verdec {
  --btn-text: var(--verdec);
  --btn-text-hover: var(--verdec-300);
}
.btn-text-roxo {
  --btn-text: var(--roxo);
  --btn-text-hover: var(--roxo-300);
}
.btn-text-preto {
  --btn-text: var(--cinza-900);
  --btn-text-hover: var(--preto);
}
.btn-text-branco {
  --btn-text: var(--branco);
  --btn-text-hover: var(--cinza-200);
}
.btn-text-h-perfil {
  --btn-text-hover: var(--cor-perfil);
}
.btn-text-h-apoio {
  --btn-text-hover: var(--cor-apoio);
}
.btn-text-h-base {
  --btn-text-hover: var(--cor-base);
}
.btn-text-h-turq {
  --btn-text-hover: var(--turq);
}
.btn-text-h-verdee {
  --btn-text-hover: var(--verdee);
}
.btn-text-h-verdem {
  --btn-text-hover: var(--verdem);
}
.btn-text-h-verdec {
  --btn-text-hover: var(--verdec);
}
.btn-text-h-roxo {
  --btn-text-hover: var(--roxo);
}
.btn-text-h-preto {
  --btn-text-hover: var(--preto);
}
.btn-text-h-branco {
  --btn-text-hover: var(--branco);
}

.acland .btn {
  padding: 0.375em 1em;
  border-radius: var(--size-2);
  font-size: var(--font-size-base);
}/*# sourceMappingURL=btn.css.map */