@import "../essencial/variaveis.scss";

/* BOTÕES */

.btn {
  --btn-bg: var(--cor-perfil);
  --btn-bg-hover: var(--cor-perfil-500);
  --btn-text: var(--cor-base);
  --btn-text-hover: var(--cor-base-300);

  
  outline: $size-0 !important;
  transition: $transition-2;

  &-primary {

    border-color: var(--btn-bg)!important;
    background-color: var(--btn-bg)!important;
    color: var(--btn-text)!important;
    fill: var(--btn-text)!important;
    font-weight: bold;


    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      background-color: var(--btn-bg-hover)!important;
      border-color: var(--btn-bg-hover)!important;
      color: var(--btn-text-hover)!important;
      fill: var(--btn-text-hover)!important;
    }

    &:focus-visible {
      outline: 0px !important;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      background-color: var(--btn-bg-hover);
      border-color: var(--btn-bg-hover);
      color: var(--btn-text-hover)!important;
      fill: var(--btn-text-hover)!important;
      box-shadow: none !important;
    }
  }

  &-secondary {
    --btn-text:var(--cor-perfil);

    border-color: var(--btn-bg) !important;
    background-color: $transparente !important;
    color: var(--btn-text) !important;
    fill: var(--btn-text) !important;
    font-weight: bold;
    padding: .3rem 1rem;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      background-color: var(--btn-bg) !important;
      border-color: var(--btn-bg)!important;
      color: var(--btn-text-hover)!important;
      fill: var(--btn-text-hover)!important;
    }

    &:focus-visible {
      outline: 0px !important;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      background-color: var(--btn-bg);
      border-color: var(--btn-bg);
      box-shadow: none !important;
    }
  }

  &-click {
    transition: $transition-2;

    &:hover {
      transform: translateX(2px) translateY(2px);
    }

    &:active {
      transform: translateX(4px) translateY(4px);
    }


    &-shadow {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);

      &:hover {
        transform: translateX(2px) translateY(2px);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      }
    }

    &-img {
      box-shadow: none !important;
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));

      &:hover {
        transform: translateX(2px) translateY(2px);
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
      }
    }
  }

  &-bg {

    &-perfil {
      --btn-bg: var(--cor-perfil);
      --btn-bg-hover: var(--cor-perfil-500);
    }
    &-apoio {
      --btn-bg: var(--corapoio);
      --btn-bg-hover: var(--cor-apoio-500);
    }
    &-base {
      --btn-bg: var(--cor-base);
      --btn-bg-hover: var(--cor-base-500);
    }

    &-verdee {
      --btn-bg: var(--verdee);
      --btn-bg-hover: var(--verdee-500);
    }
    &-verdee {
      --btn-bg: var(--verdee);
      --btn-bg-hover: var(--verdee-500);
    }
    &-verdem {
      --btn-bg: var(--verdem);
      --btn-bg-hover: var(--verdem-500);
    }
    &-verdec {
      --btn-bg: var(--verdec);
      --btn-bg-hover: var(--verdec-500);
    }
    &-roxo {
      --btn-bg: var(--roxo);
      --btn-bg-hover: var(--roxo-500);
    }
    &-preto {
      --btn-bg: var(--preto);
      --btn-bg-hover: var(--preto-500);
    }
    &-branco {
      --btn-bg: var(--branco);
      --btn-bg-hover: var(--cinza-300);
    }

    &-h{
      &-perfil {
        --btn-bg-hover: var(--cor-perfil-500);
      }
      &-apoio {
        --btn-bg-hover: var(--cor-apoio-500);
      }
      &-base {
        --btn-bg-hover: var(--cor-base-500);
      }
  
      &-verdee {
        --btn-bg-hover: var(--verdee-500);
      }
      &-verdee {
        --btn-bg-hover: var(--verdee-500);
      }
      &-verdem {
        --btn-bg-hover: var(--verdem-500);
      }
      &-verdec {
        --btn-bg-hover: var(--verdec-500);
      }
      &-roxo {
        --btn-bg-hover: var(--roxo-500);
      }
      &-preto {
        --btn-bg-hover: var(--preto-500);
      }
      &-branco {
        --btn-bg-hover: var(--branco-300);
      }
    }
  }

  &-text {

    &-perfil {
      --btn-text: var(--cor-perfil);
      --btn-text-hover:  var(--cor-perfil-300);
    }
    &-apoio {
      --btn-text: var(--cor-apoio);
      --btn-text-hover:  var(--cor-apoio-300);
    }
    &-base {
      --btn-text: var(--cor-base);
      --btn-text-hover:  var(--cor-base-300);
    }

    &-turq {
      --btn-text: var(--turq);
      --btn-text-hover:  var(--turq-300);
    }
    &-verdee {
      --btn-text: var(--verdee);
      --btn-text-hover:  var(--verdee-300);
    }
    &-verdem {
      --btn-text: var(--verdem);
      --btn-text-hover:  var(--verdem-300);
    }
    &-verdec {
      --btn-text: var(--verdec);
      --btn-text-hover:  var(--verdec-300);
    }
    &-roxo {
      --btn-text: var(--roxo);
      --btn-text-hover:  var(--roxo-300);
    }
    &-preto {
      --btn-text: var(--preto);
      --btn-text-hover:  var(--preto-300);
    }
    &-branco {
      --btn-text: var(--branco);
      --btn-text-hover:  var(--cinza-200);
    }

    &-h{
      &-perfil {
        --btn-text-hover: var(--cor-perfil-300);
      }
      &-apoio {
        --btn-text-hover: var(--cor-apoio-300);
      }
      &-base {
        --btn-text-hover: var(--cor-base-300);
      }
  
      &-turq {
        --btn-text-hover: var(--turq-300);
      }
      &-verdee {
        --btn-text-hover: var(--verdee-300);
      }
      &-verdem {
        --btn-text-hover: var(--verdem-300);
      }
      &-verdec {
        --btn-text-hover: var(--verdec-300);
      }
      &-roxo {
        --btn-text-hover: var(--roxo-300);
      }
      &-preto {
        --btn-text-hover: var(--preto-300);
      }
      &-branco {
        --btn-text-hover: var(--cinza-200);
      }
    }

  }
  
}

.acland {
  .btn {
    padding: 0.375em 1em;
    border-radius: $size-2 !important;
    font-size: var(--font-size-base);
  }
}