@import "../essencial/colors.scss";

/* BOTÕES */

.btn {
  --btn-base: $cor-perfil;
  --btn-base-hover: $cor-perfil-500;
  --btn-text: $branco;

  
  outline: 0px !important;
  transition: var(--transition-2);

  &-primary {

    border-color: var(--btn-base)!important;
    background-color: var(--btn-base)!important;
    color: var(--btn-text)!important;
    fill: var(--btn-text)!important;
    font-weight: bold;


    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      background-color: var(--btn-base-hover)!important;
      border-color: var(--btn-base-hover)!important;
    }

    &:focus-visible {
      outline: 0px !important;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      background-color: var(--btn-base-hover);
      border-color: var(--btn-base-hover);
      box-shadow: none !important;
    }
  }

  &-secondary {
    border-color: var(--btn-base) !important;
    background-color: $transparente !important;
    color: var(--btn-base) !important;
    fill: var(--btn-base) !important;
    font-weight: bold;
    padding: .3rem 1rem;

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>&.dropdown-toggle,
    &:hover {
      background-color: var(--btn-base) !important;
      color: var(--btn-text) !important;
      fill: var(--btn-text) !important;
    }

    &:focus-visible {
      outline: 0px !important;
    }

    &.focus,
    &:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show>&.dropdown-toggle:focus {
      background-color: var(--btn-base);
      border-color: var(--btn-base);
      box-shadow: none !important;
    }
  }

  &-click {
    transition: var(--transition-2);

    &:hover {
      transform: translateX(2px) translateY(2px);
    }

    &:active {
      transform: translateX(4px) translateY(4px);
    }


    &-shadow {
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
      transition: var(--transition-2);

      &:hover {
        transform: translateX(2px) translateY(2px);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      }
    }

    &-img {
      box-shadow: none !important;
      transition: all 0.3s ease-in-out;
      filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));

      &:hover {
        transform: translateX(2px) translateY(2px);
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
      }

      &:active {
        transform: translateX(4px) translateY(4px);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
      }
    }
  }

  &-base {
    &-verdee {
      --btn-base: $verdee;
      --btn-base-hover: $verdee-500;
    }
    &-verdem {
      --btn-base: $verdem;
      --btn-base-hover: $verdem-500;
    }
    &-verdec {
      --btn-base: $verdec;
      --btn-base-hover: $verdec-500;
    }
    &-roxo {
      --btn-base: $roxo;
      --btn-base-hover: $roxo-500;
    }
    &-preto {
      --btn-base: $preto;
      --btn-base-hover: $preto-500;
    }
    &-branco {
      --btn-base: $branco;
      --btn-base-hover: $branco-500;
    }
  }

  &-text {
    &-verdee {
      --btn-text: $verdee;
    }
    &-verdem {
      --btn-text: $verdem;
    }
    &-verdec {
      --btn-text: $verdec;
    }
    &-roxo {
      --btn-text: $roxo;
    }
    &-preto {
      --btn-text: $preto;
    }
    &-branco {
      --btn-text: $branco;
    }
  }
  
}

.acland {
  .btn {
    padding: .6em 1.2em !important;
    border-radius: .25em !important;
    font-size: var(--font-size-base);
  }
}