@charset "UTF-8";
/* BOTÕES */
.btn {
  --btn-base: var(--cor-perfil);
  --btn-base-hover: var(--cor-perfil-500);
  --btn-text: var(--cor-base);
  outline: var(--size-0) !important;
  transition: var(--transition-2);
}
.btn-primary {
  border-color: var(--btn-base) !important;
  background-color: var(--btn-base) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
  font-weight: bold;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle, .btn-primary:hover {
  background-color: var(--btn-base-hover) !important;
  border-color: var(--btn-base-hover) !important;
}
.btn-primary:focus-visible {
  outline: 0px !important;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  background-color: var(--btn-base-hover);
  border-color: var(--btn-base-hover);
  box-shadow: none !important;
}
.btn-secondary {
  border-color: var(--btn-base) !important;
  background-color: var(--transparente) !important;
  color: var(--btn-base) !important;
  fill: var(--btn-base) !important;
  font-weight: bold;
  padding: 0.3rem 1rem;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle, .btn-secondary:hover {
  background-color: var(--btn-base) !important;
  color: var(--btn-text) !important;
  fill: var(--btn-text) !important;
}
.btn-secondary:focus-visible {
  outline: 0px !important;
}
.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  background-color: var(--btn-base);
  border-color: var(--btn-base);
  box-shadow: none !important;
}
.btn-click:hover {
  transform: translateX(2px) translateY(2px);
}
.btn-click:active {
  transform: translateX(4px) translateY(4px);
}
.btn-click-shadow {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.btn-click-shadow:active {
  transform: translateX(4px) translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
}
.btn-click-img {
  box-shadow: none !important;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.1));
}
.btn-click-img:hover {
  transform: translateX(2px) translateY(2px);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
}
.btn-click-img:active {
  transform: translateX(4px) translateY(4px);
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
}
.btn-base-perfil {
  --btn-base: var(--cor-perfil);
  --btn-base-hover: var(--cor-perfil-500);
}
.btn-base-apoio {
  --btn-base: var(--corapoio);
  --btn-base-hover: var(--cor-apoio-500);
}
.btn-base-base {
  --btn-base: var(--cor-base);
  --btn-base-hover: var(--cor-base-500);
}
.btn-base-verdee {
  --btn-base: var(--verdee);
  --btn-base-hover: var(--verdee-500);
}
.btn-base-verdee {
  --btn-base: var(--verdee);
  --btn-base-hover: var(--verdee-500);
}
.btn-base-verdem {
  --btn-base: var(--verdem);
  --btn-base-hover: var(--verdem-500);
}
.btn-base-verdec {
  --btn-base: var(--verdec);
  --btn-base-hover: var(--verdec-500);
}
.btn-base-roxo {
  --btn-base: var(--roxo);
  --btn-base-hover: var(--roxo-500);
}
.btn-base-preto {
  --btn-base: var(--preto);
  --btn-base-hover: var(--preto-500);
}
.btn-base-branco {
  --btn-base: var(--branco);
  --btn-base-hover: var(--branco-500);
}
.btn-text-perfil {
  --btn-text: var(--cor-perfil);
}
.btn-text-apoio {
  --btn-text: var(--cor-apoio);
}
.btn-text-base {
  --btn-text: var(--cor-base);
}
.btn-text-verdee {
  --btn-text: var(--verdee);
}
.btn-text-verdem {
  --btn-text: var(--verdem);
}
.btn-text-verdec {
  --btn-text: var(--verdec);
}
.btn-text-roxo {
  --btn-text: var(--roxo);
}
.btn-text-preto {
  --btn-text: var(--preto);
}
.btn-text-branco {
  --btn-text: var(--branco);
}

.acland .btn {
  padding: 0.25em 0.75em !important;
  border-radius: var(--size-2) !important;
  font-size: var(--font-size-base);
}/*# sourceMappingURL=btn.css.map */