.acland-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--size-3);
}
.acland-cards * {
  transition: var(--transition-2);
}
.acland .card {
  height: 100%;
  border-radius: var(--size-3);
  overflow: hidden;
  border: 1px solid var(--color-surface-stroke-medium);
  transition: var(--transition-1);
}
.acland .card:hover {
  border-color: var(--turq);
}
.acland .card-top {
  display: flex;
  place-items: center;
  width: 100%;
}
.acland .card-top-icon {
  --icon-size: 50px;
  flex: 0 0 var(--icon-size);
  margin-right: var(--size-3);
}
.acland .card-top-icon svg {
  width: 100%;
  max-height: var(--icon-size);
  margin: auto;
}
.acland .card-top-title {
  --title-lines: 2;
  --font-size: var(--font-size-5);
  --title-size: calc(var(--font-size) * var(--title-lines) * 1.1);
  display: flex;
  place-items: center;
  height: var(--title-size);
  min-height: var(--title-size);
}
.acland .card-top-title-lg {
  --font-size: var(--font-size-3);
}
.acland .card-top-title-md {
  --font-size: var(--font-size-5);
}
.acland .card-top-title-sm {
  --font-size: var(--font-size-6);
}
.acland .card-top-title-1 {
  --title-lines: 1;
}
.acland .card-top-title-2 {
  --title-lines: 2;
}
.acland .card-top-title-3 {
  --title-lines: 3;
}
@media (min-width: 1200px) {
  .acland .card-top-title-xl-lg {
    --font-size: var(--font-size-3);
  }
  .acland .card-top-title-xl-md {
    --font-size: var(--font-size-5);
  }
  .acland .card-top-title-xl-sm {
    --font-size: var(--font-size-6);
  }
  .acland .card-top-title-xl-1 {
    --title-lines: 1;
  }
  .acland .card-top-title-xl-2 {
    --title-lines: 2;
  }
  .acland .card-top-title-xl-3 {
    --title-lines: 3;
  }
}
@media (min-width: 992px) {
  .acland .card-top-title-lg-lg {
    --font-size: var(--font-size-3);
  }
  .acland .card-top-title-lg-md {
    --font-size: var(--font-size-5);
  }
  .acland .card-top-title-lg-sm {
    --font-size: var(--font-size-6);
  }
  .acland .card-top-title-lg-1 {
    --title-lines: 1;
  }
  .acland .card-top-title-lg-2 {
    --title-lines: 2;
  }
  .acland .card-top-title-lg-3 {
    --title-lines: 3;
  }
}
@media (min-width: 767px) {
  .acland .card-top-title-md-lg {
    --font-size: var(--font-size-3);
  }
  .acland .card-top-title-md-md {
    --font-size: var(--font-size-5);
  }
  .acland .card-top-title-md-sm {
    --font-size: var(--font-size-6);
  }
  .acland .card-top-title-md-1 {
    --title-lines: 1;
  }
  .acland .card-top-title-md-2 {
    --title-lines: 2;
  }
  .acland .card-top-title-md-3 {
    --title-lines: 3;
  }
}
@media (min-width: 567px) {
  .acland .card-top-title-sm-lg {
    --font-size: var(--font-size-3);
  }
  .acland .card-top-title-sm-md {
    --font-size: var(--font-size-5);
  }
  .acland .card-top-title-sm-sm {
    --font-size: var(--font-size-6);
  }
  .acland .card-top-title-sm-1 {
    --title-lines: 1;
  }
  .acland .card-top-title-sm-2 {
    --title-lines: 2;
  }
  .acland .card-top-title-sm-3 {
    --title-lines: 3;
  }
}
.acland .card-top-title * {
  margin: 0px !important;
}
.acland .card-description {
  --description-size: 81px;
  height: var(--description-size);
  min-height: var(--description-size);
}
.acland .card-description.long {
  --description-size: 161px;
}
.acland .card-footer, .acland .card-header {
  background: transparent;
  border: 0px !important;
}
.acland .card-link {
  border: solid 1px var(--cinza-400);
  padding: 1.5rem 2rem !important;
  border-radius: 0.5rem !important;
  max-width: 100%;
  flex: 0 0 30% !important;
  flex-direction: column;
  min-width: 312px;
  box-shadow: var(--box-shadow-1);
}
@media (max-width: 992px) {
  .acland .card-link {
    flex: 0 0 50% !important;
  }
}
.acland .card-link:hover {
  border-color: var(--cor-perfil);
  box-shadow: var(--box-shadow-2);
  transform: translateY(-2px);
  text-decoration: none !important;
  color: inherit;
}
.acland .card-link .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.acland .card-link .btn svg {
  fill: var(--cor-perfil);
  transition: none;
}
.acland .card-link .btn:hover svg {
  fill: var(--branco);
}
.acland .card-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-inline: auto;
  margin-bottom: 30px;
  flex-wrap: nowrap;
  width: 90%;
}
.acland .card-link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--verdee);
  padding: 0.75rem;
  border-radius: 8px;
  width: 75px;
  height: 75px;
  flex: 0 0 75px !important;
  margin-inline: auto !important;
}
.acland .card-link-logo svg,
.acland .card-link-logo img {
  max-width: 80%;
  max-height: 80%;
  filter: brightness(10) saturate(0%) contrast(200%);
}
.acland .card-link-info {
  flex: 0 0 70% !important;
}
.acland .card-link-title {
  color: var(--cor-perfil) !important;
  font-weight: 700;
  font-size: 35px !important;
  line-height: 35px !important;
  margin-bottom: 0 !important;
}
.acland .card-link-title, .acland .card-link-text {
  margin-bottom: 0px !important;
}/*# sourceMappingURL=card.css.map */