@import 'variaveis.scss';

.acland,
* {

  /* COR DAS FONTES */
  .c {
    &-perfil {
      color: $cor-perfil !important;

      &-200 {
        color: $cor-perfil-200 !important;
      }

      &-300 {
        color: $cor-perfil-300 !important;
      }

      &-500 {
        color: $cor-perfil-500 !important;
      }

      &-600 {
        color: $cor-perfil-600 !important;
      }
    }

    &-apoio {
      color: $cor-apoio !important;

      &-200 {
        color: $cor-apoio-200 !important;
      }

      &-300 {
        color: $cor-apoio-300 !important;
      }

      &-500 {
        color: $cor-apoio-500 !important;
      }

      &-600 {
        color: $cor-apoio-600 !important;
      }
    }

    &-destaque {
      color: $cor-destaque !important;

      &-200 {
        color: $cor-destaque-200 !important;
      }

      &-300 {
        color: $cor-destaque-300 !important;
      }

      &-500 {
        color: $cor-destaque-500 !important;
      }

      &-600 {
        color: $cor-destaque-600 !important;
      }
    }

    &-base {
      color: $cor-base !important;

      &-200 {
        color: $cor-base-200 !important;
      }

      &-300 {
        color: $cor-base-300 !important;
      }

      &-500 {
        color: $cor-base-500 !important;
      }

      &-600 {
        color: $cor-base-600 !important;
      }
    }


    &-turq,
    &-primary {
      color: $turq !important;

      &-200 {
        color: $turq-200 !important;
      }

      &-300 {
        color: $turq-300 !important;
      }

      &-500 {
        color: $turq-500 !important;
      }

      &-600 {
        color: $turq-600 !important;
      }
    }

    &-verdee,
    &-dark {
      color: $verdee !important;

      &-200 {
        color: $verdee-200 !important;
      }

      &-300 {
        color: $verdee-300 !important;
      }

      &-500 {
        color: $verdee-500 !important;
      }

      &-600 {
        color: $verdee-600 !important;
      }
    }

    &-verdem {
      color: $verdem !important;

      &-200 {
        color: $verdem-200 !important;
      }

      &-300 {
        color: $verdem-300 !important;
      }

      &-500 {
        color: $verdem-500 !important;
      }

      &-600 {
        color: $verdem-600 !important;
      }
    }

    &-verdec {
      color: $verdec !important;

      &-200 {
        color: $verdec-200 !important;
      }

      &-300 {
        color: $verdec-300 !important;
      }

      &-500 {
        color: $verdec-500 !important;
      }

      &-600 {
        color: $verdec-600 !important;
      }
    }

    &-roxo {
      color: $roxo !important;

      &-200 {
        color: $roxo-200 !important;
      }

      &-300 {
        color: $roxo-300 !important;
      }

      &-500 {
        color: $roxo-500 !important;
      }

      &-600 {
        color: $roxo-600 !important;
      }
    }

    &-cinza {
      &-200 {
        color: $cinza-200 !important;
      }

      &-300 {
        color: $cinza-300 !important;
      }

      &-400 {
        color: $cinza-400 !important;
      }

      &-500 {
        color: $cinza-500 !important;
      }

      &-600 {
        color: $cinza-600 !important;
      }

      &-700 {
        color: $cinza-700 !important;
      }

      &-800 {
        color: $cinza-800 !important;
      }

      &-900 {
        color: $cinza-900 !important;
      }
    }

    &-branco,
    &-light {
      color: $branco !important;
    }

    &-preto {
      color: $preto !important;
    }
  }

  /* COR DOS FUNDOS */
  .bg {
    &-perfil {
      background-color: $cor-perfil !important;

      &-200 {
        background-color: $cor-perfil-200 !important;
      }

      &-300 {
        background-color: $cor-perfil-300 !important;
      }

      &-500 {
        background-color: $cor-perfil-500 !important;
      }

      &-600 {
        background-color: $cor-perfil-600 !important;
      }
    }

    &-apoio {
      background-color: $cor-apoio !important;

      &-200 {
        background-color: $cor-apoio-200 !important;
      }

      &-300 {
        background-color: $cor-apoio-300 !important;
      }

      &-500 {
        background-color: $cor-apoio-500 !important;
      }

      &-600 {
        background-color: $cor-apoio-600 !important;
      }
    }

    &-destaque {
      background-color: $cor-destaque !important;

      &-200 {
        background-color: $cor-destaque-200 !important;
      }

      &-300 {
        background-color: $cor-destaque-300 !important;
      }

      &-500 {
        background-color: $cor-destaque-500 !important;
      }

      &-600 {
        background-color: $cor-destaque-600 !important;
      }
    }

    &-base {
      background-color: $cor-base !important;

      &-200 {
        background-color: $cor-base-200 !important;
      }

      &-300 {
        background-color: $cor-base-300 !important;
      }

      &-500 {
        background-color: $cor-base-500 !important;
      }

      &-600 {
        background-color: $cor-base-600 !important;
      }
    }


    &-turq,
    &-primary {
      background-color: $turq !important;

      &-200 {
        background-color: $turq-200 !important;
      }

      &-300 {
        background-color: $turq-300 !important;
      }

      &-500 {
        background-color: $turq-500 !important;
      }

      &-600 {
        background-color: $turq-600 !important;
      }
    }

    &-verdee,
    &-dark {
      background-color: $verdee !important;

      &-200 {
        background-color: $verdee-200 !important;
      }

      &-300 {
        background-color: $verdee-300 !important;
      }

      &-500 {
        background-color: $verdee-500 !important;
      }

      &-600 {
        background-color: $verdee-600 !important;
      }
    }

    &-verdem {
      background-color: $verdem !important;

      &-200 {
        background-color: $verdem-200 !important;
      }

      &-300 {
        background-color: $verdem-300 !important;
      }

      &-500 {
        background-color: $verdem-500 !important;
      }

      &-600 {
        background-color: $verdem-600 !important;
      }
    }

    &-verdec {
      background-color: $verdec !important;

      &-200 {
        background-color: $verdec-200 !important;
      }

      &-300 {
        background-color: $verdec-300 !important;
      }

      &-500 {
        background-color: $verdec-500 !important;
      }

      &-600 {
        background-color: $verdec-600 !important;
      }
    }

    &-roxo {
      background-color: $roxo !important;

      &-200 {
        background-color: $roxo-200 !important;
      }

      &-300 {
        background-color: $roxo-300 !important;
      }

      &-500 {
        background-color: $roxo-500 !important;
      }

      &-600 {
        background-color: $roxo-600 !important;
      }
    }

    &-cinza {
      &-200 {
        background-color: $cinza-200 !important;
      }

      &-300 {
        background-color: $cinza-300 !important;
      }

      &-400 {
        background-color: $cinza-400 !important;
      }

      &-500 {
        background-color: $cinza-500 !important;
      }

      &-600 {
        background-color: $cinza-600 !important;
      }

      &-700 {
        background-color: $cinza-700 !important;
      }

      &-800 {
        background-color: $cinza-800 !important;
      }

      &-900 {
        background-color: $cinza-900 !important;
      }
    }

    &-branco,
    &-light {
      background-color: $branco !important;
    }

    &-preto {
      background-color: $preto !important;
    }

    &-gradient {

      &-turq,
      &-primary {
        background-color: $turq;
        background-image: $gradient-turq;

        &-line {
          background-color: $turq;
          background-image: $gradient-turq-line;
        }
      }

      &-verdee,
      &-dark {
        background-color: $verdee;
        background-image: $gradient-verdee;

        &-line {
          background-color: $verdee;
          background-image: $gradient-verdee-line;
        }
      }

      &-branco,
      &-light{
        background-color: $branco;
        background-image: $gradient-branco;

        &-line {
          background-color: $branco;
          background-image: $gradient-branco-line;
        }
      }

    }

    &-moviment {
      background-size: 250% 250%;
      animation: bg-moviment 20s ease-in-out infinite;
      backdrop-filter: blur(100px);

      @keyframes bg-moviment {
        0% {
          background-position: left top;
        }

        25% {
          background-position: right bottom;
        }

        50% {
          background-position: left bottom;
        }

        75% {
          background-position: right top;
        }

        100% {
          background-position: left top;
        }
      }
    }
  }

  /* COR, PESO E RADIUS DA BORDA */
  .border {
    &-perfil {
      border-color: $cor-perfil !important;

      &-200 {
        border-color: $cor-perfil-200 !important;
      }

      &-300 {
        border-color: $cor-perfil-300 !important;
      }

      &-500 {
        border-color: $cor-perfil-500 !important;
      }

      &-600 {
        border-color: $cor-perfil-600 !important;
      }
    }

    &-apoio {
      border-color: $cor-apoio !important;

      &-200 {
        border-color: $cor-apoio-200 !important;
      }

      &-300 {
        border-color: $cor-apoio-300 !important;
      }

      &-500 {
        border-color: $cor-apoio-500 !important;
      }

      &-600 {
        border-color: $cor-apoio-600 !important;
      }
    }

    &-destaque {
      border-color: $cor-destaque !important;

      &-200 {
        border-color: $cor-destaque-200 !important;
      }

      &-300 {
        border-color: $cor-destaque-300 !important;
      }

      &-500 {
        border-color: $cor-destaque-500 !important;
      }

      &-600 {
        border-color: $cor-destaque-600 !important;
      }
    }

    &-base {
      border-color: $cor-base !important;

      &-200 {
        border-color: $cor-base-200 !important;
      }

      &-300 {
        border-color: $cor-base-300 !important;
      }

      &-500 {
        border-color: $cor-base-500 !important;
      }

      &-600 {
        border-color: $cor-base-600 !important;
      }
    }


    &-turq,
    &-primary {
      border-color: $turq !important;

      &-200 {
        border-color: $turq-200 !important;
      }

      &-300 {
        border-color: $turq-300 !important;
      }

      &-500 {
        border-color: $turq-500 !important;
      }

      &-600 {
        border-color: $turq-600 !important;
      }
    }

    &-verdee,
    &-dark {
      border-color: $verdee !important;

      &-200 {
        border-color: $verdee-200 !important;
      }

      &-300 {
        border-color: $verdee-300 !important;
      }

      &-500 {
        border-color: $verdee-500 !important;
      }

      &-600 {
        border-color: $verdee-600 !important;
      }
    }

    &-verdem {
      border-color: $verdem !important;

      &-200 {
        border-color: $verdem-200 !important;
      }

      &-300 {
        border-color: $verdem-300 !important;
      }

      &-500 {
        border-color: $verdem-500 !important;
      }

      &-600 {
        border-color: $verdem-600 !important;
      }
    }

    &-verdec {
      border-color: $verdec !important;

      &-200 {
        border-color: $verdec-200 !important;
      }

      &-300 {
        border-color: $verdec-300 !important;
      }

      &-500 {
        border-color: $verdec-500 !important;
      }

      &-600 {
        border-color: $verdec-600 !important;
      }
    }

    &-roxo {
      border-color: $roxo !important;

      &-200 {
        border-color: $roxo-200 !important;
      }

      &-300 {
        border-color: $roxo-300 !important;
      }

      &-500 {
        border-color: $roxo-500 !important;
      }

      &-600 {
        border-color: $roxo-600 !important;
      }
    }

    &-cinza {
      &-200 {
        border-color: $cinza-200 !important;
      }

      &-300 {
        border-color: $cinza-300 !important;
      }

      &-400 {
        border-color: $cinza-400 !important;
      }

      &-500 {
        border-color: $cinza-500 !important;
      }

      &-600 {
        border-color: $cinza-600 !important;
      }

      &-700 {
        border-color: $cinza-700 !important;
      }

      &-800 {
        border-color: $cinza-800 !important;
      }

      &-900 {
        border-color: $cinza-900 !important;
      }

    }

    &-branco,
    &-light {
      border-color: $branco !important;
    }

    &-preto {
      border-color: $preto !important;
    }

    &-left {

      &-0,
      &-none {
        border-left-style: solid !important;
        border-left-width: 0px !important;
      }

      &-1 {
        border-left-style: solid !important;
        border-left-width: 1px !important;
      }

      &-2 {
        border-left-style: solid !important;
        border-left-width: 2px !important;
      }

      &-3 {
        border-left-style: solid !important;
        border-left-width: 3px !important;
      }

      &-4 {
        border-left-style: solid !important;
        border-left-width: 4px !important;
      }

      &-5 {
        border-left-style: solid !important;
        border-left-width: 5px !important;
      }
    }

    &-right {

      &-0,
      &-none {
        border-right-style: solid !important;
        border-right-width: 0px !important;
      }

      &-1 {
        border-right-style: solid !important;
        border-right-width: 1px !important;
      }

      &-2 {
        border-right-style: solid !important;
        border-right-width: 2px !important;
      }

      &-3 {
        border-right-style: solid !important;
        border-right-width: 3px !important;
      }

      &-4 {
        border-right-style: solid !important;
        border-right-width: 4px !important;
      }

      &-5 {
        border-right-style: solid !important;
        border-right-width: 5px !important;
      }
    }

    &-top {

      &-0,
      &-none {
        border-top-style: solid !important;
        border-top-width: 0px !important;
      }

      &-1 {
        border-top-style: solid !important;
        border-top-width: 1px !important;
      }

      &-2 {
        border-top-style: solid !important;
        border-top-width: 2px !important;
      }

      &-3 {
        border-top-style: solid !important;
        border-top-width: 3px !important;
      }

      &-4 {
        border-top-style: solid !important;
        border-top-width: 4px !important;
      }

      &-5 {
        border-top-style: solid !important;
        border-top-width: 5px !important;
      }
    }

    &-bottom {

      &-0,
      &-none {
        border-bottom-style: solid !important;
        border-bottom-width: 0px !important;
      }

      &-1 {
        border-bottom-style: solid !important;
        border-bottom-width: 1px !important;
      }

      &-2 {
        border-bottom-style: solid !important;
        border-bottom-width: 2px !important;
      }

      &-3 {
        border-bottom-style: solid !important;
        border-bottom-width: 3px !important;
      }

      &-4 {
        border-bottom-style: solid !important;
        border-bottom-width: 4px !important;
      }

      &-5 {
        border-bottom-style: solid !important;
        border-bottom-width: 5px !important;
      }
    }

    &-dashed{
      border-style: dashed !important;
    }
    &-solid{
      border-style: solid !important;
    }
    &-dotted{
      border-style: dotted !important;
    }

    &-0,
    &-none {
      border-style: solid !important;
      border-width: 0px !important;
    }

    &-1 {
      border-style: solid !important;
      border-width: 1px !important;
    }

    &-2 {
      border-style: solid !important;
      border-width: 2px !important;
    }

    &-3 {
      border-style: solid !important;
      border-width: 3px !important;
    }

    &-4 {
      border-style: solid !important;
      border-width: 4px !important;
    }

    &-5 {
      border-style: solid !important;
      border-width: 5px !important;
    }

    &-radius {
      &-0 {
        border-radius: 0rem !important;
      }

      &-1 {
        border-radius: var(--size-1) !important;
      }

      &-2 {
        border-radius: var(--size-2) !important;
      }

      &-3 {
        border-radius: var(--size-3) !important;
      }

      &-4 {
        border-radius: var(--size-4) !important;
      }

      &-5 {
        border-radius: var(--size-5) !important;
      }

      &-025 {
        border-radius: .25rem !important;
      }

      &-05 {
        border-radius: .5rem !important;
      }

      &-075 {
        border-radius: .75rem !important;
      }

      &-10 {
        border-radius: 1rem !important;
      }

      &-15 {
        border-radius: 1.5rem !important;
      }

      &-20 {
        border-radius: 2rem !important;
      }

      &-25 {
        border-radius: 2.5rem !important;
      }

      &-round {
        border-radius: 100rem !important;
      }

      &-t,
      &-top {
        border-top-left-radius: var(--size-3);
        border-top-right-radius: var(--size-3);

        &-0,
        &-none {
          border-top-left-radius: var(--size-0);
          border-top-right-radius: var(--size-0);
        }

        &-1 {
          border-top-left-radius: var(--size-1);
          border-top-right-radius: var(--size-1);
        }

        &-2 {
          border-top-left-radius: var(--size-2);
          border-top-right-radius: var(--size-2);
        }

        &-3 {
          border-top-left-radius: var(--size-3);
          border-top-right-radius: var(--size-3);
        }

        &-4 {
          border-top-left-radius: var(--size-4);
          border-top-right-radius: var(--size-4);
        }

        &-5 {
          border-top-left-radius: var(--size-5);
          border-top-right-radius: var(--size-5);
        }
      }

      &-b,
      &-bottom {
        border-bottom-left-radius: var(--size-3);
        border-bottom-right-radius: var(--size-3);

        &-0,
        &-none {
          border-bottom-left-radius: var(--size-0);
          border-bottom-right-radius: var(--size-0);
        }

        &-1 {
          border-bottom-left-radius: var(--size-1);
          border-bottom-right-radius: var(--size-1);
        }

        &-2 {
          border-bottom-left-radius: var(--size-2);
          border-bottom-right-radius: var(--size-2);
        }

        &-3 {
          border-bottom-left-radius: var(--size-3);
          border-bottom-right-radius: var(--size-3);
        }

        &-4 {
          border-bottom-left-radius: var(--size-4);
          border-bottom-right-radius: var(--size-4);
        }

        &-5 {
          border-bottom-left-radius: var(--size-5);
          border-bottom-right-radius: var(--size-5);
        }
      }

      &-l,
      &-left {
        border-top-left-radius: var(--size-3);
        border-bottom-left-radius: var(--size-3);

        &-0,
        &-none {
          border-top-left-radius: var(--size-0);
          border-bottom-left-radius: var(--size-0);
        }

        &-1 {
          border-top-left-radius: var(--size-1);
          border-bottom-left-radius: var(--size-1);
        }

        &-2 {
          border-top-left-radius: var(--size-2);
          border-bottom-left-radius: var(--size-2);
        }

        &-3 {
          border-top-left-radius: var(--size-3);
          border-bottom-left-radius: var(--size-3);
        }

        &-4 {
          border-top-left-radius: var(--size-4);
          border-bottom-left-radius: var(--size-4);
        }

        &-5 {
          border-top-left-radius: var(--size-5);
          border-bottom-left-radius: var(--size-5);
        }
      }

      &-r,
      &-right {
        border-top-right-radius: var(--size-3);
        border-bottom-right-radius: var(--size-3);

        &-0,
        &-none {
          border-top-right-radius: var(--size-0);
          border-bottom-right-radius: var(--size-0);
        }

        &-1 {
          border-top-right-radius: var(--size-1);
          border-bottom-right-radius: var(--size-1);
        }

        &-2 {
          border-top-right-radius: var(--size-2);
          border-bottom-right-radius: var(--size-2);
        }

        &-3 {
          border-top-right-radius: var(--size-3);
          border-bottom-right-radius: var(--size-3);
        }

        &-4 {
          border-top-right-radius: var(--size-4);
          border-bottom-right-radius: var(--size-4);
        }

        &-5 {
          border-top-right-radius: var(--size-5);
          border-bottom-right-radius: var(--size-5);
        }
      }

      &-tl,
      &-top-left {
        border-top-left-radius: var(--size-3);

        &-0,
        &-none {
          border-top-left-radius: var(--size-0);
        }

        &-1 {
          border-top-left-radius: var(--size-1);
        }

        &-2 {
          border-top-left-radius: var(--size-2);
        }

        &-3 {
          border-top-left-radius: var(--size-3);
        }

        &-4 {
          border-top-left-radius: var(--size-4);
        }

        &-5 {
          border-top-left-radius: var(--size-5);
        }
      }

      &-tr,
      &-top-right {
        border-top-right-radius: var(--size-3);

        &-0,
        &-none {
          border-top-right-radius: var(--size-0);
        }

        &-1 {
          border-top-right-radius: var(--size-1);
        }

        &-2 {
          border-top-right-radius: var(--size-2);
        }

        &-3 {
          border-top-right-radius: var(--size-3);
        }

        &-4 {
          border-top-right-radius: var(--size-4);
        }

        &-5 {
          border-top-right-radius: var(--size-5);
        }
      }

      &-bl,
      &-bottom-left {
        border-bottom-left-radius: var(--size-3);

        &-0,
        &-none {
          border-bottom-left-radius: var(--size-0);
        }

        &-1 {
          border-bottom-left-radius: var(--size-1);
        }

        &-2 {
          border-bottom-left-radius: var(--size-2);
        }

        &-3 {
          border-bottom-left-radius: var(--size-3);
        }

        &-4 {
          border-bottom-left-radius: var(--size-4);
        }

        &-5 {
          border-bottom-left-radius: var(--size-5);
        }
      }

      &-br,
      &-bottom-right {
        border-bottom-right-radius: var(--size-3);

        &-0,
        &-none {
          border-bottom-right-radius: var(--size-0);
        }

        &-1 {
          border-bottom-right-radius: var(--size-1);
        }

        &-2 {
          border-bottom-right-radius: var(--size-2);
        }

        &-3 {
          border-bottom-right-radius: var(--size-3);
        }

        &-4 {
          border-bottom-right-radius: var(--size-4);
        }

        &-5 {
          border-bottom-right-radius: var(--size-5);
        }
      }

      &-alternate {
        border-radius: 0 var(--size-3) 0 var(--size-3);

        &-1 {
          border-radius: 0 var(--size-1) 0 var(--size-1);
        }

        &-2 {
          border-radius: 0 var(--size-2) 0 var(--size-2);
        }

        &-3 {
          border-radius: 0 var(--size-3) 0 var(--size-1);
        }

        &-4 {
          border-radius: 0 var(--size-4) 0 var(--size-1);
        }

        &-5 {
          border-radius: 0 var(--size-5) 0 var(--size-1);
        }

        &-inverse {
          border-radius: var(--size-3) 0 var(--size-3) 0;

          &-1 {
            border-radius: var(--size-1) 0 var(--size-1) 0;
          }

          &-2 {
            border-radius: var(--size-2) 0 var(--size-2) 0;
          }

          &-3 {
            border-radius: var(--size-3) 0 var(--size-1) 0;
          }

          &-4 {
            border-radius: var(--size-4) 0 var(--size-1) 0;
          }

          &-5 {
            border-radius: var(--size-5) 0 var(--size-1) 0;
          }
        }
      }
    }

  }

  @each $name,
  $color in $colors {
    .c-#{$name} {
      color: $color !important;

      &-hover {
        &:hover {
          color: $color !important;
        }
      }
    }

    .bg-#{$name} {
      background-color: $color !important;

      &-hover {
        &:hover {
          background-color: $color !important;
        }
      }
    }

    .border-#{$name} {
      border-color: $color !important;

      &-hover {
        &:hover {
          border-color: $color !important;
        }
      }
    }
  }

  /* PESO DAS FONTES */
  .fw {

    &-100 {
      font-weight: 100 !important;
    }

    &-200 {
      font-weight: 200 !important;
    }

    &-300 {
      font-weight: 300 !important;
    }

    &-400 {
      font-weight: 400 !important;
    }

    &-500 {
      font-weight: 500 !important;
    }

    &-600 {
      font-weight: 600 !important;
    }

    &-700 {
      font-weight: 700 !important;
    }

    &-800 {
      font-weight: 800 !important;
    }

    &-900 {
      font-weight: 900 !important;
    }

    &-normal {
      font-weight: 400 !important;
    }

    &-bold {
      font-weight: 700 !important;
    }
  }

  /* TAMANHO DAS FONTES */

  // Gerando as classes padrão (sem media query)
  @each $name,
  $size in $font-sizes {
    .fs-#{$name} {
      font-size: $size !important;
    }
  }

  // Gerando classes responsivas para cada breakpoint
  @each $bp,
  $width in $breakpoints {
    @media (min-width: #{$width}) {

      @each $name,
      $size in $font-sizes {
        .fs-#{$bp}-#{$name} {
          font-size: $size !important;
        }
      }
    }
  }


  /* ALTURA DA LINHA - LINE HEIGHT */
  .lh {

    &-1 {
      line-height: var(--line-height-1) !important;
    }

    &-2 {
      line-height: var(--line-height-2) !important;
    }

    &-3 {
      line-height: var(--line-height-3) !important;
    }

    &-4 {
      line-height: var(--line-height-4) !important;
    }

  }

  /* ALINHAMENTO */
  .center {

    &-s {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }

    &-v {
      display: flex !important;
      align-items: center !important;
    }

    &-h {
      display: flex !important;
      justify-content: center !important;
    }
  }

  .place {

    &-center {
      place-content: center;
    }


  }


  /* FILL */

  .fill {
    &-perfil {
      fill: $cor-perfil !important;

      &-200 {
        fill: $cor-perfil-200 !important;
      }

      &-300 {
        fill: $cor-perfil-300 !important;
      }

      &-500 {
        fill: $cor-perfil-500 !important;
      }

      &-600 {
        fill: $cor-perfil-600 !important;
      }
    }

    &-apoio {
      fill: $cor-apoio !important;

      &-200 {
        fill: $cor-apoio-200 !important;
      }

      &-300 {
        fill: $cor-apoio-300 !important;
      }

      &-500 {
        fill: $cor-apoio-500 !important;
      }

      &-600 {
        fill: $cor-apoio-600 !important;
      }
    }

    &-destaque {
      fill: $cor-destaque !important;

      &-200 {
        fill: $cor-destaque-200 !important;
      }

      &-300 {
        fill: $cor-destaque-300 !important;
      }

      &-500 {
        fill: $cor-destaque-500 !important;
      }

      &-600 {
        fill: $cor-destaque-600 !important;
      }
    }

    &-base {
      fill: $cor-base !important;

      &-200 {
        fill: $cor-base-200 !important;
      }

      &-300 {
        fill: $cor-base-300 !important;
      }

      &-500 {
        fill: $cor-base-500 !important;
      }

      &-600 {
        fill: $cor-base-600 !important;
      }
    }

    &-turq,
    &-primary {
      fill: $turq !important;

      &-200 {
        fill: $turq-200 !important;
      }

      &-300 {
        fill: $turq-300 !important;
      }

      &-500 {
        fill: $turq-500 !important;
      }

      &-600 {
        fill: $turq-600 !important;
      }
    }

    &-verdee,
    &-dark {
      fill: $verdee !important;

      &-200 {
        fill: $verdee-200 !important;
      }

      &-300 {
        fill: $verdee-300 !important;
      }

      &-500 {
        fill: $verdee-500 !important;
      }

      &-600 {
        fill: $verdee-600 !important;
      }
    }

    &-verdem {
      fill: $verdem !important;

      &-200 {
        fill: $verdem-200 !important;
      }

      &-300 {
        fill: $verdem-300 !important;
      }

      &-500 {
        fill: $verdem-500 !important;
      }

      &-600 {
        fill: $verdem-600 !important;
      }
    }

    &-verdec {
      fill: $verdec !important;

      &-200 {
        fill: $verdec-200 !important;
      }

      &-300 {
        fill: $verdec-300 !important;
      }

      &-500 {
        fill: $verdec-500 !important;
      }

      &-600 {
        fill: $verdec-600 !important;
      }
    }

    &-roxo {
      fill: $roxo !important;

      &-200 {
        fill: $roxo-200 !important;
      }

      &-300 {
        fill: $roxo-300 !important;
      }

      &-500 {
        fill: $roxo-500 !important;
      }

      &-600 {
        fill: $roxo-600 !important;
      }
    }

    &-cinza {
      &-200 {
        fill: $cinza-200 !important;
      }

      &-300 {
        fill: $cinza-300 !important;
      }

      &-400 {
        fill: $cinza-400 !important;
      }

      &-500 {
        fill: $cinza-500 !important;
      }

      &-600 {
        fill: $cinza-600 !important;
      }

      &-700 {
        fill: $cinza-700 !important;
      }

      &-800 {
        fill: $cinza-800 !important;
      }

      &-900 {
        fill: $cinza-900 !important;
      }
    }

    &-branco,
    &-light {
      fill: $branco !important;
    }

    &-preto {
      fill: $preto !important;
    }
  }

  /* WIDTH */
  .w {

    &-fit-content {
      width: fit-content;
    }

    &-sm-100 {
      @media (max-width:576px) {
        width: 100%;
      }
    }

    /* viewport */
    &v {
      &-100 {
        width: 100vw;
      }
    }
  }

  /* HEIGTH */
  .h {
    &-fit-content {
      height: fit-content;
    }

    &-100 {
      height: 100%;
    }

    /* viewport */
    &v {
      &-100 {
        height: 100vh;
      }
    }

    /* dinamic viewport */
    &dv {
      &-100 {
        height: 100dvh;
      }
    }

  }

  /* GAP */
  .gap {
    &-0 {
      gap: var(--size-0) !important;
    }

    &-1 {
      gap: var(--size-1) !important;
    }

    &-2 {
      gap: var(--size-2) !important;
    }

    &-3 {
      gap: var(--size-3) !important;
    }

    &-4 {
      gap: var(--size-4) !important;
    }

    &-5 {
      gap: var(--size-5) !important;
    }

    &-row {
      &-0 {
        row-gap: var(--size-0) !important;
      }

      &-1 {
        row-gap: var(--size-1) !important;
      }

      &-2 {
        row-gap: var(--size-2) !important;
      }

      &-3 {
        row-gap: var(--size-3) !important;
      }

      &-4 {
        row-gap: var(--size-4) !important;
      }

      &-5 {
        row-gap: var(--size-5) !important;
      }
    }

    &-col {
      &-0 {
        column-gap: var(--size-0) !important;
      }

      &-1 {
        column-gap: var(--size-1) !important;
      }

      &-2 {
        column-gap: var(--size-2) !important;
      }

      &-3 {
        column-gap: var(--size-3) !important;
      }

      &-4 {
        column-gap: var(--size-4) !important;
      }

      &-5 {
        column-gap: var(--size-5) !important;
      }
    }
  }

  .-m{
    &t{
      &-1{
        margin-top: calc(-1 * var(--size-1)) !important;
      }
      &-2{
        margin-top: calc(-1 * var(--size-2)) !important;
      }
      &-3{
        margin-top: calc(-1 * var(--size-3)) !important;
      }
      &-4{
        margin-top: calc(-1 * var(--size-4)) !important;
      }
      &-5{
        margin-top: calc(-1 * var(--size-5)) !important;
      }
    }
    &b{
      &-1{
        margin-bottom: calc(-1 * var(--size-1)) !important;
      }
      &-2{
        margin-bottom: calc(-1 * var(--size-2)) !important;
      }
      &-3{
        margin-bottom: calc(-1 * var(--size-3)) !important;
      }
      &-4{
        margin-bottom: calc(-1 * var(--size-4)) !important;
      }
      &-5{
        margin-bottom: calc(-1 * var(--size-5)) !important;
      }
    }
    &l{
      &-1{
        margin-left: calc(-1 * var(--size-1)) !important;
      }
      &-2{
        margin-left: calc(-1 * var(--size-2)) !important;
      }
      &-3{
        margin-left: calc(-1 * var(--size-3)) !important;
      }
      &-4{
        margin-left: calc(-1 * var(--size-4)) !important;
      }
      &-5{
        margin-left: calc(-1 * var(--size-5)) !important;
      }
    }
    &r{
      &-1{
        margin-right: calc(-1 * var(--size-1)) !important;
      }
      &-2{
        margin-right: calc(-1 * var(--size-2)) !important;
      }
      &-3{
        margin-right: calc(-1 * var(--size-3)) !important;
      }
      &-4{
        margin-right: calc(-1 * var(--size-4)) !important;
      }
      &-5{
        margin-right: calc(-1 * var(--size-5)) !important;
      }
    }
  }

  /* BOX SHADOW */
  .box-shadow {
    &-none, &-0{
      box-shadow: none;
    }
    &-1 {
      box-shadow: var(--box-shadow-1);
    }

    &-2 {
      box-shadow: var(--box-shadow-2);
    }

    &-3 {
      box-shadow: var(--box-shadow-3);
    }

    &-4 {
      box-shadow: var(--box-shadow-4);
    }
  }

  /* TRANSITION */
  .transition {
    &-1 {
      transition: var(--transition-1);
    }

    &-2 {
      transition: var(--box-shadow-2);
    }
  }

  /* OPACITY */
  .opacity {
    &-0 {
      opacity: 0;
    }

    &-025 {
      opacity: 0.25;
    }

    &-05 {
      opacity: 0.5;
    }

    &-075 {
      opacity: 0.75;
    }

    &-1 {
      opacity: 1;
    }
  }

  .overflow {

    &-hidden {
      overflow: hidden;
    }
  }

  .text {
    &-balance {
      text-wrap: balance;
    }

    &-pretty {
      text-wrap: pretty;
    }
  }

  .nowrap {
    white-space: nowrap;
  }

  .cursor {

    &-pointer {
      cursor: pointer;
    }

    &-default {
      cursor: default;
    }

  }

  .bg-mais {
    --plus-size: 24px;
    position: absolute;
    //top: calc(-1*var(--plus-size) * 1);
    //bottom: calc(-1*var(--plus-size) * 1);
    //left: calc(-1*var(--plus-size) * 1);
    //right: calc(-1*var(--plus-size) * 1);
    //height: calc(var(--plus-size) * 1);
    //width: calc(var(--plus-size) * 1);
    background-size: var(--plus-size) var(--plus-size);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23000000" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');

    &.turq {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2300ae9d" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }

    &.verdee {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23003641" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }

    &.verdem {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%237DB61C" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }

    &.verdec {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23C9D200" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }

    &.roxo {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2349479D" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }

    &.branco {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23FFFFFF" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
    }


  }
}