


$turq-200:var(--turq-200);
$turq-300:var(--turq-300);
$turq:var(--turq);
$turq-500:var(--turq-500);
$turq-600:var(--turq-600);

$verdee-200:var(--verdee-200);
$verdee-300:var(--verdee-300);
$verdee:var(--verdee);
$verdee-500:var(--verdee-500);
$verdee-600:var(--verdee-600);

$verdem-200:var(--verdem-200);
$verdem-300:var(--verdem-300);
$verdem:var(--verdem);
$verdem-500:var(--verdem-500);
$verdem-600:var(--verdem-600);

$verdec-200:var(--verdec-200);
$verdec-300:var(--verdec-300);
$verdec:var(--verdec);
$verdec-500:var(--verdec-500);
$verdec-600:var(--verdec-600);

$roxo-200:var(--roxo-200);
$roxo-300:var(--roxo-300);
$roxo:var(--roxo);
$roxo-500:var(--roxo-500);
$roxo-600:var(--roxo-600);

$branco:var(--branco);
$cinza-200:var(--cinza-200);
$cinza-300:var(--cinza-300);
$cinza-400:var(--cinza-400);
$cinza-500:var(--cinza-500);
$cinza-600:var(--cinza-600);
$cinza-700:var(--cinza-700);
$cinza-800:var(--cinza-800);
$cinza-900:var(--cinza-900);
$preto:var(--preto);
$transparente:var(--transparente);


$cor-perfil-200: var(--cor-perfil-200);
$cor-perfil-300: var(--cor-perfil-300);
$cor-perfil: var(--cor-perfil);
$cor-perfil-500: var(--cor-perfil-500);
$cor-perfil-600: var(--cor-perfil-600);

$gradient-turq: var(--gradient-turq);
$gradient-turq-line: var(--gradient-turq-line);
$gradient-verdee: var(--gradient-verdee);
$gradient-verdee-line: var(--gradient-verdee-line);