@charset "UTF-8";
:root {
  --turq-200: var(--color-function-primary-lightest);
  --turq-300: var(--color-function-primary-active);
  --turq: var(--color-function-primary-action);
  --turq-500: var(--color-function-primary-default);
  --turq-600: var(--color-function-primary-darkest);
  --verdee-200: #005566;
  --verdee-300: #004452;
  --verdee: #003641;
  --verdee-500: #002A33;
  --verdee-600: #001E24;
  --verdem-200: #92D421;
  --verdem-300: #86C21E;
  --verdem: #7DB61C;
  --verdem-500: #73A81A;
  --verdem-600: #679617;
  --verdec-200: #EAF500;
  --verdec-300: #D7E000;
  --verdec: #C9D200;
  --verdec-500: #B9C200;
  --verdec-600: #A6AD00;
  --roxo-200: #5956B3;
  --roxo-300: #4E4CA9;
  --roxo: #49479D;
  --roxo-500: #41408C;
  --roxo-600: #3B397E;
  --branco: #FFFFFF;
  --cinza-200: #F2F2F2;
  --cinza-300: #E9E9E9;
  --cinza-400: #D1D1D1;
  --cinza-500: #B4B4B4;
  --cinza-600: #9d9d9d;
  --cinza-700: #6e6e6e;
  --cinza-800: #5E5E5E;
  --cinza-900: #333;
  --preto: #000;
  --transparente: rgba(0, 0, 0, 0);
  --gradient-turq: radial-gradient(at 0% 100%, var(--turq-300) 0px, transparent 50%), radial-gradient(at 80% 100%, var(--turq-500) 0px, transparent 50%), radial-gradient(at 0% 0%, var(--turq-300) 0px, transparent 50%);
  --gradient-turq-line: linear-gradient(to right, var(--turq), var(--turq-600));
  --gradient-verdee: radial-gradient(at 0% 100%, var(--verdee-300) 0px, transparent 50%), radial-gradient(at 80% 100%, var(--verdee-500) 0px, transparent 50%), radial-gradient(at 0% 0%, var(--verdee-300) 0px, transparent 50%);
  --gradient-verdee-line: linear-gradient(to right, var(--verdee), var(--verdee-600));
  --color-brand-main: var(--persian-green-600);
  --color-brand-opposite: var(--victoria-700);
  --color-brand-complementary: var(--lima-500);
  --color-brand-supplementary: var(--rio-grande-600);
  --color-brand-dusky: var(--cyprus-800);
  --color-denotative-success-darkest: var(--lima-800);
  --color-denotative-success-action: var(--lima-700);
  --color-denotative-success-default: var(--lima-500);
  --color-denotative-success-active: var(--lima-200);
  --color-denotative-success-lightest: var(--lima-100);
  --color-denotative-info-darkest: #065786;
  --color-denotative-info-action: #0166a3;
  --color-denotative-info-default: #0090e0;
  --color-denotative-info-active: #b9e5fe;
  --color-denotative-info-lightest: #f0f9ff;
  --color-denotative-warning-darkest: #942e0c;
  --color-denotative-warning-action: #dd5c02;
  --color-denotative-warning-default: #ffaa2c;
  --color-denotative-warning-active: #ffd888;
  --color-denotative-warning-lightest: #fff9eb;
  --color-denotative-error-darkest: #a11042;
  --color-denotative-error-action: #c10f47;
  --color-denotative-error-default: #f7406c;
  --color-denotative-error-active: #ffccd6;
  --color-denotative-error-lightest: #fff1f3;
  --color-function-disabled-background: #e3e3e3;
  --color-function-disabled-text: #818181;
  --color-function-disabled-border: #a4a4a4;
  --color-function-primary-darkest: var(--persian-green-800);
  --color-function-primary-action: var(--persian-green-600);
  --color-function-primary-default: var(--persian-green-700);
  --color-function-primary-active: #04c8b0;
  --color-function-primary-lightest: #effefb;
  --color-function-secondary-darkest: #47438a;
  --color-function-secondary-action: #575ab9;
  --color-function-secondary-default: #49479d;
  --color-function-secondary-active: #6a72c7;
  --color-function-secondary-lightest: #f3f5fb;
  --color-function-tertiary-darkest: #002A33;
  --color-function-tertiary-action: #004452;
  --color-function-tertiary-default: #001E24;
  --color-function-tertiary-active: #04c8b0;
  --color-function-tertiary-lightest: #1de4c9;
  --color-surface-text-default-low: #818181;
  --color-surface-text-default-medium: #515151;
  --color-surface-text-default-high: #002A33;
  --color-surface-text-highlight-low: #f7f7f7;
  --color-surface-text-highlight-medium: #005566;
  --color-surface-text-highlight-high: var(--persian-green-600);
  --color-surface-background-low: #FFFFFF;
  --color-surface-background-medium: #ebedf1;
  --color-surface-background-high: #002A33;
  --color-surface-stroke-low: #e3e3e3;
  --color-surface-stroke-medium: #d5dae2;
  --color-surface-stroke-high: #b1bbc8;
  --color-surface-support-1-low: #e3e3e3;
  --color-surface-support-1-medium: #003641;
  --color-surface-support-1-high: #001E24;
  --color-surface-support-2-low: #f7f7f7;
  --color-surface-support-2-medium: #8695aa;
  --color-surface-support-2-high: #343a46;
  --color-surface-support-3-low: #FFFFFF;
  --color-surface-support-3-medium: #818181;
  --color-surface-support-3-high: #313131;
  --color-surface-support-4-low: #effefb;
  --color-surface-support-4-medium: #058075;
  --color-surface-support-4-high: #003332;
  --color-surface-support-5-low: #f8fde8;
  --color-surface-support-5-medium: #679c14;
  --color-surface-support-5-high: #1b2c07;
  --color-surface-support-6-low: #f8fee8;
  --color-surface-support-6-medium: #a49e04;
  --color-surface-support-6-high: #433705;
  --color-surface-support-7-low: #f3f5fb;
  --color-surface-support-7-medium: #8793d3;
  --color-surface-support-7-high: #282645;
  --color-surface-balance-income-low: #f8fde8;
  --color-surface-balance-income-medium: #679c14;
  --color-surface-balance-debit-low: #fff1f3;
  --color-surface-balance-debit-medium: #e41a54;
  --persian-green-50: #effefb;
  --persian-green-100: #c7fff4;
  --persian-green-200: #90ffe8;
  --persian-green-300: #51f7dc;
  --persian-green-400: #1de4c9;
  --persian-green-500: #04c8b0;
  --persian-green-600: #00ae9d;
  --persian-green-700: #03857F;
  --persian-green-800: #0a655e;
  --persian-green-900: #0d544e;
  --persian-green-950: #003332;
  --lima-50: #f8fde8;
  --lima-100: #ecfacd;
  --lima-200: #daf5a1;
  --lima-300: #bfec6a;
  --lima-400: #a5de3d;
  --lima-500: #7db61c;
  --lima-600: #679c14;
  --lima-700: #4f7714;
  --lima-800: #415e16;
  --lima-900: #375017;
  --lima-950: #1b2c07;
  --rio-grande-50: #f8fee8;
  --rio-grande-100: #eeffc2;
  --rio-grande-200: #e0ff88;
  --rio-grande-300: #d6ff43;
  --rio-grande-400: #d8ff10;
  --rio-grande-500: #d3ef03;
  --rio-grande-600: #c9d200;
  --rio-grande-700: #aeb50e;
  --rio-grande-800: #888b1a;
  --rio-grande-900: #525b0c;
  --rio-grande-950: #2b3300;
  --victoria-50: #f3f5fb;
  --victoria-100: #e4e6f5;
  --victoria-200: #cfd4ee;
  --victoria-300: #aeb8e2;
  --victoria-400: #8793d3;
  --victoria-500: #6a72c7;
  --victoria-600: #575ab9;
  --victoria-700: #49479d;
  --victoria-800: #47438a;
  --victoria-900: #3a396f;
  --victoria-950: #282645;
  --cyprus-50: #00A2C2;
  --cyprus-100: #009DBD;
  --cyprus-200: #008CA8;
  --cyprus-300: #008099;
  --cyprus-400: #006F85;
  --cyprus-500: #006275;
  --cyprus-600: #005566;
  --cyprus-700: #004452;
  --cyprus-800: #003641;
  --cyprus-900: #002A33;
  --cyprus-950: #001E24;
  --sunshade-50: #fff9eb;
  --sunshade-100: #ffedc6;
  --sunshade-200: #ffd888;
  --sunshade-300: #ffbf4a;
  --sunshade-400: #ffaa2c;
  --sunshade-500: #f98107;
  --sunshade-600: #dd5c02;
  --sunshade-700: #b73d06;
  --sunshade-800: #942e0c;
  --sunshade-900: #7a270d;
  --sunshade-950: #461202;
  --violet-red-50: #fff1f3;
  --violet-red-100: #ffe4e8;
  --violet-red-200: #ffccd6;
  --violet-red-300: #fea3b4;
  --violet-red-400: #fd6f8d;
  --violet-red-500: #f7406c;
  --violet-red-600: #e41a54;
  --violet-red-700: #c10f47;
  --violet-red-800: #a11042;
  --violet-red-900: #8a113e;
  --violet-red-950: #4d041e;
  --cerulean-50: #f0f9ff;
  --cerulean-100: #e0f1fe;
  --cerulean-200: #b9e5fe;
  --cerulean-300: #7cd1fd;
  --cerulean-400: #36bbfa;
  --cerulean-500: #0ca2eb;
  --cerulean-600: #0090e0;
  --cerulean-700: #0166a3;
  --cerulean-800: #065786;
  --cerulean-900: #0b486f;
  --cerulean-950: #072e4a;
  --athens-gray-50: #f7f7f7;
  --athens-gray-100: #ebedf1;
  --athens-gray-200: #d5dae2;
  --athens-gray-300: #b1bbc8;
  --athens-gray-400: #8695aa;
  --athens-gray-500: #677890;
  --athens-gray-600: #526077;
  --athens-gray-700: #434e61;
  --athens-gray-800: #3a4452;
  --athens-gray-900: #343a46;
  --athens-gray-950: #22272f;
  --mine-shaft-50: #FFFFFF;
  --mine-shaft-100: #e3e3e3;
  --mine-shaft-200: #c8c8c8;
  --mine-shaft-300: #a4a4a4;
  --mine-shaft-400: #818181;
  --mine-shaft-500: #666666;
  --mine-shaft-600: #515151;
  --mine-shaft-700: #434343;
  --mine-shaft-800: #383838;
  --mine-shaft-900: #313131;
  --mine-shaft-950: #1a1a1a;
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
  --cor-apoio-200: var(--verdee-200);
  --cor-apoio-300: var(--verdee-300);
  --cor-apoio: var(--verdee);
  --cor-apoio-500: var(--verdee-500);
  --cor-apoio-600: var(--verdee-600);
  --cor-destaque-200: var(--verdec-200);
  --cor-destaque-300: var(--verdec-300);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-500);
  --cor-destaque-600: var(--verdec-600);
  --cor-base-200: var(--cinza-200);
  --cor-base-300: var(--cinza-300);
  --cor-base: var(--branco);
  --cor-base-500: var(--cinza-500);
  --cor-base-600: var(--cinza-600);
  --size-0: 0rem;
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 1rem;
  --size-4: 1.5rem;
  --size-5: 3rem;
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.18,1240,18,1.22285,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step Xsmall: 11.6px → 13px */
  --font-size-xs: clamp(0.725rem, 0.70rem + 0.06vw, 0.8125rem);
  /* Step Small: 13px → 15px */
  --font-size-sm: clamp(0.8125rem, 0.82rem + 0.13vw, 0.9375rem);
  /* Step Base/paragrafo/body: 16px → 18px */
  --font-size-bs: clamp(1rem, 0.95rem + 0.22vw, 1.125rem);
  /* Step h6: 19px → 22px */
  --font-size-6: clamp(1.18rem, 1.1875rem + 0.34vw, 1.375rem);
  /* Step h5: 23px → 27px */
  --font-size-5: clamp(1.4375rem, 1.3rem + 0.5vw, 1.6875rem);
  /* Step h4: 27px → 33px */
  --font-size-4: clamp(1.6875rem, 1.5rem + 0.72vw, 2.0625rem);
  /* Step h3: 32px → 40px */
  --font-size-3: clamp(2rem, 1.74rem + 1vw, 2.5rem);
  /* Step h2: 37px → 50px */
  --font-size-2: clamp(2.3125rem, 2rem + 1.37vw, 3.125rem);
  /* Step h1: 45px → 60px */
  --font-size-1: clamp(2.8125rem, 2.3rem + 1.85vw, 3.75rem);
  /* Step display lg: 52px → 75px */
  --font-size-lg: clamp(3.25rem, 2.7rem + 2.46vw, 4.6875rem);
  /* Step display xl: 60px → 90px */
  --font-size-xl: clamp(3.75rem, 3.1rem + 3.25vw, 5.625rem);
  --font-size-base: var(--font-size-bs);
  --font-size-minor: var(--font-size-xs);
  --font-size-small: var(--font-size-sm);
  --font-sans: "Sicoob sans", "Asap", sans-serif;
  --font-script: "Sicoob script", "Pacifico", cursive;
  --line-height-1: 100%;
  --line-height-2: 120%;
  --line-height-3: 150%;
  --line-height-4: 200%;
  --transition-1: all 0.3s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --transition-2: all 0.5s cubic-bezier(0.6, -0.10, 0.4, 1.10);
  --box-shadow-1: 0 2px 8px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 8px 16px rgba(0, 0, 0, 0.1);
  --box-shadow-3: 0 16px 32px rgba(0, 0, 0, 0.1);
  --box-shadow-4: 0 24px 48px rgba(0, 0, 0, 0.1);
  --box-shadow-xs: 0 2px 4px rgba(128, 128, 128, 0.2);
  --box-shadow-sm: 0 2px 8px rgba(128, 128, 128, 0.2);
}

body,
body .tema-turq {
  --cor-perfil-200: var(--turq-200);
  --cor-perfil-300: var(--turq-300);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-500);
  --cor-perfil-600: var(--turq-600);
  --cor-apoio-200: var(--verdee-200);
  --cor-apoio-300: var(--verdee-300);
  --cor-apoio: var(--verdee);
  --cor-apoio-500: var(--verdee-500);
  --cor-apoio-600: var(--verdee-600);
  --cor-destaque-200: var(--verdec-200);
  --cor-destaque-300: var(--verdec-300);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-500);
  --cor-destaque-600: var(--verdec-600);
  --cor-base-200: var(--cinza-200);
  --cor-base-300: var(--cinza-300);
  --cor-base: var(--branco);
  --cor-base-500: var(--cinza-500);
  --cor-base-600: var(--cinza-600);
}
body .tema-verdee {
  --cor-perfil-200: var(--verdee-200);
  --cor-perfil-300: var(--verdee-300);
  --cor-perfil: var(--verdee);
  --cor-perfil-500: var(--verdee-500);
  --cor-perfil-600: var(--verdee-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body .tema-verdem {
  --cor-perfil-200: var(--verdem-200);
  --cor-perfil-300: var(--verdem-300);
  --cor-perfil: var(--verdem);
  --cor-perfil-500: var(--verdem-500);
  --cor-perfil-600: var(--verdem-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body .tema-verdec {
  --cor-perfil-200: var(--verdec-200);
  --cor-perfil-300: var(--verdec-300);
  --cor-perfil: var(--verdec);
  --cor-perfil-500: var(--verdec-500);
  --cor-perfil-600: var(--verdec-600);
  --cor-destaque-200: var(--turq-200);
  --cor-destaque-300: var(--turq-300);
  --cor-destaque: var(--turq);
  --cor-destaque-500: var(--turq-500);
  --cor-destaque-600: var(--turq-600);
}
body .tema-dark {
  --cor-perfil-200: var(--turq-600);
  --cor-perfil-300: var(--turq-500);
  --cor-perfil: var(--turq);
  --cor-perfil-500: var(--turq-300);
  --cor-perfil-600: var(--turq-200);
  --cor-apoio-200: var(--cinza-600);
  --cor-apoio-300: var(--cinza-500);
  --cor-apoio: var(--branco);
  --cor-apoio-500: var(--cinza-300);
  --cor-apoio-600: var(--cinza-200);
  --cor-destaque-200: var(--verdec-600);
  --cor-destaque-300: var(--verdec-500);
  --cor-destaque: var(--verdec);
  --cor-destaque-500: var(--verdec-300);
  --cor-destaque-600: var(--verdec-200);
  --cor-base-200: var(--verdee-600);
  --cor-base-300: var(--verdee-500);
  --cor-base: var(--verdee);
  --cor-base-500: var(--verdee-300);
  --cor-base-600: var(--verdee-200);
}/*# sourceMappingURL=root.css.map */