/* COR DAS FONTES */
.c-perfil {
  color: var(--cor-perfil) !important;
}
.c-perfil-200 {
  color: var(--cor-perfil-200) !important;
}
.c-perfil-300 {
  color: var(--cor-perfil-300) !important;
}
.c-perfil-500 {
  color: var(--cor-perfil-500) !important;
}
.c-perfil-600 {
  color: var(--cor-perfil-600) !important;
}
.c-apoio {
  color: var(--cor-apoio) !important;
}
.c-apoio-200 {
  color: var(--cor-apoio-200) !important;
}
.c-apoio-300 {
  color: var(--cor-apoio-300) !important;
}
.c-apoio-500 {
  color: var(--cor-apoio-500) !important;
}
.c-apoio-600 {
  color: var(--cor-apoio-600) !important;
}
.c-destaque {
  color: var(--cor-destaque) !important;
}
.c-destaque-200 {
  color: var(--cor-destaque-200) !important;
}
.c-destaque-300 {
  color: var(--cor-destaque-300) !important;
}
.c-destaque-500 {
  color: var(--cor-destaque-500) !important;
}
.c-destaque-600 {
  color: var(--cor-destaque-600) !important;
}
.c-base {
  color: var(--cor-base) !important;
}
.c-base-200 {
  color: var(--cor-base-200) !important;
}
.c-base-300 {
  color: var(--cor-base-300) !important;
}
.c-base-500 {
  color: var(--cor-base-500) !important;
}
.c-base-600 {
  color: var(--cor-base-600) !important;
}
.c-turq {
  color: var(--turq) !important;
}
.c-turq-200 {
  color: var(--turq-200) !important;
}
.c-turq-300 {
  color: var(--turq-300) !important;
}
.c-turq-500 {
  color: var(--turq-500) !important;
}
.c-turq-600 {
  color: var(--turq-600) !important;
}
.c-verdee {
  color: var(--verdee) !important;
}
.c-verdee-200 {
  color: var(--verdee-200) !important;
}
.c-verdee-300 {
  color: var(--verdee-300) !important;
}
.c-verdee-500 {
  color: var(--verdee-500) !important;
}
.c-verdee-600 {
  color: var(--verdee-600) !important;
}
.c-verdem {
  color: var(--verdem) !important;
}
.c-verdem-200 {
  color: var(--verdem-200) !important;
}
.c-verdem-300 {
  color: var(--verdem-300) !important;
}
.c-verdem-500 {
  color: var(--verdem-500) !important;
}
.c-verdem-600 {
  color: var(--verdem-600) !important;
}
.c-verdec {
  color: var(--verdec) !important;
}
.c-verdec-200 {
  color: var(--verdec-200) !important;
}
.c-verdec-300 {
  color: var(--verdec-300) !important;
}
.c-verdec-500 {
  color: var(--verdec-500) !important;
}
.c-verdec-600 {
  color: var(--verdec-600) !important;
}
.c-roxo {
  color: var(--roxo) !important;
}
.c-roxo-200 {
  color: var(--roxo-200) !important;
}
.c-roxo-300 {
  color: var(--roxo-300) !important;
}
.c-roxo-500 {
  color: var(--roxo-500) !important;
}
.c-roxo-600 {
  color: var(--roxo-600) !important;
}
.c-cinza-200 {
  color: var(--cinza-200) !important;
}
.c-cinza-300 {
  color: var(--cinza-300) !important;
}
.c-cinza-400 {
  color: var(--cinza-400) !important;
}
.c-cinza-500 {
  color: var(--cinza-500) !important;
}
.c-cinza-600 {
  color: var(--cinza-600) !important;
}
.c-branco {
  color: var(--branco) !important;
}
.c-preto {
  color: var(--preto) !important;
}

/* COR DOS FUNDOS */
.bg-perfil {
  background-color: var(--cor-perfil) !important;
}
.bg-perfil-200 {
  background-color: var(--cor-perfil-200) !important;
}
.bg-perfil-300 {
  background-color: var(--cor-perfil-300) !important;
}
.bg-perfil-500 {
  background-color: var(--cor-perfil-500) !important;
}
.bg-perfil-600 {
  background-color: var(--cor-perfil-600) !important;
}
.bg-apoio {
  background-color: var(--cor-apoio) !important;
}
.bg-apoio-200 {
  background-color: var(--cor-apoio-200) !important;
}
.bg-apoio-300 {
  background-color: var(--cor-apoio-300) !important;
}
.bg-apoio-500 {
  background-color: var(--cor-apoio-500) !important;
}
.bg-apoio-600 {
  background-color: var(--cor-apoio-600) !important;
}
.bg-destaque {
  background-color: var(--cor-destaque) !important;
}
.bg-destaque-200 {
  background-color: var(--cor-destaque-200) !important;
}
.bg-destaque-300 {
  background-color: var(--cor-destaque-300) !important;
}
.bg-destaque-500 {
  background-color: var(--cor-destaque-500) !important;
}
.bg-destaque-600 {
  background-color: var(--cor-destaque-600) !important;
}
.bg-base {
  background-color: var(--cor-base) !important;
}
.bg-base-200 {
  background-color: var(--cor-base-200) !important;
}
.bg-base-300 {
  background-color: var(--cor-base-300) !important;
}
.bg-base-500 {
  background-color: var(--cor-base-500) !important;
}
.bg-base-600 {
  background-color: var(--cor-base-600) !important;
}
.bg-turq {
  background-color: var(--turq) !important;
}
.bg-turq-200 {
  background-color: var(--turq-200) !important;
}
.bg-turq-300 {
  background-color: var(--turq-300) !important;
}
.bg-turq-500 {
  background-color: var(--turq-500) !important;
}
.bg-turq-600 {
  background-color: var(--turq-600) !important;
}
.bg-verdee {
  background-color: var(--verdee) !important;
}
.bg-verdee-200 {
  background-color: var(--verdee-200) !important;
}
.bg-verdee-300 {
  background-color: var(--verdee-300) !important;
}
.bg-verdee-500 {
  background-color: var(--verdee-500) !important;
}
.bg-verdee-600 {
  background-color: var(--verdee-600) !important;
}
.bg-verdem {
  background-color: var(--verdem) !important;
}
.bg-verdem-200 {
  background-color: var(--verdem-200) !important;
}
.bg-verdem-300 {
  background-color: var(--verdem-300) !important;
}
.bg-verdem-500 {
  background-color: var(--verdem-500) !important;
}
.bg-verdem-600 {
  background-color: var(--verdem-600) !important;
}
.bg-verdec {
  background-color: var(--verdec) !important;
}
.bg-verdec-200 {
  background-color: var(--verdec-200) !important;
}
.bg-verdec-300 {
  background-color: var(--verdec-300) !important;
}
.bg-verdec-500 {
  background-color: var(--verdec-500) !important;
}
.bg-verdec-600 {
  background-color: var(--verdec-600) !important;
}
.bg-roxo {
  background-color: var(--roxo) !important;
}
.bg-roxo-200 {
  background-color: var(--roxo-200) !important;
}
.bg-roxo-300 {
  background-color: var(--roxo-300) !important;
}
.bg-roxo-500 {
  background-color: var(--roxo-500) !important;
}
.bg-roxo-600 {
  background-color: var(--roxo-600) !important;
}
.bg-cinza-200 {
  background-color: var(--cinza-200) !important;
}
.bg-cinza-300 {
  background-color: var(--cinza-300) !important;
}
.bg-cinza-400 {
  background-color: var(--cinza-400) !important;
}
.bg-cinza-500 {
  background-color: var(--cinza-500) !important;
}
.bg-cinza-600 {
  background-color: var(--cinza-600) !important;
}
.bg-branco {
  background-color: var(--branco) !important;
}
.bg-preto {
  background-color: var(--preto) !important;
}
.bg-gradient-turq {
  background-color: var(--turq);
  background-image: var(--gradient-turq);
}
.bg-gradient-turq-line {
  background-color: var(--turq);
  background-image: var(--gradient-turq-line);
}
.bg-gradient-verdee {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee);
}
.bg-gradient-verdee-line {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee-line);
}

/* COR, PESO E RADIUS DA BORDA */
.border-perfil {
  border-color: var(--cor-perfil) !important;
}
.border-perfil-200 {
  border-color: var(--cor-perfil-200) !important;
}
.border-perfil-300 {
  border-color: var(--cor-perfil-300) !important;
}
.border-perfil-500 {
  border-color: var(--cor-perfil-500) !important;
}
.border-perfil-600 {
  border-color: var(--cor-perfil-600) !important;
}
.border-apoio {
  border-color: var(--cor-apoio) !important;
}
.border-apoio-200 {
  border-color: var(--cor-apoio-200) !important;
}
.border-apoio-300 {
  border-color: var(--cor-apoio-300) !important;
}
.border-apoio-500 {
  border-color: var(--cor-apoio-500) !important;
}
.border-apoio-600 {
  border-color: var(--cor-apoio-600) !important;
}
.border-destaque {
  border-color: var(--cor-destaque) !important;
}
.border-destaque-200 {
  border-color: var(--cor-destaque-200) !important;
}
.border-destaque-300 {
  border-color: var(--cor-destaque-300) !important;
}
.border-destaque-500 {
  border-color: var(--cor-destaque-500) !important;
}
.border-destaque-600 {
  border-color: var(--cor-destaque-600) !important;
}
.border-base {
  border-color: var(--cor-base) !important;
}
.border-base-200 {
  border-color: var(--cor-base-200) !important;
}
.border-base-300 {
  border-color: var(--cor-base-300) !important;
}
.border-base-500 {
  border-color: var(--cor-base-500) !important;
}
.border-base-600 {
  border-color: var(--cor-base-600) !important;
}
.border-turq {
  border-color: var(--turq) !important;
}
.border-turq-200 {
  border-color: var(--turq-200) !important;
}
.border-turq-300 {
  border-color: var(--turq-300) !important;
}
.border-turq-500 {
  border-color: var(--turq-500) !important;
}
.border-turq-600 {
  border-color: var(--turq-600) !important;
}
.border-verdee {
  border-color: var(--verdee) !important;
}
.border-verdee-200 {
  border-color: var(--verdee-200) !important;
}
.border-verdee-300 {
  border-color: var(--verdee-300) !important;
}
.border-verdee-500 {
  border-color: var(--verdee-500) !important;
}
.border-verdee-600 {
  border-color: var(--verdee-600) !important;
}
.border-verdem {
  border-color: var(--verdem) !important;
}
.border-verdem-200 {
  border-color: var(--verdem-200) !important;
}
.border-verdem-300 {
  border-color: var(--verdem-300) !important;
}
.border-verdem-500 {
  border-color: var(--verdem-500) !important;
}
.border-verdem-600 {
  border-color: var(--verdem-600) !important;
}
.border-verdec {
  border-color: var(--verdec) !important;
}
.border-verdec-200 {
  border-color: var(--verdec-200) !important;
}
.border-verdec-300 {
  border-color: var(--verdec-300) !important;
}
.border-verdec-500 {
  border-color: var(--verdec-500) !important;
}
.border-verdec-600 {
  border-color: var(--verdec-600) !important;
}
.border-roxo {
  border-color: var(--roxo) !important;
}
.border-roxo-200 {
  border-color: var(--roxo-200) !important;
}
.border-roxo-300 {
  border-color: var(--roxo-300) !important;
}
.border-roxo-500 {
  border-color: var(--roxo-500) !important;
}
.border-roxo-600 {
  border-color: var(--roxo-600) !important;
}
.border-cinza-200 {
  border-color: var(--cinza-200) !important;
}
.border-cinza-300 {
  border-color: var(--cinza-300) !important;
}
.border-cinza-400 {
  border-color: var(--cinza-400) !important;
}
.border-cinza-500 {
  border-color: var(--cinza-500) !important;
}
.border-cinza-600 {
  border-color: var(--cinza-600) !important;
}
.border-branco {
  border-color: var(--branco) !important;
}
.border-preto {
  border-color: var(--preto) !important;
}
.border-1 {
  border-style: solid !important;
  border-width: 1px !important;
}
.border-2 {
  border-style: solid !important;
  border-width: 2px !important;
}
.border-3 {
  border-style: solid !important;
  border-width: 3px !important;
}
.border-4 {
  border-style: solid !important;
  border-width: 4px !important;
}
.border-5 {
  border-style: solid !important;
  border-width: 5px !important;
}
.border-radius-0 {
  border-radius: 0rem !important;
}
.border-radius-1 {
  border-radius: var(--size-1) !important;
}
.border-radius-2 {
  border-radius: var(--size-2) !important;
}
.border-radius-3 {
  border-radius: var(--size-3) !important;
}
.border-radius-4 {
  border-radius: var(--size-4) !important;
}
.border-radius-4 {
  border-radius: var(--size-5) !important;
}
.border-radius-025 {
  border-radius: 0.25rem !important;
}
.border-radius-05 {
  border-radius: 0.5rem !important;
}
.border-radius-075 {
  border-radius: 0.75rem !important;
}
.border-radius-10 {
  border-radius: 1rem !important;
}
.border-radius-15 {
  border-radius: 1.5rem !important;
}
.border-radius-20 {
  border-radius: 2rem !important;
}
.border-radius-25 {
  border-radius: 2.5rem !important;
}
.border-radius-round {
  border-radius: 100rem !important;
}

/* PESO DAS FONTES */
.fw-100 {
  font-weight: 100 !important;
}
.fw-200 {
  font-weight: 200 !important;
}
.fw-300 {
  font-weight: 300 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.fw-800 {
  font-weight: 800 !important;
}
.fw-900 {
  font-weight: 900 !important;
}
.fw-normal {
  font-weight: 400 !important;
}
.fw-bold {
  font-weight: 700 !important;
}

/* TAMANHO DAS FONTES */
.fs-1 {
  font-size: var(--font-size-1) !important;
  line-height: calc(0.5rem + var(--font-size-1));
}
.fs-2 {
  font-size: var(--font-size-2) !important;
  line-height: calc(0.5rem + var(--font-size-2));
}
.fs-3 {
  font-size: var(--font-size-3) !important;
  line-height: calc(0.5rem + var(--font-size-3));
}
.fs-4 {
  font-size: var(--font-size-4) !important;
  line-height: calc(0.5rem + var(--font-size-4));
}
.fs-5 {
  font-size: var(--font-size-5) !important;
  line-height: calc(0.5rem + var(--font-size-5));
}
.fs-6 {
  font-size: var(--font-size-6) !important;
  line-height: calc(0.5rem + var(--font-size-6));
}
.fs-base {
  font-size: var(--font-size-base) !important;
  line-height: calc(0.3rem + var(--font-size-base));
}
.fs-small {
  font-size: var(--font-size-small) !important;
  line-height: calc(0.3rem + var(--font-size-small));
}
.fs-08 {
  font-size: 0.8rem !important;
}
.fs-100 {
  font-size: 1rem !important;
}
.fs-125 {
  font-size: 1.25rem !important;
}
.fs-150 {
  font-size: 1.5rem !important;
}
.fs-175 {
  font-size: 1.75rem !important;
}
.fs-200 {
  font-size: 2rem !important;
}
.fs-225 {
  font-size: 2.25rem !important;
}
.fs-250 {
  font-size: 2.5rem !important;
}
.fs-275 {
  font-size: 2.75rem !important;
}
.fs-300 {
  font-size: 3rem !important;
}
.fs-400 {
  font-size: 4rem !important;
}
.fs-500 {
  font-size: 5rem !important;
}

/* ALINHAMENTO */
.center-s {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.center-v {
  display: flex !important;
  align-items: center !important;
}
.center-h {
  display: flex !important;
  justify-content: center !important;
}

.place-center {
  place-content: center;
}

/* FILL */
.fill-perfil {
  fill: var(--cor-perfil) !important;
}
.fill-perfil-200 {
  fill: var(--cor-perfil-200) !important;
}
.fill-perfil-300 {
  fill: var(--cor-perfil-300) !important;
}
.fill-perfil-500 {
  fill: var(--cor-perfil-500) !important;
}
.fill-perfil-600 {
  fill: var(--cor-perfil-600) !important;
}
.fill-apoio {
  fill: var(--cor-apoio) !important;
}
.fill-apoio-200 {
  fill: var(--cor-apoio-200) !important;
}
.fill-apoio-300 {
  fill: var(--cor-apoio-300) !important;
}
.fill-apoio-500 {
  fill: var(--cor-apoio-500) !important;
}
.fill-apoio-600 {
  fill: var(--cor-apoio-600) !important;
}
.fill-destaque {
  fill: var(--cor-destaque) !important;
}
.fill-destaque-200 {
  fill: var(--cor-destaque-200) !important;
}
.fill-destaque-300 {
  fill: var(--cor-destaque-300) !important;
}
.fill-destaque-500 {
  fill: var(--cor-destaque-500) !important;
}
.fill-destaque-600 {
  fill: var(--cor-destaque-600) !important;
}
.fill-base {
  fill: var(--cor-base) !important;
}
.fill-base-200 {
  fill: var(--cor-base-200) !important;
}
.fill-base-300 {
  fill: var(--cor-base-300) !important;
}
.fill-base-500 {
  fill: var(--cor-base-500) !important;
}
.fill-base-600 {
  fill: var(--cor-base-600) !important;
}
.fill-turq {
  fill: var(--turq) !important;
}
.fill-turq-200 {
  fill: var(--turq-200) !important;
}
.fill-turq-300 {
  fill: var(--turq-300) !important;
}
.fill-turq-500 {
  fill: var(--turq-500) !important;
}
.fill-turq-600 {
  fill: var(--turq-600) !important;
}
.fill-verdee {
  fill: var(--verdee) !important;
}
.fill-verdee-200 {
  fill: var(--verdee-200) !important;
}
.fill-verdee-300 {
  fill: var(--verdee-300) !important;
}
.fill-verdee-500 {
  fill: var(--verdee-500) !important;
}
.fill-verdee-600 {
  fill: var(--verdee-600) !important;
}
.fill-verdem {
  fill: var(--verdem) !important;
}
.fill-verdem-200 {
  fill: var(--verdem-200) !important;
}
.fill-verdem-300 {
  fill: var(--verdem-300) !important;
}
.fill-verdem-500 {
  fill: var(--verdem-500) !important;
}
.fill-verdem-600 {
  fill: var(--verdem-600) !important;
}
.fill-verdec {
  fill: var(--verdec) !important;
}
.fill-verdec-200 {
  fill: var(--verdec-200) !important;
}
.fill-verdec-300 {
  fill: var(--verdec-300) !important;
}
.fill-verdec-500 {
  fill: var(--verdec-500) !important;
}
.fill-verdec-600 {
  fill: var(--verdec-600) !important;
}
.fill-roxo {
  fill: var(--roxo) !important;
}
.fill-roxo-200 {
  fill: var(--roxo-200) !important;
}
.fill-roxo-300 {
  fill: var(--roxo-300) !important;
}
.fill-roxo-500 {
  fill: var(--roxo-500) !important;
}
.fill-roxo-600 {
  fill: var(--roxo-600) !important;
}
.fill-cinza-200 {
  fill: var(--cinza-200) !important;
}
.fill-cinza-300 {
  fill: var(--cinza-300) !important;
}
.fill-cinza-400 {
  fill: var(--cinza-400) !important;
}
.fill-cinza-500 {
  fill: var(--cinza-500) !important;
}
.fill-cinza-600 {
  fill: var(--cinza-600) !important;
}
.fill-branco {
  fill: var(--branco) !important;
}
.fill-preto {
  fill: var(--preto) !important;
}

/* WIDTH */
.w-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 576px) {
  .w-sm-100 {
    width: 100%;
  }
}

/* HEIGTH */
.h {
  /* viewport */
  /* dinamic viewport */
}
.h-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}
.h-100 {
  height: 100%;
}
.hv-100 {
  height: 100vh;
}
.hdv-100 {
  height: 100dvh;
}

/* GAP */
.gap-0 {
  gap: var(--size-0) !important;
}
.gap-1 {
  gap: var(--size-1) !important;
}
.gap-2 {
  gap: var(--size-2) !important;
}
.gap-3 {
  gap: var(--size-3) !important;
}
.gap-4 {
  gap: var(--size-4) !important;
}
.gap-5 {
  gap: var(--size-5) !important;
}

/* BOX SHADOW */
.box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}
.box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}
.box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}
.box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}

/* TRANSITION */
.transition-1 {
  transition: var(--transition-1);
}
.transition-2 {
  transition: var(--box-shadow-2);
}

/* OPACITY */
.opacity-0 {
  opacity: 0;
}
.opacity-025 {
  opacity: 0.25;
}
.opacity-05 {
  opacity: 0.5;
}
.opacity-075 {
  opacity: 0.75;
}
.opacity-1 {
  opacity: 1;
}

.text-balance {
  text-wrap: balance;
}

.nowrap {
  white-space: nowrap;
}

.bg-mais {
  --plus-size: 24px;
  position: absolute;
  background-size: var(--plus-size) var(--plus-size);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23000000" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.turq {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2300ae9d" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdee {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23003641" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdem {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%237DB61C" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.verdec {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23C9D200" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.roxo {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2349479D" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.bg-mais.branco {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23FFFFFF" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}/*# sourceMappingURL=utilities.css.map */