.acland, * {
  /* COR DAS FONTES */
  /* COR DOS FUNDOS */
  /* COR, PESO E RADIUS DA BORDA */
  /* PESO DAS FONTES */
  /* TAMANHO DAS FONTES */
  /* ALINHAMENTO */
  /* FILL */
  /* WIDTH */
  /* HEIGTH */
  /* GAP */
  /* BOX SHADOW */
  /* TRANSITION */
  /* OPACITY */
}
.acland .c-perfil, * .c-perfil {
  color: var(--cor-perfil) !important;
}
.acland .c-perfil-200, * .c-perfil-200 {
  color: var(--cor-perfil-200) !important;
}
.acland .c-perfil-300, * .c-perfil-300 {
  color: var(--cor-perfil-300) !important;
}
.acland .c-perfil-500, * .c-perfil-500 {
  color: var(--cor-perfil-500) !important;
}
.acland .c-perfil-600, * .c-perfil-600 {
  color: var(--cor-perfil-600) !important;
}
.acland .c-apoio, * .c-apoio {
  color: var(--cor-apoio) !important;
}
.acland .c-apoio-200, * .c-apoio-200 {
  color: var(--cor-apoio-200) !important;
}
.acland .c-apoio-300, * .c-apoio-300 {
  color: var(--cor-apoio-300) !important;
}
.acland .c-apoio-500, * .c-apoio-500 {
  color: var(--cor-apoio-500) !important;
}
.acland .c-apoio-600, * .c-apoio-600 {
  color: var(--cor-apoio-600) !important;
}
.acland .c-destaque, * .c-destaque {
  color: var(--cor-destaque) !important;
}
.acland .c-destaque-200, * .c-destaque-200 {
  color: var(--cor-destaque-200) !important;
}
.acland .c-destaque-300, * .c-destaque-300 {
  color: var(--cor-destaque-300) !important;
}
.acland .c-destaque-500, * .c-destaque-500 {
  color: var(--cor-destaque-500) !important;
}
.acland .c-destaque-600, * .c-destaque-600 {
  color: var(--cor-destaque-600) !important;
}
.acland .c-base, * .c-base {
  color: var(--cor-base) !important;
}
.acland .c-base-200, * .c-base-200 {
  color: var(--cor-base-200) !important;
}
.acland .c-base-300, * .c-base-300 {
  color: var(--cor-base-300) !important;
}
.acland .c-base-500, * .c-base-500 {
  color: var(--cor-base-500) !important;
}
.acland .c-base-600, * .c-base-600 {
  color: var(--cor-base-600) !important;
}
.acland .c-turq, * .c-turq {
  color: var(--turq) !important;
}
.acland .c-turq-200, * .c-turq-200 {
  color: var(--turq-200) !important;
}
.acland .c-turq-300, * .c-turq-300 {
  color: var(--turq-300) !important;
}
.acland .c-turq-500, * .c-turq-500 {
  color: var(--turq-500) !important;
}
.acland .c-turq-600, * .c-turq-600 {
  color: var(--turq-600) !important;
}
.acland .c-verdee, * .c-verdee {
  color: var(--verdee) !important;
}
.acland .c-verdee-200, * .c-verdee-200 {
  color: var(--verdee-200) !important;
}
.acland .c-verdee-300, * .c-verdee-300 {
  color: var(--verdee-300) !important;
}
.acland .c-verdee-500, * .c-verdee-500 {
  color: var(--verdee-500) !important;
}
.acland .c-verdee-600, * .c-verdee-600 {
  color: var(--verdee-600) !important;
}
.acland .c-verdem, * .c-verdem {
  color: var(--verdem) !important;
}
.acland .c-verdem-200, * .c-verdem-200 {
  color: var(--verdem-200) !important;
}
.acland .c-verdem-300, * .c-verdem-300 {
  color: var(--verdem-300) !important;
}
.acland .c-verdem-500, * .c-verdem-500 {
  color: var(--verdem-500) !important;
}
.acland .c-verdem-600, * .c-verdem-600 {
  color: var(--verdem-600) !important;
}
.acland .c-verdec, * .c-verdec {
  color: var(--verdec) !important;
}
.acland .c-verdec-200, * .c-verdec-200 {
  color: var(--verdec-200) !important;
}
.acland .c-verdec-300, * .c-verdec-300 {
  color: var(--verdec-300) !important;
}
.acland .c-verdec-500, * .c-verdec-500 {
  color: var(--verdec-500) !important;
}
.acland .c-verdec-600, * .c-verdec-600 {
  color: var(--verdec-600) !important;
}
.acland .c-roxo, * .c-roxo {
  color: var(--roxo) !important;
}
.acland .c-roxo-200, * .c-roxo-200 {
  color: var(--roxo-200) !important;
}
.acland .c-roxo-300, * .c-roxo-300 {
  color: var(--roxo-300) !important;
}
.acland .c-roxo-500, * .c-roxo-500 {
  color: var(--roxo-500) !important;
}
.acland .c-roxo-600, * .c-roxo-600 {
  color: var(--roxo-600) !important;
}
.acland .c-cinza-200, * .c-cinza-200 {
  color: var(--cinza-200) !important;
}
.acland .c-cinza-300, * .c-cinza-300 {
  color: var(--cinza-300) !important;
}
.acland .c-cinza-400, * .c-cinza-400 {
  color: var(--cinza-400) !important;
}
.acland .c-cinza-500, * .c-cinza-500 {
  color: var(--cinza-500) !important;
}
.acland .c-cinza-600, * .c-cinza-600 {
  color: var(--cinza-600) !important;
}
.acland .c-cinza-700, * .c-cinza-700 {
  color: var(--cinza-700) !important;
}
.acland .c-cinza-800, * .c-cinza-800 {
  color: var(--cinza-800) !important;
}
.acland .c-cinza-900, * .c-cinza-900 {
  color: var(--cinza-900) !important;
}
.acland .c-branco, * .c-branco {
  color: var(--branco) !important;
}
.acland .c-preto, * .c-preto {
  color: var(--preto) !important;
}
.acland .bg-perfil, * .bg-perfil {
  background-color: var(--cor-perfil) !important;
}
.acland .bg-perfil-200, * .bg-perfil-200 {
  background-color: var(--cor-perfil-200) !important;
}
.acland .bg-perfil-300, * .bg-perfil-300 {
  background-color: var(--cor-perfil-300) !important;
}
.acland .bg-perfil-500, * .bg-perfil-500 {
  background-color: var(--cor-perfil-500) !important;
}
.acland .bg-perfil-600, * .bg-perfil-600 {
  background-color: var(--cor-perfil-600) !important;
}
.acland .bg-apoio, * .bg-apoio {
  background-color: var(--cor-apoio) !important;
}
.acland .bg-apoio-200, * .bg-apoio-200 {
  background-color: var(--cor-apoio-200) !important;
}
.acland .bg-apoio-300, * .bg-apoio-300 {
  background-color: var(--cor-apoio-300) !important;
}
.acland .bg-apoio-500, * .bg-apoio-500 {
  background-color: var(--cor-apoio-500) !important;
}
.acland .bg-apoio-600, * .bg-apoio-600 {
  background-color: var(--cor-apoio-600) !important;
}
.acland .bg-destaque, * .bg-destaque {
  background-color: var(--cor-destaque) !important;
}
.acland .bg-destaque-200, * .bg-destaque-200 {
  background-color: var(--cor-destaque-200) !important;
}
.acland .bg-destaque-300, * .bg-destaque-300 {
  background-color: var(--cor-destaque-300) !important;
}
.acland .bg-destaque-500, * .bg-destaque-500 {
  background-color: var(--cor-destaque-500) !important;
}
.acland .bg-destaque-600, * .bg-destaque-600 {
  background-color: var(--cor-destaque-600) !important;
}
.acland .bg-base, * .bg-base {
  background-color: var(--cor-base) !important;
}
.acland .bg-base-200, * .bg-base-200 {
  background-color: var(--cor-base-200) !important;
}
.acland .bg-base-300, * .bg-base-300 {
  background-color: var(--cor-base-300) !important;
}
.acland .bg-base-500, * .bg-base-500 {
  background-color: var(--cor-base-500) !important;
}
.acland .bg-base-600, * .bg-base-600 {
  background-color: var(--cor-base-600) !important;
}
.acland .bg-turq, * .bg-turq {
  background-color: var(--turq) !important;
}
.acland .bg-turq-200, * .bg-turq-200 {
  background-color: var(--turq-200) !important;
}
.acland .bg-turq-300, * .bg-turq-300 {
  background-color: var(--turq-300) !important;
}
.acland .bg-turq-500, * .bg-turq-500 {
  background-color: var(--turq-500) !important;
}
.acland .bg-turq-600, * .bg-turq-600 {
  background-color: var(--turq-600) !important;
}
.acland .bg-verdee, * .bg-verdee {
  background-color: var(--verdee) !important;
}
.acland .bg-verdee-200, * .bg-verdee-200 {
  background-color: var(--verdee-200) !important;
}
.acland .bg-verdee-300, * .bg-verdee-300 {
  background-color: var(--verdee-300) !important;
}
.acland .bg-verdee-500, * .bg-verdee-500 {
  background-color: var(--verdee-500) !important;
}
.acland .bg-verdee-600, * .bg-verdee-600 {
  background-color: var(--verdee-600) !important;
}
.acland .bg-verdem, * .bg-verdem {
  background-color: var(--verdem) !important;
}
.acland .bg-verdem-200, * .bg-verdem-200 {
  background-color: var(--verdem-200) !important;
}
.acland .bg-verdem-300, * .bg-verdem-300 {
  background-color: var(--verdem-300) !important;
}
.acland .bg-verdem-500, * .bg-verdem-500 {
  background-color: var(--verdem-500) !important;
}
.acland .bg-verdem-600, * .bg-verdem-600 {
  background-color: var(--verdem-600) !important;
}
.acland .bg-verdec, * .bg-verdec {
  background-color: var(--verdec) !important;
}
.acland .bg-verdec-200, * .bg-verdec-200 {
  background-color: var(--verdec-200) !important;
}
.acland .bg-verdec-300, * .bg-verdec-300 {
  background-color: var(--verdec-300) !important;
}
.acland .bg-verdec-500, * .bg-verdec-500 {
  background-color: var(--verdec-500) !important;
}
.acland .bg-verdec-600, * .bg-verdec-600 {
  background-color: var(--verdec-600) !important;
}
.acland .bg-roxo, * .bg-roxo {
  background-color: var(--roxo) !important;
}
.acland .bg-roxo-200, * .bg-roxo-200 {
  background-color: var(--roxo-200) !important;
}
.acland .bg-roxo-300, * .bg-roxo-300 {
  background-color: var(--roxo-300) !important;
}
.acland .bg-roxo-500, * .bg-roxo-500 {
  background-color: var(--roxo-500) !important;
}
.acland .bg-roxo-600, * .bg-roxo-600 {
  background-color: var(--roxo-600) !important;
}
.acland .bg-cinza-200, * .bg-cinza-200 {
  background-color: var(--cinza-200) !important;
}
.acland .bg-cinza-300, * .bg-cinza-300 {
  background-color: var(--cinza-300) !important;
}
.acland .bg-cinza-400, * .bg-cinza-400 {
  background-color: var(--cinza-400) !important;
}
.acland .bg-cinza-500, * .bg-cinza-500 {
  background-color: var(--cinza-500) !important;
}
.acland .bg-cinza-600, * .bg-cinza-600 {
  background-color: var(--cinza-600) !important;
}
.acland .bg-cinza-700, * .bg-cinza-700 {
  background-color: var(--cinza-700) !important;
}
.acland .bg-cinza-800, * .bg-cinza-800 {
  background-color: var(--cinza-800) !important;
}
.acland .bg-cinza-900, * .bg-cinza-900 {
  background-color: var(--cinza-900) !important;
}
.acland .bg-branco, * .bg-branco {
  background-color: var(--branco) !important;
}
.acland .bg-preto, * .bg-preto {
  background-color: var(--preto) !important;
}
.acland .bg-gradient-turq, * .bg-gradient-turq {
  background-color: var(--turq);
  background-image: var(--gradient-turq);
}
.acland .bg-gradient-turq-line, * .bg-gradient-turq-line {
  background-color: var(--turq);
  background-image: var(--gradient-turq-line);
}
.acland .bg-gradient-verdee, * .bg-gradient-verdee {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee);
}
.acland .bg-gradient-verdee-line, * .bg-gradient-verdee-line {
  background-color: var(--verdee);
  background-image: var(--gradient-verdee-line);
}
.acland .border-perfil, * .border-perfil {
  border-color: var(--cor-perfil) !important;
}
.acland .border-perfil-200, * .border-perfil-200 {
  border-color: var(--cor-perfil-200) !important;
}
.acland .border-perfil-300, * .border-perfil-300 {
  border-color: var(--cor-perfil-300) !important;
}
.acland .border-perfil-500, * .border-perfil-500 {
  border-color: var(--cor-perfil-500) !important;
}
.acland .border-perfil-600, * .border-perfil-600 {
  border-color: var(--cor-perfil-600) !important;
}
.acland .border-apoio, * .border-apoio {
  border-color: var(--cor-apoio) !important;
}
.acland .border-apoio-200, * .border-apoio-200 {
  border-color: var(--cor-apoio-200) !important;
}
.acland .border-apoio-300, * .border-apoio-300 {
  border-color: var(--cor-apoio-300) !important;
}
.acland .border-apoio-500, * .border-apoio-500 {
  border-color: var(--cor-apoio-500) !important;
}
.acland .border-apoio-600, * .border-apoio-600 {
  border-color: var(--cor-apoio-600) !important;
}
.acland .border-destaque, * .border-destaque {
  border-color: var(--cor-destaque) !important;
}
.acland .border-destaque-200, * .border-destaque-200 {
  border-color: var(--cor-destaque-200) !important;
}
.acland .border-destaque-300, * .border-destaque-300 {
  border-color: var(--cor-destaque-300) !important;
}
.acland .border-destaque-500, * .border-destaque-500 {
  border-color: var(--cor-destaque-500) !important;
}
.acland .border-destaque-600, * .border-destaque-600 {
  border-color: var(--cor-destaque-600) !important;
}
.acland .border-base, * .border-base {
  border-color: var(--cor-base) !important;
}
.acland .border-base-200, * .border-base-200 {
  border-color: var(--cor-base-200) !important;
}
.acland .border-base-300, * .border-base-300 {
  border-color: var(--cor-base-300) !important;
}
.acland .border-base-500, * .border-base-500 {
  border-color: var(--cor-base-500) !important;
}
.acland .border-base-600, * .border-base-600 {
  border-color: var(--cor-base-600) !important;
}
.acland .border-turq, * .border-turq {
  border-color: var(--turq) !important;
}
.acland .border-turq-200, * .border-turq-200 {
  border-color: var(--turq-200) !important;
}
.acland .border-turq-300, * .border-turq-300 {
  border-color: var(--turq-300) !important;
}
.acland .border-turq-500, * .border-turq-500 {
  border-color: var(--turq-500) !important;
}
.acland .border-turq-600, * .border-turq-600 {
  border-color: var(--turq-600) !important;
}
.acland .border-verdee, * .border-verdee {
  border-color: var(--verdee) !important;
}
.acland .border-verdee-200, * .border-verdee-200 {
  border-color: var(--verdee-200) !important;
}
.acland .border-verdee-300, * .border-verdee-300 {
  border-color: var(--verdee-300) !important;
}
.acland .border-verdee-500, * .border-verdee-500 {
  border-color: var(--verdee-500) !important;
}
.acland .border-verdee-600, * .border-verdee-600 {
  border-color: var(--verdee-600) !important;
}
.acland .border-verdem, * .border-verdem {
  border-color: var(--verdem) !important;
}
.acland .border-verdem-200, * .border-verdem-200 {
  border-color: var(--verdem-200) !important;
}
.acland .border-verdem-300, * .border-verdem-300 {
  border-color: var(--verdem-300) !important;
}
.acland .border-verdem-500, * .border-verdem-500 {
  border-color: var(--verdem-500) !important;
}
.acland .border-verdem-600, * .border-verdem-600 {
  border-color: var(--verdem-600) !important;
}
.acland .border-verdec, * .border-verdec {
  border-color: var(--verdec) !important;
}
.acland .border-verdec-200, * .border-verdec-200 {
  border-color: var(--verdec-200) !important;
}
.acland .border-verdec-300, * .border-verdec-300 {
  border-color: var(--verdec-300) !important;
}
.acland .border-verdec-500, * .border-verdec-500 {
  border-color: var(--verdec-500) !important;
}
.acland .border-verdec-600, * .border-verdec-600 {
  border-color: var(--verdec-600) !important;
}
.acland .border-roxo, * .border-roxo {
  border-color: var(--roxo) !important;
}
.acland .border-roxo-200, * .border-roxo-200 {
  border-color: var(--roxo-200) !important;
}
.acland .border-roxo-300, * .border-roxo-300 {
  border-color: var(--roxo-300) !important;
}
.acland .border-roxo-500, * .border-roxo-500 {
  border-color: var(--roxo-500) !important;
}
.acland .border-roxo-600, * .border-roxo-600 {
  border-color: var(--roxo-600) !important;
}
.acland .border-cinza-200, * .border-cinza-200 {
  border-color: var(--cinza-200) !important;
}
.acland .border-cinza-300, * .border-cinza-300 {
  border-color: var(--cinza-300) !important;
}
.acland .border-cinza-400, * .border-cinza-400 {
  border-color: var(--cinza-400) !important;
}
.acland .border-cinza-500, * .border-cinza-500 {
  border-color: var(--cinza-500) !important;
}
.acland .border-cinza-600, * .border-cinza-600 {
  border-color: var(--cinza-600) !important;
}
.acland .border-cinza-700, * .border-cinza-700 {
  border-color: var(--cinza-700) !important;
}
.acland .border-cinza-800, * .border-cinza-800 {
  border-color: var(--cinza-800) !important;
}
.acland .border-cinza-900, * .border-cinza-900 {
  border-color: var(--cinza-900) !important;
}
.acland .border-branco, * .border-branco {
  border-color: var(--branco) !important;
}
.acland .border-preto, * .border-preto {
  border-color: var(--preto) !important;
}
.acland .border-1, * .border-1 {
  border-style: solid !important;
  border-width: 1px !important;
}
.acland .border-2, * .border-2 {
  border-style: solid !important;
  border-width: 2px !important;
}
.acland .border-3, * .border-3 {
  border-style: solid !important;
  border-width: 3px !important;
}
.acland .border-4, * .border-4 {
  border-style: solid !important;
  border-width: 4px !important;
}
.acland .border-5, * .border-5 {
  border-style: solid !important;
  border-width: 5px !important;
}
.acland .border-radius-0, * .border-radius-0 {
  border-radius: 0rem !important;
}
.acland .border-radius-1, * .border-radius-1 {
  border-radius: var(--size-1) !important;
}
.acland .border-radius-2, * .border-radius-2 {
  border-radius: var(--size-2) !important;
}
.acland .border-radius-3, * .border-radius-3 {
  border-radius: var(--size-3) !important;
}
.acland .border-radius-4, * .border-radius-4 {
  border-radius: var(--size-4) !important;
}
.acland .border-radius-4, * .border-radius-4 {
  border-radius: var(--size-5) !important;
}
.acland .border-radius-025, * .border-radius-025 {
  border-radius: 0.25rem !important;
}
.acland .border-radius-05, * .border-radius-05 {
  border-radius: 0.5rem !important;
}
.acland .border-radius-075, * .border-radius-075 {
  border-radius: 0.75rem !important;
}
.acland .border-radius-10, * .border-radius-10 {
  border-radius: 1rem !important;
}
.acland .border-radius-15, * .border-radius-15 {
  border-radius: 1.5rem !important;
}
.acland .border-radius-20, * .border-radius-20 {
  border-radius: 2rem !important;
}
.acland .border-radius-25, * .border-radius-25 {
  border-radius: 2.5rem !important;
}
.acland .border-radius-round, * .border-radius-round {
  border-radius: 100rem !important;
}
.acland .fw-100, * .fw-100 {
  font-weight: 100 !important;
}
.acland .fw-200, * .fw-200 {
  font-weight: 200 !important;
}
.acland .fw-300, * .fw-300 {
  font-weight: 300 !important;
}
.acland .fw-400, * .fw-400 {
  font-weight: 400 !important;
}
.acland .fw-500, * .fw-500 {
  font-weight: 500 !important;
}
.acland .fw-600, * .fw-600 {
  font-weight: 600 !important;
}
.acland .fw-700, * .fw-700 {
  font-weight: 700 !important;
}
.acland .fw-800, * .fw-800 {
  font-weight: 800 !important;
}
.acland .fw-900, * .fw-900 {
  font-weight: 900 !important;
}
.acland .fw-normal, * .fw-normal {
  font-weight: 400 !important;
}
.acland .fw-bold, * .fw-bold {
  font-weight: 700 !important;
}
.acland .fs-1, * .fs-1 {
  font-size: var(--font-size-1) !important;
}
.acland .fs-2, * .fs-2 {
  font-size: var(--font-size-2) !important;
}
.acland .fs-3, * .fs-3 {
  font-size: var(--font-size-3) !important;
}
.acland .fs-4, * .fs-4 {
  font-size: var(--font-size-4) !important;
}
.acland .fs-5, * .fs-5 {
  font-size: var(--font-size-5) !important;
}
.acland .fs-6, * .fs-6 {
  font-size: var(--font-size-6) !important;
}
.acland .fs-base, .acland .fs-bs, * .fs-base, * .fs-bs {
  font-size: var(--font-size-bs) !important;
}
.acland .fs-small, .acland .fs-sm, * .fs-small, * .fs-sm {
  font-size: var(--font-size-small) !important;
}
.acland .fs-xs, * .fs-xs {
  font-size: var(--font-size-minor) !important;
}
.acland .fs-lg, * .fs-lg {
  font-size: var(--font-size-lg) !important;
}
.acland .fs-xl, * .fs-xl {
  font-size: var(--font-size-xl) !important;
}
.acland .fs-08, * .fs-08 {
  font-size: 0.8rem !important;
}
.acland .fs-100, * .fs-100 {
  font-size: 1rem !important;
}
.acland .fs-125, * .fs-125 {
  font-size: 1.25rem !important;
}
.acland .fs-150, * .fs-150 {
  font-size: 1.5rem !important;
}
.acland .fs-175, * .fs-175 {
  font-size: 1.75rem !important;
}
.acland .fs-200, * .fs-200 {
  font-size: 2rem !important;
}
.acland .fs-225, * .fs-225 {
  font-size: 2.25rem !important;
}
.acland .fs-250, * .fs-250 {
  font-size: 2.5rem !important;
}
.acland .fs-275, * .fs-275 {
  font-size: 2.75rem !important;
}
.acland .fs-300, * .fs-300 {
  font-size: 3rem !important;
}
.acland .fs-400, * .fs-400 {
  font-size: 4rem !important;
}
.acland .fs-500, * .fs-500 {
  font-size: 5rem !important;
}
@media (max-width: 567px) {
  .acland .fs-sm-1, * .fs-sm-1 {
    font-size: var(--font-size-1) !important;
  }
  .acland .fs-sm-2, * .fs-sm-2 {
    font-size: var(--font-size-2) !important;
  }
  .acland .fs-sm-3, * .fs-sm-3 {
    font-size: var(--font-size-3) !important;
  }
  .acland .fs-sm-4, * .fs-sm-4 {
    font-size: var(--font-size-4) !important;
  }
  .acland .fs-sm-5, * .fs-sm-5 {
    font-size: var(--font-size-5) !important;
  }
  .acland .fs-sm-6, * .fs-sm-6 {
    font-size: var(--font-size-6) !important;
  }
  .acland .fs-sm-base, .acland .fs-sm-bs, * .fs-sm-base, * .fs-sm-bs {
    font-size: var(--font-size-bs) !important;
  }
  .acland .fs-sm-small, .acland .fs-sm-sm, * .fs-sm-small, * .fs-sm-sm {
    font-size: var(--font-size-small) !important;
  }
  .acland .fs-sm-xs, * .fs-sm-xs {
    font-size: var(--font-size-minor) !important;
  }
  .acland .fs-sm-lg, * .fs-sm-lg {
    font-size: var(--font-size-lg) !important;
  }
  .acland .fs-sm-xl, * .fs-sm-xl {
    font-size: var(--font-size-xl) !important;
  }
  .acland .fs-sm-08, * .fs-sm-08 {
    font-size: 0.8rem !important;
  }
  .acland .fs-sm-100, * .fs-sm-100 {
    font-size: 1rem !important;
  }
  .acland .fs-sm-125, * .fs-sm-125 {
    font-size: 1.25rem !important;
  }
  .acland .fs-sm-150, * .fs-sm-150 {
    font-size: 1.5rem !important;
  }
  .acland .fs-sm-175, * .fs-sm-175 {
    font-size: 1.75rem !important;
  }
  .acland .fs-sm-200, * .fs-sm-200 {
    font-size: 2rem !important;
  }
  .acland .fs-sm-225, * .fs-sm-225 {
    font-size: 2.25rem !important;
  }
  .acland .fs-sm-250, * .fs-sm-250 {
    font-size: 2.5rem !important;
  }
  .acland .fs-sm-275, * .fs-sm-275 {
    font-size: 2.75rem !important;
  }
  .acland .fs-sm-300, * .fs-sm-300 {
    font-size: 3rem !important;
  }
  .acland .fs-sm-400, * .fs-sm-400 {
    font-size: 4rem !important;
  }
  .acland .fs-sm-500, * .fs-sm-500 {
    font-size: 5rem !important;
  }
}
@media (max-width: 767px) {
  .acland .fs-md-1, * .fs-md-1 {
    font-size: var(--font-size-1) !important;
  }
  .acland .fs-md-2, * .fs-md-2 {
    font-size: var(--font-size-2) !important;
  }
  .acland .fs-md-3, * .fs-md-3 {
    font-size: var(--font-size-3) !important;
  }
  .acland .fs-md-4, * .fs-md-4 {
    font-size: var(--font-size-4) !important;
  }
  .acland .fs-md-5, * .fs-md-5 {
    font-size: var(--font-size-5) !important;
  }
  .acland .fs-md-6, * .fs-md-6 {
    font-size: var(--font-size-6) !important;
  }
  .acland .fs-md-base, .acland .fs-md-bs, * .fs-md-base, * .fs-md-bs {
    font-size: var(--font-size-bs) !important;
  }
  .acland .fs-md-small, .acland .fs-md-sm, * .fs-md-small, * .fs-md-sm {
    font-size: var(--font-size-small) !important;
  }
  .acland .fs-md-xs, * .fs-md-xs {
    font-size: var(--font-size-minor) !important;
  }
  .acland .fs-md-lg, * .fs-md-lg {
    font-size: var(--font-size-lg) !important;
  }
  .acland .fs-md-xl, * .fs-md-xl {
    font-size: var(--font-size-xl) !important;
  }
  .acland .fs-md-08, * .fs-md-08 {
    font-size: 0.8rem !important;
  }
  .acland .fs-md-100, * .fs-md-100 {
    font-size: 1rem !important;
  }
  .acland .fs-md-125, * .fs-md-125 {
    font-size: 1.25rem !important;
  }
  .acland .fs-md-150, * .fs-md-150 {
    font-size: 1.5rem !important;
  }
  .acland .fs-md-175, * .fs-md-175 {
    font-size: 1.75rem !important;
  }
  .acland .fs-md-200, * .fs-md-200 {
    font-size: 2rem !important;
  }
  .acland .fs-md-225, * .fs-md-225 {
    font-size: 2.25rem !important;
  }
  .acland .fs-md-250, * .fs-md-250 {
    font-size: 2.5rem !important;
  }
  .acland .fs-md-275, * .fs-md-275 {
    font-size: 2.75rem !important;
  }
  .acland .fs-md-300, * .fs-md-300 {
    font-size: 3rem !important;
  }
  .acland .fs-md-400, * .fs-md-400 {
    font-size: 4rem !important;
  }
  .acland .fs-md-500, * .fs-md-500 {
    font-size: 5rem !important;
  }
}
@media (max-width: 992px) {
  .acland .fs-lg-1, * .fs-lg-1 {
    font-size: var(--font-size-1) !important;
  }
  .acland .fs-lg-2, * .fs-lg-2 {
    font-size: var(--font-size-2) !important;
  }
  .acland .fs-lg-3, * .fs-lg-3 {
    font-size: var(--font-size-3) !important;
  }
  .acland .fs-lg-4, * .fs-lg-4 {
    font-size: var(--font-size-4) !important;
  }
  .acland .fs-lg-5, * .fs-lg-5 {
    font-size: var(--font-size-5) !important;
  }
  .acland .fs-lg-6, * .fs-lg-6 {
    font-size: var(--font-size-6) !important;
  }
  .acland .fs-lg-base, .acland .fs-lg-bs, * .fs-lg-base, * .fs-lg-bs {
    font-size: var(--font-size-bs) !important;
  }
  .acland .fs-lg-small, .acland .fs-lg-sm, * .fs-lg-small, * .fs-lg-sm {
    font-size: var(--font-size-small) !important;
  }
  .acland .fs-lg-xs, * .fs-lg-xs {
    font-size: var(--font-size-minor) !important;
  }
  .acland .fs-lg-lg, * .fs-lg-lg {
    font-size: var(--font-size-lg) !important;
  }
  .acland .fs-lg-xl, * .fs-lg-xl {
    font-size: var(--font-size-xl) !important;
  }
  .acland .fs-lg-08, * .fs-lg-08 {
    font-size: 0.8rem !important;
  }
  .acland .fs-lg-100, * .fs-lg-100 {
    font-size: 1rem !important;
  }
  .acland .fs-lg-125, * .fs-lg-125 {
    font-size: 1.25rem !important;
  }
  .acland .fs-lg-150, * .fs-lg-150 {
    font-size: 1.5rem !important;
  }
  .acland .fs-lg-175, * .fs-lg-175 {
    font-size: 1.75rem !important;
  }
  .acland .fs-lg-200, * .fs-lg-200 {
    font-size: 2rem !important;
  }
  .acland .fs-lg-225, * .fs-lg-225 {
    font-size: 2.25rem !important;
  }
  .acland .fs-lg-250, * .fs-lg-250 {
    font-size: 2.5rem !important;
  }
  .acland .fs-lg-275, * .fs-lg-275 {
    font-size: 2.75rem !important;
  }
  .acland .fs-lg-300, * .fs-lg-300 {
    font-size: 3rem !important;
  }
  .acland .fs-lg-400, * .fs-lg-400 {
    font-size: 4rem !important;
  }
  .acland .fs-lg-500, * .fs-lg-500 {
    font-size: 5rem !important;
  }
}
@media (max-width: 1200px) {
  .acland .fs-xl-1, * .fs-xl-1 {
    font-size: var(--font-size-1) !important;
  }
  .acland .fs-xl-2, * .fs-xl-2 {
    font-size: var(--font-size-2) !important;
  }
  .acland .fs-xl-3, * .fs-xl-3 {
    font-size: var(--font-size-3) !important;
  }
  .acland .fs-xl-4, * .fs-xl-4 {
    font-size: var(--font-size-4) !important;
  }
  .acland .fs-xl-5, * .fs-xl-5 {
    font-size: var(--font-size-5) !important;
  }
  .acland .fs-xl-6, * .fs-xl-6 {
    font-size: var(--font-size-6) !important;
  }
  .acland .fs-xl-base, .acland .fs-xl-bs, * .fs-xl-base, * .fs-xl-bs {
    font-size: var(--font-size-bs) !important;
  }
  .acland .fs-xl-small, .acland .fs-xl-sm, * .fs-xl-small, * .fs-xl-sm {
    font-size: var(--font-size-small) !important;
  }
  .acland .fs-xl-xs, * .fs-xl-xs {
    font-size: var(--font-size-minor) !important;
  }
  .acland .fs-xl-lg, * .fs-xl-lg {
    font-size: var(--font-size-lg) !important;
  }
  .acland .fs-xl-xl, * .fs-xl-xl {
    font-size: var(--font-size-xl) !important;
  }
  .acland .fs-xl-08, * .fs-xl-08 {
    font-size: 0.8rem !important;
  }
  .acland .fs-xl-100, * .fs-xl-100 {
    font-size: 1rem !important;
  }
  .acland .fs-xl-125, * .fs-xl-125 {
    font-size: 1.25rem !important;
  }
  .acland .fs-xl-150, * .fs-xl-150 {
    font-size: 1.5rem !important;
  }
  .acland .fs-xl-175, * .fs-xl-175 {
    font-size: 1.75rem !important;
  }
  .acland .fs-xl-200, * .fs-xl-200 {
    font-size: 2rem !important;
  }
  .acland .fs-xl-225, * .fs-xl-225 {
    font-size: 2.25rem !important;
  }
  .acland .fs-xl-250, * .fs-xl-250 {
    font-size: 2.5rem !important;
  }
  .acland .fs-xl-275, * .fs-xl-275 {
    font-size: 2.75rem !important;
  }
  .acland .fs-xl-300, * .fs-xl-300 {
    font-size: 3rem !important;
  }
  .acland .fs-xl-400, * .fs-xl-400 {
    font-size: 4rem !important;
  }
  .acland .fs-xl-500, * .fs-xl-500 {
    font-size: 5rem !important;
  }
}
.acland .center-s, * .center-s {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.acland .center-v, * .center-v {
  display: flex !important;
  align-items: center !important;
}
.acland .center-h, * .center-h {
  display: flex !important;
  justify-content: center !important;
}
.acland .place-center, * .place-center {
  place-content: center;
}
.acland .fill-perfil, * .fill-perfil {
  fill: var(--cor-perfil) !important;
}
.acland .fill-perfil-200, * .fill-perfil-200 {
  fill: var(--cor-perfil-200) !important;
}
.acland .fill-perfil-300, * .fill-perfil-300 {
  fill: var(--cor-perfil-300) !important;
}
.acland .fill-perfil-500, * .fill-perfil-500 {
  fill: var(--cor-perfil-500) !important;
}
.acland .fill-perfil-600, * .fill-perfil-600 {
  fill: var(--cor-perfil-600) !important;
}
.acland .fill-apoio, * .fill-apoio {
  fill: var(--cor-apoio) !important;
}
.acland .fill-apoio-200, * .fill-apoio-200 {
  fill: var(--cor-apoio-200) !important;
}
.acland .fill-apoio-300, * .fill-apoio-300 {
  fill: var(--cor-apoio-300) !important;
}
.acland .fill-apoio-500, * .fill-apoio-500 {
  fill: var(--cor-apoio-500) !important;
}
.acland .fill-apoio-600, * .fill-apoio-600 {
  fill: var(--cor-apoio-600) !important;
}
.acland .fill-destaque, * .fill-destaque {
  fill: var(--cor-destaque) !important;
}
.acland .fill-destaque-200, * .fill-destaque-200 {
  fill: var(--cor-destaque-200) !important;
}
.acland .fill-destaque-300, * .fill-destaque-300 {
  fill: var(--cor-destaque-300) !important;
}
.acland .fill-destaque-500, * .fill-destaque-500 {
  fill: var(--cor-destaque-500) !important;
}
.acland .fill-destaque-600, * .fill-destaque-600 {
  fill: var(--cor-destaque-600) !important;
}
.acland .fill-base, * .fill-base {
  fill: var(--cor-base) !important;
}
.acland .fill-base-200, * .fill-base-200 {
  fill: var(--cor-base-200) !important;
}
.acland .fill-base-300, * .fill-base-300 {
  fill: var(--cor-base-300) !important;
}
.acland .fill-base-500, * .fill-base-500 {
  fill: var(--cor-base-500) !important;
}
.acland .fill-base-600, * .fill-base-600 {
  fill: var(--cor-base-600) !important;
}
.acland .fill-turq, * .fill-turq {
  fill: var(--turq) !important;
}
.acland .fill-turq-200, * .fill-turq-200 {
  fill: var(--turq-200) !important;
}
.acland .fill-turq-300, * .fill-turq-300 {
  fill: var(--turq-300) !important;
}
.acland .fill-turq-500, * .fill-turq-500 {
  fill: var(--turq-500) !important;
}
.acland .fill-turq-600, * .fill-turq-600 {
  fill: var(--turq-600) !important;
}
.acland .fill-verdee, * .fill-verdee {
  fill: var(--verdee) !important;
}
.acland .fill-verdee-200, * .fill-verdee-200 {
  fill: var(--verdee-200) !important;
}
.acland .fill-verdee-300, * .fill-verdee-300 {
  fill: var(--verdee-300) !important;
}
.acland .fill-verdee-500, * .fill-verdee-500 {
  fill: var(--verdee-500) !important;
}
.acland .fill-verdee-600, * .fill-verdee-600 {
  fill: var(--verdee-600) !important;
}
.acland .fill-verdem, * .fill-verdem {
  fill: var(--verdem) !important;
}
.acland .fill-verdem-200, * .fill-verdem-200 {
  fill: var(--verdem-200) !important;
}
.acland .fill-verdem-300, * .fill-verdem-300 {
  fill: var(--verdem-300) !important;
}
.acland .fill-verdem-500, * .fill-verdem-500 {
  fill: var(--verdem-500) !important;
}
.acland .fill-verdem-600, * .fill-verdem-600 {
  fill: var(--verdem-600) !important;
}
.acland .fill-verdec, * .fill-verdec {
  fill: var(--verdec) !important;
}
.acland .fill-verdec-200, * .fill-verdec-200 {
  fill: var(--verdec-200) !important;
}
.acland .fill-verdec-300, * .fill-verdec-300 {
  fill: var(--verdec-300) !important;
}
.acland .fill-verdec-500, * .fill-verdec-500 {
  fill: var(--verdec-500) !important;
}
.acland .fill-verdec-600, * .fill-verdec-600 {
  fill: var(--verdec-600) !important;
}
.acland .fill-roxo, * .fill-roxo {
  fill: var(--roxo) !important;
}
.acland .fill-roxo-200, * .fill-roxo-200 {
  fill: var(--roxo-200) !important;
}
.acland .fill-roxo-300, * .fill-roxo-300 {
  fill: var(--roxo-300) !important;
}
.acland .fill-roxo-500, * .fill-roxo-500 {
  fill: var(--roxo-500) !important;
}
.acland .fill-roxo-600, * .fill-roxo-600 {
  fill: var(--roxo-600) !important;
}
.acland .fill-cinza-200, * .fill-cinza-200 {
  fill: var(--cinza-200) !important;
}
.acland .fill-cinza-300, * .fill-cinza-300 {
  fill: var(--cinza-300) !important;
}
.acland .fill-cinza-400, * .fill-cinza-400 {
  fill: var(--cinza-400) !important;
}
.acland .fill-cinza-500, * .fill-cinza-500 {
  fill: var(--cinza-500) !important;
}
.acland .fill-cinza-600, * .fill-cinza-600 {
  fill: var(--cinza-600) !important;
}
.acland .fill-cinza-700, * .fill-cinza-700 {
  fill: var(--cinza-700) !important;
}
.acland .fill-cinza-800, * .fill-cinza-800 {
  fill: var(--cinza-800) !important;
}
.acland .fill-cinza-900, * .fill-cinza-900 {
  fill: var(--cinza-900) !important;
}
.acland .fill-branco, * .fill-branco {
  fill: var(--branco) !important;
}
.acland .fill-preto, * .fill-preto {
  fill: var(--preto) !important;
}
.acland .w, * .w {
  /* viewport */
}
.acland .w-fit-content, * .w-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 576px) {
  .acland .w-sm-100, * .w-sm-100 {
    width: 100%;
  }
}
.acland .wv-100, * .wv-100 {
  width: 100vw;
}
.acland .h, * .h {
  /* viewport */
  /* dinamic viewport */
}
.acland .h-fit-content, * .h-fit-content {
  height: -moz-fit-content;
  height: fit-content;
}
.acland .h-100, * .h-100 {
  height: 100%;
}
.acland .hv-100, * .hv-100 {
  height: 100vh;
}
.acland .hdv-100, * .hdv-100 {
  height: 100dvh;
}
.acland .gap-0, * .gap-0 {
  gap: var(--size-0) !important;
}
.acland .gap-1, * .gap-1 {
  gap: var(--size-1) !important;
}
.acland .gap-2, * .gap-2 {
  gap: var(--size-2) !important;
}
.acland .gap-3, * .gap-3 {
  gap: var(--size-3) !important;
}
.acland .gap-4, * .gap-4 {
  gap: var(--size-4) !important;
}
.acland .gap-5, * .gap-5 {
  gap: var(--size-5) !important;
}
.acland .gap-row-0, * .gap-row-0 {
  row-gap: var(--size-0) !important;
}
.acland .gap-row-1, * .gap-row-1 {
  row-gap: var(--size-1) !important;
}
.acland .gap-row-2, * .gap-row-2 {
  row-gap: var(--size-2) !important;
}
.acland .gap-row-3, * .gap-row-3 {
  row-gap: var(--size-3) !important;
}
.acland .gap-row-4, * .gap-row-4 {
  row-gap: var(--size-4) !important;
}
.acland .gap-row-5, * .gap-row-5 {
  row-gap: var(--size-5) !important;
}
.acland .gap-col-0, * .gap-col-0 {
  -moz-column-gap: var(--size-0) !important;
       column-gap: var(--size-0) !important;
}
.acland .gap-col-1, * .gap-col-1 {
  -moz-column-gap: var(--size-1) !important;
       column-gap: var(--size-1) !important;
}
.acland .gap-col-2, * .gap-col-2 {
  -moz-column-gap: var(--size-2) !important;
       column-gap: var(--size-2) !important;
}
.acland .gap-col-3, * .gap-col-3 {
  -moz-column-gap: var(--size-3) !important;
       column-gap: var(--size-3) !important;
}
.acland .gap-col-4, * .gap-col-4 {
  -moz-column-gap: var(--size-4) !important;
       column-gap: var(--size-4) !important;
}
.acland .gap-col-5, * .gap-col-5 {
  -moz-column-gap: var(--size-5) !important;
       column-gap: var(--size-5) !important;
}
.acland .box-shadow-1, * .box-shadow-1 {
  box-shadow: var(--box-shadow-1);
}
.acland .box-shadow-2, * .box-shadow-2 {
  box-shadow: var(--box-shadow-2);
}
.acland .box-shadow-3, * .box-shadow-3 {
  box-shadow: var(--box-shadow-3);
}
.acland .box-shadow-4, * .box-shadow-4 {
  box-shadow: var(--box-shadow-4);
}
.acland .transition-1, * .transition-1 {
  transition: var(--transition-1);
}
.acland .transition-2, * .transition-2 {
  transition: var(--box-shadow-2);
}
.acland .opacity-0, * .opacity-0 {
  opacity: 0;
}
.acland .opacity-025, * .opacity-025 {
  opacity: 0.25;
}
.acland .opacity-05, * .opacity-05 {
  opacity: 0.5;
}
.acland .opacity-075, * .opacity-075 {
  opacity: 0.75;
}
.acland .opacity-1, * .opacity-1 {
  opacity: 1;
}
.acland .text-balance, * .text-balance {
  text-wrap: balance;
}
.acland .text-pretty, * .text-pretty {
  text-wrap: pretty;
}
.acland .nowrap, * .nowrap {
  white-space: nowrap;
}
.acland .bg-mais, * .bg-mais {
  --plus-size: 24px;
  position: absolute;
  background-size: var(--plus-size) var(--plus-size);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23000000" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.turq, * .bg-mais.turq {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2300ae9d" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.verdee, * .bg-mais.verdee {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23003641" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.verdem, * .bg-mais.verdem {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%237DB61C" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.verdec, * .bg-mais.verdec {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23C9D200" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.roxo, * .bg-mais.roxo {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%2349479D" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}
.acland .bg-mais.branco, * .bg-mais.branco {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20"><g><path fill="%23FFFFFF" d="m4.4,9c-.5,0-.7-.2-.7-.4v-3.3H.4c-.3,0-.4-.3-.4-.7v-.2c0-.4.1-.6.4-.6h3.3V.4c0-.3.2-.4.7-.4h.2c.4,0,.7.1.7.4v3.3h3.3c.2.1.4.3.4.7v.1c0,.5-.2.8-.5.8h-3.2v3.3c0,.2-.3.4-.7.4h-.2Z"/></g></svg>');
}/*# sourceMappingURL=utilities.css.map */