
$turq-200:var(--turq-200);
$turq-300:var(--turq-300);
$turq:var(--turq);
$turq-500:var(--turq-500);
$turq-600:var(--turq-600);

$verdee-200:var(--verdee-200);
$verdee-300:var(--verdee-300);
$verdee:var(--verdee);
$verdee-500:var(--verdee-500);
$verdee-600:var(--verdee-600);

$verdem-200:var(--verdem-200);
$verdem-300:var(--verdem-300);
$verdem:var(--verdem);
$verdem-500:var(--verdem-500);
$verdem-600:var(--verdem-600);

$verdec-200:var(--verdec-200);
$verdec-300:var(--verdec-300);
$verdec:var(--verdec);
$verdec-500:var(--verdec-500);
$verdec-600:var(--verdec-600);

$roxo-200:var(--roxo-200);
$roxo-300:var(--roxo-300);
$roxo:var(--roxo);
$roxo-500:var(--roxo-500);
$roxo-600:var(--roxo-600);

$branco:var(--branco);
$cinza-200:var(--cinza-200);
$cinza-300:var(--cinza-300);
$cinza-400:var(--cinza-400);
$cinza-500:var(--cinza-500);
$cinza-600:var(--cinza-600);
$cinza-700:var(--cinza-700);
$cinza-800:var(--cinza-800);
$cinza-900:var(--cinza-900);
$preto:var(--preto);
$transparente:var(--transparente);

$gradient-turq: var(--gradient-turq);
$gradient-turq-line: var(--gradient-turq-line);
$gradient-verdee: var(--gradient-verdee);
$gradient-verdee-line: var(--gradient-verdee-line);

$cor-perfil-200: var(--cor-perfil-200);
$cor-perfil-300: var(--cor-perfil-300);
$cor-perfil: var(--cor-perfil);
$cor-perfil-500: var(--cor-perfil-500);
$cor-perfil-600: var(--cor-perfil-600);

$cor-apoio-200: var(--cor-apoio-200);
$cor-apoio-300: var(--cor-apoio-300);
$cor-apoio: var(--cor-apoio);
$cor-apoio-500: var(--cor-apoio-500);
$cor-apoio-600: var(--cor-apoio-600);

$cor-destaque-200: var(--cor-destaque-200);
$cor-destaque-300: var(--cor-destaque-300);
$cor-destaque: var(--cor-destaque);
$cor-destaque-500: var(--cor-destaque-500);
$cor-destaque-600: var(--cor-destaque-600);

$cor-base-200: var(--cor-base-200);
$cor-base-300: var(--cor-base-300);
$cor-base: var(--cor-base);
$cor-base-500: var(--cor-base-500);
$cor-base-600: var(--cor-base-600);

$size-0:var(--size-0);
$size-1:var(--size-1);
$size-2:var(--size-2);
$size-3:var(--size-3);
$size-4:var(--size-4);
$size-5:var(--size-5);

$font-size-xs:var(--font-size-xs);
$font-size-sm:var(--font-size-sm);
$font-size-base:var(--font-size-base);
$font-size-6:var(--font-size-6);
$font-size-5:var(--font-size-5);
$font-size-4:var(--font-size-4);
$font-size-3:var(--font-size-3);
$font-size-2:var(--font-size-2);
$font-size-1:var(--font-size-1);
$font-size-sm:var(--font-size-lg);
$font-size-xs:var(--font-size-xl);

$font-sans:var(--font-sans);
$font-script:var(--font-script);

$transition-1:var(--transition-1);
$transition-2:var(--transition-2);

$box-shadow-1:var(--box-shadow-1);
$box-shadow-2:var(--box-shadow-2);
$box-shadow-3:var(--box-shadow-3);
$box-shadow-4:var(--box-shadow-4);



$brand-main: var(--color-brand-main);
$brand-opposite: var(--color-brand-opposite);
$brand-complementary: var(--color-brand-complementary);
$brand-supplementary: var(--color-brand-supplementary);
$brand-dusky: var(--color-brand-dusky);


// Success Colors
$success-darkest: var(--color-denotative-success-darkest);
$success-action: var(--color-denotative-success-action);
$success-default: var(--color-denotative-success-default);
$success-active: var(--color-denotative-success-active);
$success-lightest: var(--color-denotative-success-lightest);

// Info Colors
$info-darkest: var(--color-denotative-info-darkest);
$info-action: var(--color-denotative-info-action);
$info-default: var(--color-denotative-info-default);
$info-active: var(--color-denotative-info-active);
$info-lightest: var(--color-denotative-info-lightest);

// Warning Colors
$warning-darkest: var(--color-denotative-warning-darkest);
$warning-action: var(--color-denotative-warning-action);
$warning-default: var(--color-denotative-warning-default);
$warning-active: var(--color-denotative-warning-active);
$warning-lightest: var(--color-denotative-warning-lightest);

// Error Colors
$error-darkest: var(--color-denotative-error-darkest);
$error-action: var(--color-denotative-error-action);
$error-default: var(--color-denotative-error-default);
$error-active: var(--color-denotative-error-active);
$error-lightest: var(--color-denotative-error-lightest);

// Disabled Colors
$disabled-background: var(--color-function-disabled-background);
$disabled-text: var(--color-function-disabled-text);
$disabled-border: var(--color-function-disabled-border);

// Primary Colors
$primary-darkest: var(--color-function-primary-darkest);
$primary-action: var(--color-function-primary-action);
$primary-default: var(--color-function-primary-default);
$primary-active: var(--color-function-primary-active);
$primary-lightest: var(--color-function-primary-lightest);

// Secondary Colors
$secondary-darkest: var(--color-function-secondary-darkest);
$secondary-action: var(--color-function-secondary-action);
$secondary-default: var(--color-function-secondary-default);
$secondary-active: var(--color-function-secondary-active);
$secondary-lightest: var(--color-function-secondary-lightest);

// Tertiary Colors
$tertiary-darkest: var(--color-function-tertiary-darkest);
$tertiary-action: var(--color-function-tertiary-action);
$tertiary-default: var(--color-function-tertiary-default);
$tertiary-active: var(--color-function-tertiary-active);
$tertiary-lightest: var(--color-function-tertiary-lightest);

// Text Colors
$text-default-low: var(--color-surface-text-default-low);
$text-default-medium: var(--color-surface-text-default-medium);
$text-default-high: var(--color-surface-text-default-high);

$text-highlight-low: var(--color-surface-text-highlight-low);
$text-highlight-medium: var(--color-surface-text-highlight-medium);
$text-highlight-high: var(--color-surface-text-highlight-high);

// Background Colors
$background-low: var(--color-surface-background-low);
$background-medium: var(--color-surface-background-medium);
$background-high: var(--color-surface-background-high);

// Stroke Colors
$stroke-low: var(--color-surface-stroke-low);
$stroke-medium: var(--color-surface-stroke-medium);
$stroke-high: var(--color-surface-stroke-high);

// Support Colors 1
$support-1-low: var(--color-surface-support-1-low);
$support-1-medium: var(--color-surface-support-1-medium);
$support-1-high: var(--color-surface-support-1-high);

// Support Colors 2
$support-2-low: var(--color-surface-support-2-low);
$support-2-medium: var(--color-surface-support-2-medium);
$support-2-high: var(--color-surface-support-2-high);

// Support Colors 3
$support-3-low: var(--color-surface-support-3-low);
$support-3-medium: var(--color-surface-support-3-medium);
$support-3-high: var(--color-surface-support-3-high);

// Support Colors 4
$support-4-low: var(--color-surface-support-4-low);
$support-4-medium: var(--color-surface-support-4-medium);
$support-4-high: var(--color-surface-support-4-high);

// Support Colors 5
$support-5-low: var(--color-surface-support-5-low);
$support-5-medium: var(--color-surface-support-5-medium);
$support-5-high: var(--color-surface-support-5-high);

// Support Colors 6
$support-6-low: var(--color-surface-support-6-low);
$support-6-medium: var(--color-surface-support-6-medium);
$support-6-high: var(--color-surface-support-6-high);
// Support Colors 7
$support-7-low: var(--color-surface-support-7-low);
$support-7-medium: var(--color-surface-support-7-medium);
$support-7-high: var(--color-surface-support-7-high);

// Balance Colors
$balance-income-low: var(--color-surface-balance-income-low);
$balance-income-medium: var(--color-surface-balance-income-medium);

$balance-debit-low: var(--color-surface-balance-debit-low);
$balance-debit-medium: var(--color-surface-balance-debit-medium);

// Shadow Colors
$shadow-default-low: var(--color-surface-shadow-default-low);
$shadow-default-medium: var(--color-surface-shadow-default-medium);
$shadow-default-high: var(--color-surface-shadow-default-high);

$shadow-highlight-low: var(--color-surface-shadow-highlight-low);
$shadow-highlight-medium: var(--color-surface-shadow-highlight-medium);
$shadow-highlight-high: var(--color-surface-shadow-highlight-high);