@import "../essencial/variaveis.scss";
.acland {

    h,
    .h {
        &1 {
            color: $primary;
            //font-size: 3.125rem;
            font-weight:bold;
            font-size: var(--font-size-1) ;
            //line-height: var(--font-size-1);
            margin-bottom: $size-3;
        }

        &2 {
            color: $primary;
            //font-size: 2.5rem;
            font-weight:bold;
            font-size: var(--font-size-2) ;
            //line-height: var(--font-size-2);
            margin-bottom: $size-3;
        }

        &3 {
            color: $primary;
            //font-size: 2.1875rem;
            font-weight:bold;
            font-size: var(--font-size-3) ;
            //line-height: var(--font-size-3);
            margin-bottom: $size-3;
        }

        &4 {
            color: $primary;
            //font-size: 1.75rem;
            font-weight:bold;
            font-size: var(--font-size-4) ;
            //line-height: var(--font-size-4);
            margin-bottom: $size-3;
        }

        &5 {
            color: $primary;
            //font-size: 1.5rem;
            font-weight:bold;
            font-size: var(--font-size-5) ;
            //line-height: var(--font-size-5);
            margin-bottom: $size-3;
        }

        &6 {
            color: $primary;
            //font-size: 1rem;
            font-weight:bold;
            font-size: var(--font-size-6) ;
            //line-height: var(--font-size-6);
            margin-bottom: $size-3;
        }
    }

    p {
        color: $dark;
        //font-size: 1rem;
        font-size: var(--font-size-bs) ;
        //line-height: var(--font-size-base);
    }

    .small {
        color: $cor-apoio;
        //font-size: .875rem;
        font-size: var(--font-size-sm) ;
        //line-height: var(--font-size-small);
    }

    button:focus{
        outline: 1px auto var(--turq);
    }

}

html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-sans)!important;
  }
  
  .escrita, .script, .cursive, .cursiva, .pacifico{
    font-family: var(--font-script)!important;
    font-weight: 700;
  }