.acland {
    p {
        color: $dark;
        font-size: $font-size-base;
    }

    .small {
        color: $dark;
        font-size: $font-size-sm;
    }

    button:focus{
        outline: 1px auto $primary;
    }

}

html {
    scroll-behavior: smooth;
  }
  
  .escrita, .script, .cursive, .cursiva, .pacifico{
    font-family: var(--font-script)!important;
    font-weight: 700;
  }