@import "../essencial/variaveis.scss";
@import 'liferay-components.scss';

// AJUSTES LP LIFERAY
.row {
  margin-right: 0px;
  margin-left: 0px;
}

body #content,
#content,
.portlet-column {
  padding: 0 !important;
}

.acland {

  .portlet-column-content.empty {
    padding: 0 !important;
  }

  [data-title="Informações"],
  .add-comment,
  .portlet-topper-toolbar>[data-qa-id="addButton"] {
    display: none !important;
  }
}



a {
  color: $primary;

  &:hover {
    color: $turq-600;
  }

  &:focus {
    box-shadow: none !important;
  }
}

.whatsapp.wpp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  -webkit-animation: all 1s ease-in-out;
  animation: all 1s ease-in-out;

  img {
    width: 50px;
    height: auto;
  }

  &:hover {
    transform: scale(0.95, 0.95);
  }

  .btn:focus {
    transform: scale(0.9, 0.9);
    box-shadow: none !important;
  }
}

.portlet-topper-none {
  .portlet-topper {
    display: none;
  }
}

.homol,
section[id*='-homol'] {
  display: none;
}

body.signed-in {

  .homol,
  section[id*='-homol'] {
    display: block;
  }
}

// Documentos e Mídias

.acland,
* {

  #onetrust-pc-sdk {

    h2 {
      font-size: 1.37em !important;
    }

    h2 {
      font-size: 1.37em !important;
      font-size: .875em;
    }
  }
}