@import "../essencial/variaveis.scss";

// AJUSTES LP LIFERAY
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body #content,
#content,
.portlet-column {
  padding: 0 !important;
}

.acland{
  .portlet-column-content.empty {
    padding: 0 !important;
  }
}

h,
.h {
  &1 {
    font-size: 3.125rem;
    font-weight: bold;
    color: $primary;
  }

  &2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: $primary;
  }

  &3 {
    font-size: 2.1875rem;
    font-weight: bold;
    color: $primary;
  }

  &4 {
    font-size: 1.75rem;
    font-weight: bold;
    color: $primary;
  }

  &5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary;
  }

  &6 {
    font-size: 1.125rem;
    font-weight: bold;
    color: $primary;
  }
}

a{
  color: var(--turq);
  &:hover{
    color: var(--turq-600);
  }
  &:focus{
    box-shadow: none!important;
  }
}

.whatsapp.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-animation: all 1s ease-in-out;
  animation: all 1s ease-in-out;

  img {
    width: 70px;
    height: auto;
  }

  &:hover {
    transform: scale(0.95, 0.95);
  }

  .btn:focus {
    transform: scale(0.9, 0.9);
    box-shadow: none !important;
  }
}

.container {
  padding-right: 12px;
  padding-left: 12px;

  @media (min-width: 1280px){
      max-width: 1248px!important;
  }
}

img{
  max-width: 100%;
}

footer .col-xs-6 {
  @media (max-width: 550px) {
    max-width: 100%;
    padding-bottom: 30px;
  }
}

footer {
  padding-top: 4.0625rem;
  .content{
    padding: 0 0 6.25rem 0;
  }
}

.fa-youtube-play:before {
  content: "\f167";
}