.acland-docs {

  .management-bar .navbar-nav,
  .bulk-status-container,
  .info-panel.sidenav-menu-slider,
  .dropdown-menu-left-side li {
    display: none !important;
  }

  .management-bar {
    display: block !important;
    min-height: fit-content !important;
    margin-bottom: $size-2;

    .navbar-form {
      height: fit-content !important;
      padding: $size-0 !important;

      .input-group-item {

        input {
          height: 100%;
          border-top-left-radius: $size-2;
          border-bottom-left-radius: $size-2;
          border: 1px solid $verdee;
          border-right: 0px;
          color: $verdee;
        }

        span {
          background: $turq;
          border: 1px solid $verdee;
          border-left: 0px;
          border-top-right-radius: $size-2;
          border-bottom-right-radius: $size-2;
          padding: 0;

          button {
            padding: $size-3 $size-4 !important;
            height: fit-content;
          }
        }

      }

    }

  }

  .subnav-tbar-primary {
    background-color: $turq-200;
    padding: $size-2 $size-1;
    font-size: $font-size-sm;
    border-radius: $size-2;
    margin-bottom: $size-4;
    margin-top: 0;
  }

  .search-info {
    font-size: $font-size-sm;
    font-weight: 700;
    margin-top: $size-0;

    .btn-secondary {
      max-width: fit-content !important;
    }
  }

  .dropdown-menu-left-side li:nth-child(1) {
    display: list-item !important;
  }

  .taglib-header .header-title {
    font-size: $font-size-5;
  }

  .main-content-body {
    margin-top: $size-4;
  }

  .list-group {
    background: $branco;
    padding: $size-3 calc($size-2 + $size-1);
    box-shadow: 0px 0px 80px 0px rgba(0, 53, 62, 0.1) !important;
    border-radius: $size-3 !important;
    border: 1px solid $verdee !important;

    &-header {
      background: $branco;
      border: none;
    }

    &-item {
      padding: $size-0 $size-3 !important;
      background-color: transparent !important;
      box-shadow: none !important;

      position: relative;
      min-height: 50px;

      .autofit-col {
        justify-content: center !important;

        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {

          .sticker {
            background-image: url(https://www.sicoob.com.br/documents/20128/275218605/pasta.svg) !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: $size-4 !important;

            &.aspect-ratio-bg-cover,
            &.file-icon-color-2 {
              background-image: url(https://www.sicoob.com.br/documents/20128/275218605/arquivo.svg) !important;
              background-size: 20px !important;
            }
          }

          span,
          svg {
            display: none;
          }
        }

        &:nth-child(3) span {
          display: none;
        }
      }

      h2 a {
        color: $verdee !important;
        display: block;
        padding: calc($size-2 + $size-1) $size-0;
        font-size: $font-size-bs;
      }

      &:hover {
        background-color: $turq !important;
        border-radius: $size-1;

        .autofit-col:nth-child(2) .sticker {
          background-image: url(https://www.sicoob.com.br/documents/20128/275218605/pasta-branca.svg) !important;

          &.aspect-ratio-bg-cover,
          &.file-icon-color-2 {
            background-image: url(https://www.sicoob.com.br/documents/20128/275218605/arquivo-branco.svg) !important;
          }
        }

        h2 {
          a {
            color: $branco !important;
            text-decoration: none !important;
            font-size: $font-size-bs !important;
          }

          .dropdown-menu>li>a {
            &:focus {
              box-shadow: inset 0 0 0 0.125rem $turq, inset 0 0 0 0.25rem $branco;
            }

            &:active {
              background-color: $turq-200;
            }
          }
        }
      }
    }
  }

  @media (max-width:992px) {
    .lfr-description-column {
      display: none !important;
    }
  }

  .entry-selector,
  .lfr-checkbox-column,
  thead {
    display: none;
  }

  span {
    white-space: normal !important;
  }

  .sticker {
    background: transparent !important;
  }

  .lexicon-icon {
    fill: $verdee;
  }

  button .lexicon-icon {
    fill: $branco;
  }

  .pagination-bar {
    margin: $size-4 $size-0;

    .pagination-results {
      margin-bottom: 0;
      font-size: $font-size-sm !important;
    }

    .pagination li:first-child>a:after {
      margin-left: 3px;
    }

    .pagination li:last-child .lfr-portal-tooltip {
      position: absolute;
      right: -6px;
      top: -1px;
    }

  }
}


.breadcrumb {

  &-link {
    color: $verdee;
    font-weight: bold;
    transition: $transition-2;

    &:hover {
      color: $verdee;
      padding-left: 15px;
      text-decoration: none !important;
    }

    &-link>.breadcrumb-text-truncate:hover,
    &-link>.breadcrumb-text-truncate:focus {
      text-decoration: none !important;
    }
  }

  &-item {
    font-size: $font-size-sm;

    &:last-child {
      width: 100%;
      font-size: $font-size-6;
      color: $verdee;
      font-weight: bold;
    }

    &-item+.breadcrumb-item::before {
      background-image: url('data:image/svg+xml;utf8,<svg id="chavron" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.35 16.01" height="16px" width="16px"><path class="cls-1" d="M4.61,16a1.33,1.33,0,0,1-.94-2.27L9.4,8,3.67,2.27A1.33,1.33,0,0,1,5.56.39l6.67,6.67a1.33,1.33,0,0,1,0,1.88L5.56,15.62A1.33,1.33,0,0,1,4.61,16Z" fill="%2300353e"/></svg>');
    }
  }

  &-text-truncate {
    max-width: fit-content;
  }
}