@import "../essencial/variaveis.scss";

// AJUSTES LP LIFERAY
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body #content,
#content,
.portlet-column {
  padding: 0 !important;
}

.acland{
  .portlet-column-content.empty {
    padding: 0 !important;
  }
}

h,
.h {
  &1 {
    color: $cor-perfil;
  }

  &2 {
    color: $cor-perfil;
  }

  &3 {
    color: $cor-perfil;
  }

  &4 {
    color: $cor-perfil;
  }

  &5 {
    color: $cor-perfil;
  }

  &6 {
    color: $cor-perfil;
  }
}

a{
  color: $cor-perfil;
  &:hover{
    color: $cor-perfil-600;
  }
  &:focus{
    box-shadow: none!important;
  }
}

.whatsapp.wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  -webkit-animation: all 1s ease-in-out;
  animation: all 1s ease-in-out;

  img {
    width: 70px;
    height: auto;
  }

  &:hover {
    transform: scale(0.95, 0.95);
  }

  .btn:focus {
    transform: scale(0.9, 0.9);
    box-shadow: none !important;
  }
}
