@charset "UTF-8";
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

body #content,
#content,
.portlet-column {
  padding: 0 !important;
}

.acland .portlet-column-content.empty {
  padding: 0 !important;
}
.acland [data-title=Informações],
.acland .add-comment,
.acland .navbar-toggler,
.acland .portlet-topper-toolbar > [data-qa-id=addButton] {
  display: none !important;
}

body h1, body h2, body h3, body h4, body h5, body h6,
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6, body.para-campo h1, body.para-campo h2, body.para-campo h3, body.para-campo h4, body.para-campo h5, body.para-campo h6,
body.para-campo .h1,
body.para-campo .h2,
body.para-campo .h3,
body.para-campo .h4,
body.para-campo .h5,
body.para-campo .h6, body.para-agronegocio h1, body.para-agronegocio h2, body.para-agronegocio h3, body.para-agronegocio h4, body.para-agronegocio h5, body.para-agronegocio h6,
body.para-agronegocio .h1,
body.para-agronegocio .h2,
body.para-agronegocio .h3,
body.para-agronegocio .h4,
body.para-agronegocio .h5,
body.para-agronegocio .h6, body.para-empresa h1, body.para-empresa h2, body.para-empresa h3, body.para-empresa h4, body.para-empresa h5, body.para-empresa h6,
body.para-empresa .h1,
body.para-empresa .h2,
body.para-empresa .h3,
body.para-empresa .h4,
body.para-empresa .h5,
body.para-empresa .h6, body.para-voce h1, body.para-voce h2, body.para-voce h3, body.para-voce h4, body.para-voce h5, body.para-voce h6,
body.para-voce .h1,
body.para-voce .h2,
body.para-voce .h3,
body.para-voce .h4,
body.para-voce .h5,
body.para-voce .h6, body.acland h1, body.acland h2, body.acland h3, body.acland h4, body.acland h5, body.acland h6,
body.acland .h1,
body.acland .h2,
body.acland .h3,
body.acland .h4,
body.acland .h5,
body.acland .h6, body.acland.para-campo h1, body.acland.para-campo h2, body.acland.para-campo h3, body.acland.para-campo h4, body.acland.para-campo h5, body.acland.para-campo h6,
body.acland.para-campo .h1,
body.acland.para-campo .h2,
body.acland.para-campo .h3,
body.acland.para-campo .h4,
body.acland.para-campo .h5,
body.acland.para-campo .h6, body.acland.para-agronegocio h1, body.acland.para-agronegocio h2, body.acland.para-agronegocio h3, body.acland.para-agronegocio h4, body.acland.para-agronegocio h5, body.acland.para-agronegocio h6,
body.acland.para-agronegocio .h1,
body.acland.para-agronegocio .h2,
body.acland.para-agronegocio .h3,
body.acland.para-agronegocio .h4,
body.acland.para-agronegocio .h5,
body.acland.para-agronegocio .h6, body.acland.para-empresa h1, body.acland.para-empresa h2, body.acland.para-empresa h3, body.acland.para-empresa h4, body.acland.para-empresa h5, body.acland.para-empresa h6,
body.acland.para-empresa .h1,
body.acland.para-empresa .h2,
body.acland.para-empresa .h3,
body.acland.para-empresa .h4,
body.acland.para-empresa .h5,
body.acland.para-empresa .h6, body.acland.para-voce h1, body.acland.para-voce h2, body.acland.para-voce h3, body.acland.para-voce h4, body.acland.para-voce h5, body.acland.para-voce h6,
body.acland.para-voce .h1,
body.acland.para-voce .h2,
body.acland.para-voce .h3,
body.acland.para-voce .h4,
body.acland.para-voce .h5,
body.acland.para-voce .h6,
body .acland h1,
body .acland h2,
body .acland h3,
body .acland h4,
body .acland h5,
body .acland h6,
body .acland .h1,
body .acland .h2,
body .acland .h3,
body .acland .h4,
body .acland .h5,
body .acland .h6,
body .acland.para-campo h1,
body .acland.para-campo h2,
body .acland.para-campo h3,
body .acland.para-campo h4,
body .acland.para-campo h5,
body .acland.para-campo h6,
body .acland.para-campo .h1,
body .acland.para-campo .h2,
body .acland.para-campo .h3,
body .acland.para-campo .h4,
body .acland.para-campo .h5,
body .acland.para-campo .h6,
body .acland.para-agronegocio h1,
body .acland.para-agronegocio h2,
body .acland.para-agronegocio h3,
body .acland.para-agronegocio h4,
body .acland.para-agronegocio h5,
body .acland.para-agronegocio h6,
body .acland.para-agronegocio .h1,
body .acland.para-agronegocio .h2,
body .acland.para-agronegocio .h3,
body .acland.para-agronegocio .h4,
body .acland.para-agronegocio .h5,
body .acland.para-agronegocio .h6,
body .acland.para-empresa h1,
body .acland.para-empresa h2,
body .acland.para-empresa h3,
body .acland.para-empresa h4,
body .acland.para-empresa h5,
body .acland.para-empresa h6,
body .acland.para-empresa .h1,
body .acland.para-empresa .h2,
body .acland.para-empresa .h3,
body .acland.para-empresa .h4,
body .acland.para-empresa .h5,
body .acland.para-empresa .h6,
body .acland.para-voce h1,
body .acland.para-voce h2,
body .acland.para-voce h3,
body .acland.para-voce h4,
body .acland.para-voce h5,
body .acland.para-voce h6,
body .acland.para-voce .h1,
body .acland.para-voce .h2,
body .acland.para-voce .h3,
body .acland.para-voce .h4,
body .acland.para-voce .h5,
body .acland.para-voce .h6 {
  color: var(--cor-perfil);
}

a {
  color: var(--cor-perfil);
}
a:hover {
  color: var(--cor-perfil-600);
}
a:focus {
  box-shadow: none !important;
}

.whatsapp.wpp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  animation: all 1s ease-in-out;
}
.whatsapp.wpp img {
  width: 50px;
  height: auto;
}
.whatsapp.wpp:hover {
  transform: scale(0.95, 0.95);
}
.whatsapp.wpp .btn:focus {
  transform: scale(0.9, 0.9);
  box-shadow: none !important;
}

footer .navbar-nav {
  flex-direction: column;
}
footer .portlet-title-text {
  overflow: visible !important;
}
@media (max-width: 550px) {
  footer .text-truncate {
    white-space: nowrap;
  }
  footer .col-xs-6 {
    max-width: 100%;
    padding-bottom: 30px;
  }
}

.acland #onetrust-pc-sdk h2, * #onetrust-pc-sdk h2 {
  font-size: 1.37em !important;
}
.acland #onetrust-pc-sdk h2, * #onetrust-pc-sdk h2 {
  font-size: 1.37em !important;
  font-size: 0.875em;
}/*# sourceMappingURL=liferay.css.map */